<div class="module sq">
	<h2 class="title">
		{{ label }}
	</h2>
	<div class="wrap center">
		{% if number.label %}
			<h3 class="small-text">{{ number.label }}</h3>
		{% endif %}

		<h2 class="large-text">
			{{ number.value }}

			{% if number.units %}
				<span class="small">{{ number.units }}</span>
			{% endif %}
		</h2>
	</div>
</div>