{% extends '::_templates/main' %}

{% block body %}
<h1>Forgotten your password?</h1>

{{ render(controller('Message:User::Controller:ForgottenPassword#request', {
	resetRoute: 'ms.cp.password.reset',
	email: email
})) }}
{% endblock %}