/* ======================================================= */
/*                                                         */
/*                                                         */
/*    Mothership                                           */
/*                                                         */
/*                                                         */
/* ======================================================= */
/*
/*
/*    Development by Message
/*    http://www.message.co.uk
/*
/*    Basic Style Style Sheet v1.0
/*    Created by Richard McCartney
/*
/*
/* ======================================================= */

/* font-family:'Proxima N W15 Black'; */

/* font-family:'Proxima N W15 Black It'; */

/* font-family:'Proxima N W15 Bold'; */

/* font-family:'Proxima N W15 Bold It'; */

/* font-family:'Proxima N W15 Reg'; */

/* font-family:'Proxima N W15 Reg It'; */

/* font-family:'Proxima N W15 Smbd'; */

/* font-family:'Proxima N W15 Smbd It'; */

/* font-family:'Proxima N W15 Light'; */

/* font-family:'Proxima N W15 Light It'; */


* {
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
}

html {
	height: 100%;
    font-size: 1em;
	-webkit-text-size-adjust: 1em;
	-ms-text-size-adjust: 1em;
}

body {
	position: relative;
	overflow: hidden;
	height: 100%;
	color: #333;
	font-size: 100%;
	font-family:'Proxima N W15 Reg', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}




/* Text and links
------------------------------------------------------------ */



a {
	color: #333;
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}

p {
	font-size: 1em;
	font-family:'Proxima N W15 Reg', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p a {
	text-decoration: underline;
}

p a:hover {
	text-decoration: underline;
}

b, 
strong {
	font-family:'Proxima N W15 Bold'; 
	font-weight: normal;
}

h1,
h2,
h3,
h4,
h5 {
	color: #333;
	font-weight: normal;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 1.500em;
}

h2 {
	font-size: 1.250em;
}

h3 {
	font-size: 1.125em;
}

h4 {
	font-size: 1.000em;
}

h5 {
	font-size: 1.000em;
}



/* Form elements
------------------------------------------------------------ */



form {
	position: relative;
	display: inline-block;
	margin-bottom: 30px;
}

input,
textarea {
	position: relative;
	z-index: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
	margin: 0 0 10px 0;
	margin-bottom: 15px;
	padding: 5px 10px 3px;
	max-width: 100%;
	width: 100%;
	border: 1px solid #CCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 5px rgba(000,000,000,0.1);
	-moz-box-shadow: 0 1px 5px rgba(000,000,000,0.1);
	box-shadow: 0 1px 5px rgba(000,000,000,0.1);
	color: #333;
	font-size: 1.0em;
	font-family:'Proxima N W15 Reg', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.0em;
	-webkit-transition: border .15s linear, color .15s linear, box-shadow .15s linear;
	-moz-transition: border .15s linear, color .15s linear, box-shadow .15s linear;
	-ms-transition: border .15s linear, color .15s linear, box-shadow .15s linear;
	transition: border .15s linear, color .15s linear, box-shadow .15s linear;
	float: left;
}

textarea {
	overflow: auto;
	min-height: 150px;
	line-height: 1.5em;
}

input.error {
	border-color: #ce2828;
}

input.success {
	border-color: #22a437;
}

input[type="checkbox"],
input[type="radio"],
input[type="image"] {
	float: left;
	margin-right: 9px;
	width: auto !important;
	height: auto;
}

input[type="checkbox"]:hover,
input[type="radio"]:hover,
input[type="image"]:hover {
	cursor: pointer;
}

select {
	margin: 0 0 10px 0;
	padding: 5px 5px 3px;
	min-width: 475px;
	border: 1px solid #b1b1b1;
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(top, #ffffff, #e6e6e6);
	font-size: 0.875em;
	font-family:'Proxima N W15 Reg', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#e6e6e6');
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	float: left;
}

select[multiple] {
	background: #FFF;
}

select:hover {
	cursor: pointer;
}

label {
	float: left;
	margin: 0 0 10px 0;
	width: 100%;
	font-size: 1.0em;
	font-family: 'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

label[for="setloggedin"]:hover {
	cursor: pointer;
}

input:hover,
textarea:hover {
	border: 1px solid #999;
}

input[type]:focus,
textarea:focus {
	outline: none;
	border: 1px solid #467eb0;
	-webkit-box-shadow: 0 1px 5px rgba(208,60,69,0.1);
	-moz-box-shadow: 0 1px 5px rgba(208,60,69,0.1);
	box-shadow: 0 1px 5px rgba(208,60,69,0.1);
}

select:focus,
select:active {
	outline: none;
}

button:hover,
.button:hover {
	text-decoration: none;
	cursor: pointer;
}

button:active,
.button:active {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 0 1px rgba(0, 0, 0, 0.08), 0 1px 0 rgba(255, 255, 255, 0.9);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 0 1px rgba(0, 0, 0, 0.08), 0 1px 0 rgba(255, 255, 255, 0.9);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 0 1px rgba(0, 0, 0, 0.08), 0 1px 0 rgba(255, 255, 255, 0.9);
}



/* Button styles
------------------------------------------------------------ */




.button {
	display: inline-block;
	margin-bottom: 0;
	padding: 12px 15px;
	border: 1px solid #CCC;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #f2f2f2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e5e5e5));
	background-image: -webkit-linear-gradient(top, #f2f2f2, #e5e5e5);
	background-image: -moz-linear-gradient(top, #f2f2f2, #e5e5e5);
	background-image: -o-linear-gradient(top, #f2f2f2, #e5e5e5);
	background-image: -ms-linear-gradient(top, #f2f2f2, #e5e5e5);
	background-image: linear-gradient(top, #f2f2f2, #e5e5e5);
	-webkit-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.25), 0px 1px 3px rgba(000,000,000,0.1);
	-moz-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.25), 0px 1px 3px rgba(000,000,000,0.1);
	box-shadow: inset 1px 1px 0 rgba(255,255,255,0.25), 0px 1px 3px rgba(000,000,000,0.1);
	color: #333;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	text-shadow: 0px 1px 0px #FFF;
	white-space: nowrap;
	font-weight: 500;
	font-size: 1.0em;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.0em;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#528bb6', EndColorStr='#4473a7');
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f2f2f2', EndColorStr='#e5e5e5');
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.button.small {
	padding: 7px 13px 5px;
}



/* Submit, add, upload, create button styles */



.submit,
.create,
.upload,
.add,
.filter {
	border-color: #0b4174;
	background-color: #528cb6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#528cb6), to(#4473a6));
	background-image: -webkit-linear-gradient(top, #528cb6, #4473a6);
	background-image: -moz-linear-gradient(top, #528cb6, #4473a6);
	background-image: -o-linear-gradient(top, #528cb6, #4473a6);
	background-image: -ms-linear-gradient(top, #528cb6, #4473a6);
	background-image: linear-gradient(top, #528cb6, #4473a6);
	color: #FFF;
	text-shadow: 0px -1px 0px #081d31;
}

.add:before,
.create:before {
	margin-right: 8px;
	content: "\f067";
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	font-weight: 500;
	font-size: 0.8em;
	font-family: 'FontAwesome';
	line-height: 0.2em;
}

.upload:before {
	margin-right: 8px;
	content: "\f093";
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	font-weight: 500;
	font-size: 0.8em;
	font-family: 'FontAwesome';
	line-height: 0.2em;
}

.filter:before {
	margin-right: 8px;
	content: "\f0b0";
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	font-weight: 500;
	font-size: 0.8em;
	font-family: 'FontAwesome';
	line-height: 0.2em;
}

.add:hover,
.submit:hover,
.create:hover,
.upload:hover,
.filter:hover {
	background-color: #528bb6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#528bb6), to(#2a537b));
	background-image: -webkit-linear-gradient(top, #528bb6, #2a537b);
	background-image: -moz-linear-gradient(top, #528bb6, #2a537b);
	background-image: -o-linear-gradient(top, #528bb6, #2a537b);
	background-image: -ms-linear-gradient(top, #528bb6, #2a537b);
	background-image: linear-gradient(top, #528bb6, #2a537b);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#528bb6', EndColorStr='#2a537b');
	cursor: pointer;
}

.add:active,
.submit:active,
.create:active,
.upload:active,
.filter:active {

}



/* Accept, save, update button styles */



.accept,
.save,
.update {
	border-color: #0f5b23;
	background-color: #3fa262;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3fa262), to(#196d2e));
	background-image: -webkit-linear-gradient(top, #3fa262, #196d2e);
	background-image: -moz-linear-gradient(top, #3fa262, #196d2e);
	background-image: -o-linear-gradient(top, #3fa262, #196d2e);
	background-image: -ms-linear-gradient(top, #3fa262, #196d2e);
	background-image: linear-gradient(top, #3fa262, #196d2e);
	color: #FFF;
	text-shadow: 0px -1px 0 rgba(15,91,35,0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3fa262', EndColorStr='#196d2e');1px 0px #238241;
}

.accept:before,
.save:before {
	margin-right: 8px;
	content: "\f00c";
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	font-weight: 500;
	font-size: 0.8em;
	font-family: 'FontAwesome';
	line-height: 0.2em;
}

.accept:hover,
.save:hover,
.update:hover {
	background-color: #3d9f60;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3d9f60), to(#125925));
	background-image: -webkit-linear-gradient(top, #3d9f60, #125925);
	background-image: -moz-linear-gradient(top, #3d9f60, #125925);
	background-image: -o-linear-gradient(top, #3d9f60, #125925);
	background-image: -ms-linear-gradient(top, #3d9f60, #125925);
	background-image: linear-gradient(top, #3d9f60, #125925);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3d9f60', EndColorStr='#125925');
}



/* Read more, load, back and edit button styles */



.read-more,
.load,
.back,
.edit,
.preview {

}

.load:before {
	margin-right: 8px;
	content: "\f110";
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	font-weight: 500;
	font-size: 0.8em;
	font-family: 'FontAwesome';
	line-height: 0.2em;
}

.edit:before {
	margin-right: 8px;
	content: "\f044";
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	font-weight: 500;
	font-size: 0.8em;
	font-family: 'FontAwesome';
	line-height: 0.2em;
}

.preview:before {
	margin-right: 8px;
	content: "\f06e";
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	font-weight: 500;
	font-size: 0.8em;
	font-family: 'FontAwesome';
	line-height: 0.2em;
}

.read-more:hover,
.load:hover,
.back:hover,
.edit:hover {

}

.submit:active,
.read-more:active,
.load:active,
.back:active,
.accept:active,
.cancel:active,
.edit:active,
.delete:active {

}



/* Delete, remove, invalidate and cancel button styles */



.delete,
.remove,
.cancel,
.invalidate {
	border-color: #98180f;
	background-color: #d84939;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d84939), to(#bc1b1a));
	background-image: -webkit-linear-gradient(top, #d84939, #bc1b1a);
	background-image: -moz-linear-gradient(top, #d84939, #bc1b1a);
	background-image: -o-linear-gradient(top, #d84939, #bc1b1a);
	background-image: -ms-linear-gradient(top, #d84939, #bc1b1a);
	background-image: linear-gradient(top, #d84939, #bc1b1a);
	color: #FFF;
	text-shadow: 0px 1px 0px #b62619;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#d84939', EndColorStr='#bc1b1a');
}

.invalidate:before,
.cancel:before {
	margin-right: 8px;
	content: "\f00d";
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	font-weight: 500;
	font-size: 0.8em;
	font-family: 'FontAwesome';
	line-height: 0.2em;
}

.delete:before,
.remove:before {
	margin-right: 8px;
	content: "\f014";
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	font-weight: 500;
	font-size: 0.8em;
	font-family: 'FontAwesome';
	line-height: 0.2em;
}

.delete:hover,
.cancel:hover,
.remove:hover {
	background-color: #d74738;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d74738), to(#9b1412));
	background-image: -webkit-linear-gradient(top, #d74738, #9b1412);
	background-image: -moz-linear-gradient(top, #d74738, #9b1412);
	background-image: -o-linear-gradient(top, #d74738, #9b1412);
	background-image: -ms-linear-gradient(top, #d74738, #9b1412);
	background-image: linear-gradient(top, #d74738, #9b1412);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#d74738', EndColorStr='#9b1412');
}



/* Button group
------------------------------------------------------------ */



.button.button-group {
	position: relative;
	padding: 0px;
    border-top: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-bottom: none;
    border-left: 1px solid #CCC;
	-webkit-box-shadow: inset 0px -1px 0 rgba(255,255,255,0.1), 0px 1px 3px rgba(000,000,000,0.05);
	-moz-box-shadow: inset 0px -1px 0 rgba(255,255,255,0.1), 0px 1px 3px rgba(000,000,000,0.05);
	box-shadow: inset 0px -1px 0 rgba(255,255,255,0.1), 0px 1px 3px rgba(000,000,000,0.05);
}

.button.button-group a {
	float: left;
	padding: 12px 15px;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	text-decoration: none;
}

.button.button-group.small a {
	padding: 7px 13px 5px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	text-shadow: 0px 1px 0px #FFF;
	white-space: nowrap;
	font-weight: 500;
	font-size: 1.0em;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.0em;	
}

.button.button-group span {
	display: block;
	float: left;
	padding: 12px 9px;
	width: 18px;
	height: 16px;
	border-bottom: 1px solid #CCC;
}

.button.button-group.small span {
	padding: 7px 13px 5px;
}

.button.button-group span:before {
	content: "\f0d7";
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	font-weight: 500;
	font-size: 0.8em;
	font-family: 'FontAwesome';
	line-height: 0.2em;
}

.button.button-group a:hover,
.button.button-group span:hover {
	-webkit-box-shadow: inset 0px -5px 5px rgba(152,152,152,0.1);
	-moz-box-shadow: inset 0px -5px 5px rgba(152,152,152,0.1);
	box-shadow: inset 0px -5px 5px rgba(152,152,152,0.1);
}

.button.button-group a:active,
.button.button-group span:active {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 0 1px rgba(0, 0, 0, 0.08), 0 1px 0 rgba(255, 255, 255, 0.9);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 0 1px rgba(0, 0, 0, 0.08), 0 1px 0 rgba(255, 255, 255, 0.9);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 0 1px rgba(0, 0, 0, 0.08), 0 1px 0 rgba(255, 255, 255, 0.9);
}

.button.button-group.open span {
	border-bottom: 1px solid #eee;
	background: #eee;
}

.button.button-group.open span:hover {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.button.button-group .dropdown-menu {
	position: absolute;
	top: 41px;
	left: -1px;
	display: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
	padding: 12px 0;
	width: -webkit-calc(100% + 3px);
	width: -moz-calc(100% + 3px);
	width: calc(100% + 3px);
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    border-left: 1px solid #CCC;
    -webkit-border-radius: 0px 0px 2px 2px;
    -moz-border-radius: 0px 0px 2px 2px;
    border-radius: 0px 0px 2px 2px;
    background: #eee;
    -webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.05);
    -moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.05);
    box-shadow: 0px 1px 3px rgba(000,000,000,0.05);
}



/* Code snippets
------------------------------------------------------------ */



pre,
code {

}



/* Table styles
------------------------------------------------------------ */



table {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 30px;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
	font-size: 1.0em;
	border-bottom: 1px solid #CCC;
}

table th {
	padding: 5px;
	border: none;
	background: none;
	font-weight: normal;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	position: relative;
}

table td {
	padding: 7px 10px 5px;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	-webkit-box-shadow: inset 1px 1px 0 #FFF;
	-moz-box-shadow: inset 1px 1px 0 #FFF;
	box-shadow: inset 1px 1px 0 #FFF;
	vertical-align: middle;
	text-align: left;
	font-family:'Proxima N W15 Reg', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	position: relative;
}

table tr {
	border-right: 1px solid #CCC;
}

table thead tr {
	border-right: none;
}

table tr:nth-child(odd) td {
	background: #FAFAFA;
	z-index: 1;
}

table tr:nth-child(even) td {
	background: #EFEFEF;
	z-index: 0;
}

table tr:hover td {
	background: #FFF;
}

table td a {
/*	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	line-height: 60px;
	padding-left: 10px;
	width: 100%;
	word-wrap:break-word;*/
}

table input {
	display: inline-block;
	float: none;
	margin: 0;

}

table select {
	margin-bottom: 0;
	min-width: 0;
	display: inline-block;
	margin: 0 10px;
	float: none;
	margin: 10px 0;
}

table input[type="checkbox"], 
table input[type="radio"], 
table input[type="image"] {
	display: inline-block;
	float: none;
}

table td .inline {
	display: inline-block;
}

table td .field {
	margin-bottom: 0;
}



/* Lists
------------------------------------------------------------ */



ul,
ol {

}

ul li,
ol li {

}

dl {

}

dt {

}

dd {

}



/* Feedback
------------------------------------------------------------ */



.feedback {
	position: relative;
	z-index: 1000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px 15px 0 15px;
	background: #c9e5c9;
	-webkit-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.5), 0px 1px 3px rgba(000,000,000,0.5);
	-moz-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.5), 0px 1px 3px rgba(000,000,000,0.5);
	box-shadow: inset 1px 1px 0 rgba(255,255,255,0.5), 0px 1px 3px rgba(000,000,000,0.5);
	color: #10460a;
	text-shadow: 0px 1px 0 rgba(255,255,255,0.5);
	font-size: 0.875em;
	font-family:'Proxima N W15 Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	float: left;
	width: 100%;
}

.feedback li {
	padding-bottom: 15px;
	font-family:'Proxima N W15 Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	list-style: none;
}

.feedback li:before {
	margin-right: 10px;
	content: "\f058";
	font-family: 'FontAwesome';
}

.feedback span {
	padding-bottom: 10px;
	display: block;
	float: left;
}

.feedback span:hover {
	cursor: pointer;
}

.feedback .less {
	display: none;
}

.feedback .show-more:before {
	margin-right: 10px;
	content: "\f078";
	font-family: 'FontAwesome';
}

.feedback .less:before {
	margin-right: 10px;
	content: "\f077";
	font-family: 'FontAwesome';
}


/* Error */



.feedback.error {
	background: #e8a6a6;
	color: #700d0d;
}

.feedback.error li {
	color: #700d0d;
}

.feedback.error li:before {
	margin-right: 10px;
	content: "\f057";
	font-family: 'FontAwesome';
}



/* Notice */



.feedback.notice {
	background: #d9e6f2;
	color: #184c7f;
}

.feedback.notice li {
	color: #184c7f;
}

.feedback.notice p:before {
	margin-right: 10px;
	content: "\f06a";
	font-family: 'FontAwesome';
}



/* Warning */



.feedback.warning {
	background: #fed779;
	color: #5d460d;
}

.feedback.warning li {
	color: #5d460d;
}

.feedback.warning li:before {
	margin-right: 10px;
	content: "\f071";
	font-family: 'FontAwesome';
}



/* General styles
------------------------------------------------------------ */



[class^="container-"] {
	position: relative;
	float: left;
	width: 100%;
	min-width: 1000px;
	height: 100%;
	background: #F1F1F1;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
	background: #111;
	color: #b1b3b4;
}

.footer .copy {
	float: left;
	margin-top: 13px;
	margin-left: 15px;
	padding-left: 30px;
	height: 18px;
	background: url(../images/message-logo-footer.png) no-repeat left;
	font-size: 0.813em !important;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.footer a {
	color: #b1b3b4;
	font-size: 13px;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.footer .website {
	float: right;
	margin-top: 13px;
	margin-right: 15px;
}

.footer .website i {
	margin-right: 10px;
	text-decoration: none;
}


