 /* ======================================================= */
/*                                                         */
/*                                                         */
/*    Mothership                                           */
/*                                                         */
/*                                                         */
/* ======================================================= */
/*
/*
/*    http://mothership.ec
/*
/*    Basic Style Style Sheet v1.0
/*
/*
/* ======================================================= */



* {
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 1em;
	-webkit-text-size-adjust: 1em;
	-ms-text-size-adjust: 1em;
	height: 100%;
}

body {
	position: relative;
	color: #333;
	background: #e6e6e7;
	font-size: 100%;
	font-family:'Proxima N W15 Reg', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	height: 100%;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/* New CSS */

.container {
    position: relative;

    width: 100%;
    padding: 0px;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;

    -webkit-overflow-scrolling: touch;
}

.inner-container {
	/*
	 * Container used for off canvas elements; Mobile navigation &
	 * shopping basket. Basket functionality will be present from
	 * desktop to mobile devices.
	 *
	 * Transition animations are used to slide the container element
	 * on opening / closing off canvas functionality.
	 */
    position: relative;

    padding: 0px;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    background: #f4f4f6;
}

.nav-open {
	display: none;
}

.search {
	float: left;
}

.search label {
	display: none;
}

.search button:before {
	color: #999;
	content: "\f002";
	font-size: 12px;
	font-family: 'FontAwesome';
	line-height: 12px;
}


/* Text and links
------------------------------------------------------------ */



a {
	color: #333;
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
	color: #528cb6;
}

p {
	font-size: 1em;
	font-family:'Proxima N W15 Reg', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin-bottom: 20px;
}

p a {
	text-decoration: underline;
}

p a:hover {
	text-decoration: underline;
	color: #528cb6;
}

b,
strong {
	font-family:'Proxima N W15 Bold';
	font-weight: normal;
}

h1,
h2,
h3,
h4,
h5 {
	color: #333;
	font-weight: normal;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 1.500em;
}

h2 {
	font-size: 1.250em;
}

h3 {
	font-size: 1.125em;
}

h4 {
	font-size: 1.000em;
}

h5 {
	font-size: 1.000em;
}



/* Form elements
------------------------------------------------------------ */



form {
	position: relative;
	display: block;
	width: 100%;
}


input,
textarea {
	position: relative;
	z-index: 0;
	margin: 0 0 20px 0;
	padding: 9px 7px 7px 7px;
	max-width: 100%;
	width: 100%;
	border: 1px solid #CCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #333;
	font: normal 0.938em/0.938em 'Proxima N W15 Reg', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-transition: border .15s linear, color .15s linear, box-shadow .15s linear;
	-moz-transition: border .15s linear, color .15s linear, box-shadow .15s linear;
	-ms-transition: border .15s linear, color .15s linear, box-shadow .15s linear;
	transition: border .15s linear, color .15s linear, box-shadow .15s linear;
	float: left;
}

textarea {
	overflow: auto;
	min-height: 150px;
	line-height: 1.5em;
}

input.error {
	border-color: #ce2828;
}

input.success {
	border-color: #22a437;
}

input[type="checkbox"],
input[type="radio"],
input[type="image"] {
	float: left;
	margin-right: 9px;
	width: auto !important;
	height: auto;
}

/* Date Fields */

input[type=date] {
	width: 330px;
	margin-right: 20px;
	margin-bottom: 25px;
}

input[type=time]{
	width: 330px;
	margin-right: 20px;
	margin-bottom: 25px;
}


input[type="checkbox"]:hover,
input[type="radio"]:hover,
input[type="image"]:hover {
	cursor: pointer;
}

input[type=time]:before {
	content: 'hh : mm';
	margin-right: 20px;
	float: left;
}

select {
	margin: 0 0 20px 0;
	padding: 6px 20px 4px 10px;
	min-width: 475px;
	border: 1px solid #b1b1b1;
	background-repeat: no-repeat;
	background-position: right center;
	background-color: #ffffff;
	background-image:  url(../images/select-arrow-light.png), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e6e6));
	background-image:  url(../images/select-arrow-light.png), -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image:  url(../images/select-arrow-light.png), -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image:  url(../images/select-arrow-light.png), -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image:  url(../images/select-arrow-light.png), -ms-linear-gradient(top, #ffffff, #e6e6e6);
	background-image:  url(../images/select-arrow-light.png), linear-gradient(top, #ffffff, #e6e6e6);
	font-size: 0.875em;
	font-family:'Proxima N W15 Reg', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#e6e6e6');
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	float: left;
	text-indent: 0.01px;
    text-overflow: '';
}

select[multiple] {
	background: #FFF;
}

select:hover {
	cursor: pointer;
}

label {
	float: left;
	margin: 0 0 5px 0;
	width: 100%;
	font-size: 15px;
	font-family: 'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

label:hover,
label[for="setloggedin"]:hover {
	cursor: pointer;
}

input:hover,
textarea:hover {
	border: 1px solid #999;
}

input[type]:focus,
textarea:focus {
	outline: none;
	border: 1px solid #467eb0;
	-webkit-box-shadow: 0 1px 5px rgba(208,60,69,0.1);
	-moz-box-shadow: 0 1px 5px rgba(208,60,69,0.1);
	box-shadow: 0 1px 5px rgba(208,60,69,0.1);
}

select:focus,
select:active {
	outline: none;
}

button:hover,
.button:hover {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

button:active,
.button:active {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 0 1px rgba(0, 0, 0, 0.08), 0 1px 0 rgba(255, 255, 255, 0.9);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 0 1px rgba(0, 0, 0, 0.08), 0 1px 0 rgba(255, 255, 255, 0.9);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 0 1px rgba(0, 0, 0, 0.08), 0 1px 0 rgba(255, 255, 255, 0.9);
}

.block-btn {
	clear: both;
	display: block;
}

.field.required label:after {
	content: '*';
	font-size: 20px;
	vertical-align: middle;
	margin-left: 5px;
	top: 3px;
	position: relative;
}


.container-content form:after {
	content: '* Required field';
	clear: both;
	display: block;
	margin: 0 0 10px 0;
	float: left;
	width: 100%;
	font-size: 0.8em;
	font-style: italic;
}

label[for='form_balance_amount'] {
	display: none;
}

.ui-datepicker {
	padding: 10px;
	background: #FFF;
	border: 1px solid #CCC;
	-webkit-box-shadow: 0 2px 15px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 2px 15px rgba(0,0,0,0.2);
	box-shadow: 0 2px 15px rgba(0,0,0,0.2);
}

.ui-datepicker-title {
	text-align: center;
}

.ui-datepicker-next,
.ui-datepicker-prev {
	color: transparent;
	position: absolute;
}

.ui-datepicker-next:hover,
.ui-datepicker-prev:hover {
	color: transparent;
}

.ui-datepicker-next {
	right: 10px;
}

.ui-datepicker-next:before {
	content: '\f054';
	font-family: 'FontAwesome';
	display: block;
	top: 0;
	right: -20px;
	margin-right: 0px;
	color: #333;
	position: relative;
}

.ui-datepicker-prev:before {
	content: '\f053';
	font-family: 'FontAwesome';
	display: block;
	color: #333;
	position: relative;
}



/* Button styles
------------------------------------------------------------ */



.button {
	display: inline-block;
	margin-bottom: 0;
	padding: 12px 15px;
	border: 1px solid #CCC;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #f2f2f2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e5e5e5));
	background-image: -webkit-linear-gradient(top, #f2f2f2, #e5e5e5);
	background-image: -moz-linear-gradient(top, #f2f2f2, #e5e5e5);
	background-image: -o-linear-gradient(top, #f2f2f2, #e5e5e5);
	background-image: -ms-linear-gradient(top, #f2f2f2, #e5e5e5);
	background-image: linear-gradient(top, #f2f2f2, #e5e5e5);
	-webkit-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.25), 0px 1px 3px rgba(000,000,000,0.1);
	-moz-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.25), 0px 1px 3px rgba(000,000,000,0.1);
	box-shadow: inset 1px 1px 0 rgba(255,255,255,0.25), 0px 1px 3px rgba(000,000,000,0.1);
	color: #333;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	text-shadow: 0px 1px 0px #FFF;
	white-space: nowrap;
	font-weight: 500;
	font-size: 1.0em;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.0em;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#528bb6', EndColorStr='#4473a7');
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f2f2f2', EndColorStr='#e5e5e5');
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.button.small {
	padding: 7px 13px 5px;
}

input.button {
	width: 100px;
}

.button:hover {
	-webkit-box-shadow: inset 0px -5px 5px rgba(152,152,152,0.1), 0px 1px 3px rgba(000,000,000,0.1);
	-moz-box-shadow: inset 0px -5px 5px rgba(152,152,152,0.1), 0px 1px 3px rgba(000,000,000,0.1);
	box-shadow: inset 0px -5px 5px rgba(152,152,152,0.1), 0px 1px 3px rgba(000,000,000,0.1);
	color: inherit;
}

.button.icon {
	padding: 5px 8px;
}

.button.icon:before {
	margin-right: 0px;
}

/* Submit, add, upload, create button styles */



.submit,
.create,
.upload,
.add,
.filter,
.toggle,
.download {
	border-color: #0b4174;
	background-color: #528cb6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#528cb6), to(#4473a6));
	background-image: -webkit-linear-gradient(top, #528cb6, #4473a6);
	background-image: -moz-linear-gradient(top, #528cb6, #4473a6);
	background-image: -o-linear-gradient(top, #528cb6, #4473a6);
	background-image: -ms-linear-gradient(top, #528cb6, #4473a6);
	background-image: linear-gradient(top, #528cb6, #4473a6);
	color: #FFF;
	text-shadow: 0px -1px 0px #081d31;
}

.add:before,
.create:before {
	margin-right: 8px;
	content: "\f067";
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	font-weight: 500;
	font-size: 0.8em;
	font-family: 'FontAwesome';
	line-height: 0.2em;
}

.upload:before {
	margin-right: 8px;
	content: "\f093";
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	font-weight: 500;
	font-size: 0.8em;
	font-family: 'FontAwesome';
	line-height: 0.2em;
}

.download:before {
	margin-right: 8px;
	content: "\f019";
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	font-weight: 500;
	font-size: 0.8em;
	font-family: 'FontAwesome';
	line-height: 0.2em;
}

.filter:before {
	margin-right: 8px;
	content: "\f0b0";
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	font-weight: 500;
	font-size: 0.8em;
	font-family: 'FontAwesome';
	line-height: 0.2em;
}

.download:before {
	content: "\f019";
	margin-right: 8px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	font-weight: 500;
	font-size: 0.8em;
	font-family: 'FontAwesome';
	line-height: 0.2em;
}
.caret-right:before {
	margin-right: 8px;
	content: "\f0da";
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	font-weight: 500;
	font-size: 0.8em;
	font-family: 'FontAwesome';
	line-height: 0.2em;
}

.caret-left:before {
	margin-right: 8px;
	content: "\f0d9";
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	font-weight: 500;
	font-size: 0.8em;
	font-family: 'FontAwesome';
	line-height: 0.2em;
}

.add:hover,
.submit:hover,
.create:hover,
.upload:hover,
.download:hover,
.filter:hover,
.toggle:hover {
	background-color: #528bb6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#528bb6), to(#2a537b));
	background-image: -webkit-linear-gradient(top, #528bb6, #2a537b);
	background-image: -moz-linear-gradient(top, #528bb6, #2a537b);
	background-image: -o-linear-gradient(top, #528bb6, #2a537b);
	background-image: -ms-linear-gradient(top, #528bb6, #2a537b);
	background-image: linear-gradient(top, #528bb6, #2a537b);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#528bb6', EndColorStr='#2a537b');
	cursor: pointer;
	color: #FFF !important;
}

.add:active,
.submit:active,
.create:active,
.upload:active,
.filter:active {

}



/* Accept, save, update button styles */



.accept,
.save,
.update {
	border-color: #0f5b23;
	background-color: #3fa262;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3fa262), to(#196d2e));
	background-image: -webkit-linear-gradient(top, #3fa262, #196d2e);
	background-image: -moz-linear-gradient(top, #3fa262, #196d2e);
	background-image: -o-linear-gradient(top, #3fa262, #196d2e);
	background-image: -ms-linear-gradient(top, #3fa262, #196d2e);
	background-image: linear-gradient(top, #3fa262, #196d2e);
	color: #FFF;
	text-shadow: 0px -1px 0 rgba(15,91,35,0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3fa262', EndColorStr='#196d2e');1px 0px #238241;
}

.accept:before,
.save:before, .update:before {
	margin-right: 8px;
	content: "\f00c";
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	font-weight: 500;
	font-size: 0.8em;
	font-family: 'FontAwesome';
	line-height: 0.2em;
}

.accept:hover,
.save:hover,
.update:hover {
	background-color: #3d9f60;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3d9f60), to(#125925));
	background-image: -webkit-linear-gradient(top, #3d9f60, #125925);
	background-image: -moz-linear-gradient(top, #3d9f60, #125925);
	background-image: -o-linear-gradient(top, #3d9f60, #125925);
	background-image: -ms-linear-gradient(top, #3d9f60, #125925);
	background-image: linear-gradient(top, #3d9f60, #125925);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3d9f60', EndColorStr='#125925');
	color: #FFF !important;
}



/* Read more, load, back and edit button styles */



.read-more,
.load,
.back,
.edit,
.preview {

}

.load:before {
	margin-right: 8px;
	content: "\f110";
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	font-weight: 500;
	font-size: 0.8em;
	font-family: 'FontAwesome';
	line-height: 0.2em;
}

.edit:before {
	margin-right: 8px;
	content: "\f040";
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	font-weight: 500;
	font-size: 0.8em;
	font-family: 'FontAwesome';
	line-height: 0.2em;
}

.preview:before {
	margin-right: 8px;
	content: "\f06e";
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	font-weight: 500;
	font-size: 0.8em;
	font-family: 'FontAwesome';
	line-height: 0.2em;
}

.read-more:hover,
.load:hover,
.back:hover,
.edit:hover {

}

.submit:active,
.read-more:active,
.load:active,
.back:active,
.accept:active,
.cancel:active,
.edit:active,
.delete:active {

}



/* Delete, remove, invalidate and cancel button styles */



.delete,
.remove,
.cancel,
.invalidate {
	border-color: #98180f;
	background-color: #d84939;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d84939), to(#bc1b1a));
	background-image: -webkit-linear-gradient(top, #d84939, #bc1b1a);
	background-image: -moz-linear-gradient(top, #d84939, #bc1b1a);
	background-image: -o-linear-gradient(top, #d84939, #bc1b1a);
	background-image: -ms-linear-gradient(top, #d84939, #bc1b1a);
	background-image: linear-gradient(top, #d84939, #bc1b1a);
	color: #FFF;
	text-shadow: 0px 1px 0px #b62619;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#d84939', EndColorStr='#bc1b1a');
}

.invalidate:before,
.cancel:before {
	margin-right: 8px;
	content: "\f00d";
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	font-weight: 500;
	font-size: 0.8em;
	font-family: 'FontAwesome';
	line-height: 0.2em;
}

.delete:before,
.remove:before {
	margin-right: 8px;
	content: "\f014";
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	font-weight: 500;
	font-size: 0.8em;
	font-family: 'FontAwesome';
	line-height: 0.2em;
}

.delete:hover,
.cancel:hover,
.remove:hover {
	background-color: #d74738;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d74738), to(#9b1412));
	background-image: -webkit-linear-gradient(top, #d74738, #9b1412);
	background-image: -moz-linear-gradient(top, #d74738, #9b1412);
	background-image: -o-linear-gradient(top, #d74738, #9b1412);
	background-image: -ms-linear-gradient(top, #d74738, #9b1412);
	background-image: linear-gradient(top, #d74738, #9b1412);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#d74738', EndColorStr='#9b1412');
	color: #FFF !important;
}

.button:disabled,
.button.disabled,
.button:disabled:hover,
.button.disabled:hover {
	background: #e9e8e8;
	color: #7f7f7f !important;
	border-color: #dcdcdc;
	text-shadow: 0px 1px 0px #FFF;
	box-shadow: none;
	cursor: default;
}

.button:disabled:active,
.button.disabled:active {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}



/* Toggle button styles */



.toggle {
	width: 130px;
	float: right;
	border-color: #0b4174;
	background-color: #528cb6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#528cb6), to(#4473a6));
	background-image: -webkit-linear-gradient(top, #528cb6, #4473a6);
	background-image: -moz-linear-gradient(top, #528cb6, #4473a6);
	background-image: -o-linear-gradient(top, #528cb6, #4473a6);
	background-image: -ms-linear-gradient(top, #528cb6, #4473a6);
	background-image: linear-gradient(top, #528cb6, #4473a6);
	color: #FFF;
	text-shadow: 0px -1px 0px #081d31;
}

.toggle:before {
	margin-right: 8px;
	content: "\f00c";
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	font-weight: 500;
	font-size: 0.8em;
	font-family: 'FontAwesome';
	line-height: 0.2em;
}

.toggle:hover {
	background-color: #528bb6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#528bb6), to(#2a537b));
	background-image: -webkit-linear-gradient(top, #528bb6, #2a537b);
	background-image: -moz-linear-gradient(top, #528bb6, #2a537b);
	background-image: -o-linear-gradient(top, #528bb6, #2a537b);
	background-image: -ms-linear-gradient(top, #528bb6, #2a537b);
	background-image: linear-gradient(top, #528bb6, #2a537b);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#528bb6', EndColorStr='#2a537b');
	cursor: pointer;
}

.toggle.all {
	border-color: #98180f;
	background-color: #d84939;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d84939), to(#bc1b1a));
	background-image: -webkit-linear-gradient(top, #d84939, #bc1b1a);
	background-image: -moz-linear-gradient(top, #d84939, #bc1b1a);
	background-image: -o-linear-gradient(top, #d84939, #bc1b1a);
	background-image: -ms-linear-gradient(top, #d84939, #bc1b1a);
	background-image: linear-gradient(top, #d84939, #bc1b1a);
	color: #FFF;
	text-shadow: 0px 1px 0px #b62619;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#d84939', EndColorStr='#bc1b1a');
}

.toggle.all:before {
	margin-right: 8px;
	content: "\f00d";
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	font-weight: 500;
	font-size: 0.8em;
	font-family: 'FontAwesome';
	line-height: 0.2em;
}

.toggle.all:hover {
	background-color: #d74738;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d74738), to(#9b1412));
	background-image: -webkit-linear-gradient(top, #d74738, #9b1412);
	background-image: -moz-linear-gradient(top, #d74738, #9b1412);
	background-image: -o-linear-gradient(top, #d74738, #9b1412);
	background-image: -ms-linear-gradient(top, #d74738, #9b1412);
	background-image: linear-gradient(top, #d74738, #9b1412);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#d74738', EndColorStr='#9b1412');
}



/* Button group
------------------------------------------------------------ */



.button.button-group {
	position: relative;
	padding: 0px;
    border-top: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-bottom: none;
    border-left: 1px solid #CCC;
	-webkit-box-shadow: inset 0px -1px 0 rgba(255,255,255,0.1), 0px 1px 3px rgba(000,000,000,0.05);
	-moz-box-shadow: inset 0px -1px 0 rgba(255,255,255,0.1), 0px 1px 3px rgba(000,000,000,0.05);
	box-shadow: inset 0px -1px 0 rgba(255,255,255,0.1), 0px 1px 3px rgba(000,000,000,0.05);
}

.button.button-group a {
	float: left;
	padding: 12px 15px;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	text-decoration: none;
}

.button.button-group.small a {
	padding: 7px 13px 5px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	text-shadow: 0px 1px 0px #FFF;
	white-space: nowrap;
	font-weight: 500;
	font-size: 1.0em;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.0em;
}

.button.button-group span {
	display: block;
	float: left;
	padding: 12px 9px;
	width: 18px;
	height: 16px;
	border-bottom: 1px solid #CCC;
}

.button.button-group.small span {
	padding: 7px 13px 5px;
}

.button.button-group span:before {
	content: "\f0d7";
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	font-weight: 500;
	font-size: 0.8em;
	font-family: 'FontAwesome';
	line-height: 0.2em;
}

.button.button-group a:hover,
.button.button-group span:hover {
	-webkit-box-shadow: inset 0px -5px 5px rgba(152,152,152,0.1);
	-moz-box-shadow: inset 0px -5px 5px rgba(152,152,152,0.1);
	box-shadow: inset 0px -5px 5px rgba(152,152,152,0.1);
	color: inherit;
}

.button.button-group a:active,
.button.button-group span:active {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 0 1px rgba(0, 0, 0, 0.08), 0 1px 0 rgba(255, 255, 255, 0.9);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 0 1px rgba(0, 0, 0, 0.08), 0 1px 0 rgba(255, 255, 255, 0.9);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 0 1px rgba(0, 0, 0, 0.08), 0 1px 0 rgba(255, 255, 255, 0.9);
}

.button.button-group.open span {
	background: #eee;
}

.button.button-group.open span:hover {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.button.button-group .dropdown-menu {
	position: absolute;
	top: 41px;
	left: -1px;
	display: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
	padding: 12px 0;
	width: -webkit-calc(100% + 3px);
	width: -moz-calc(100% + 3px);
	width: calc(100% + 3px);
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    border-left: 1px solid #CCC;
    -webkit-border-radius: 0px 0px 2px 2px;
    -moz-border-radius: 0px 0px 2px 2px;
    border-radius: 0px 0px 2px 2px;
    background: #eee;
    -webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.05);
    -moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.05);
    box-shadow: 0px 1px 3px rgba(000,000,000,0.05);
}



/* Code snippets
------------------------------------------------------------ */



pre,
code {

}



/* Table styles
------------------------------------------------------------ */



table {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 30px;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
	font-size: 0.9em;
	border-bottom: 1px solid #CCC;
	clear: both;
}

table th {
	padding: 5px 5px 5px 15px;
	border: none;
	background: none;
	font-weight: normal;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	position: relative;
}

table td {
	padding: 12px 15px 10px;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	-webkit-box-shadow: inset 1px 1px 0 #FFF;
	-moz-box-shadow: inset 1px 1px 0 #FFF;
	box-shadow: inset 1px 1px 0 #FFF;
	vertical-align: middle;
	text-align: left;
	font-family:'Proxima N W15 Reg', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	word-wrap: break-word;

}

table tr {
	border-right: 1px solid #CCC;
}

table thead tr {
	border-right: none;
}

table tr:nth-child(odd) td {
	background: #FAFAFA;
	z-index: 0;
}

table tr:nth-child(even) td {
	background: #EFEFEF;
	z-index: 0;
}

table td a {
	/*position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 12px 15px 10px;
	word-wrap:break-word;
	width: inherit;*/
}

table a {
	display: block;
	overflow: hidden;

}

table a:hover {
	color: #528cb6;
}

table input {
	display: inline-block;
	float: none;
	margin: 0;

}

table select {
	margin-bottom: 0;
	min-width: 0;
	display: inline-block;
	margin: 0;
	float: none;
	max-width: 100% !important;
	width: 100% !important;
	height: 37px;
}

table input[type="checkbox"],
table input[type="radio"],
table input[type="image"] {
	display: inline-block;
	float: none;
}

table td .field {
	margin-bottom: 20px;
}

table td .multi-inline {
	display: table;
    table-layout: fixed; /* keep equal cell widths */
    width: 100%; /* need width otherwise cells aren't equal and they self collapse */
    border-spacing: 20px 0; /* best way to space cells but has outer padding */
}

table .multi-inline .inline {
	position: relative;
	display: table-cell;
	float: none;
	overflow: hidden;
	width: 30%;
	vertical-align: top;
}


.a-center {
	text-align: center !important;
}

.a-left {
	text-align: left !important;
}

.a-right {
	text-align: right !important;
}

.table-filter {
	margin-bottom: 0;
}

.table-filter tfoot {
	display: table-row-group;
}

.table-filter tfoot tr {
	background: #E3E3E3;
	border-right: 1px solid #bccdda;
}

.table-filter tfoot th {
	padding: 12px 15px 10px;
	border-top: 1px solid #bccdda;
	border-left: 1px solid #bccdda;
	border-bottom: 1px solid #ccc;
	-webkit-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.3);
	-moz-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.3);
	box-shadow: inset 1px 1px 0 rgba(255,255,255,0.3);
}

.table-filter tfoot th input {
	border-color: #999;
}

.table-filter .delete {
	float: right;
}

/* Data tables styles */

.dataTables_wrapper {
	float: left;
	width: 100%;
	position: relative;
}

.dataTables_wrapper table {
	table-layout: auto;
}

/* Entries */

.dataTables_length {
	float: left;
	margin-bottom: 20px;
}

.dataTables_length label {
	float: left;
}

.dataTables_length select {
	float: none;
	width: 100px;
	min-width: 0;
	margin: 0 8px;
	height: 35px;
}

/* Search */

.dataTables_filter {
	float: right;
	padding-left: 75px;
	text-indent: -75px;
	margin-bottom: 20px;
}

.dataTables_filter input {
	float: none;
	margin-left: 20px;
	margin-bottom: 0;
}

a.clear-filters {
	text-decoration: none;
	opacity: 0.7 ;
}

a.clear-filters:hover {
	opacity: 1;
}

a.clear-filters:before {
	content: '\f057';
	font-family: 'FontAwesome';
	margin-right: 5px;
}

.dataTables_wrapper table th {
	width: auto !important;
	cursor: pointer;
}

.dataTables_wrapper thead tr {
	border-right: 1px solid #bccdda;
}

.dataTables_wrapper .sorting,
.dataTables_wrapper .sorting_asc,
.dataTables_wrapper .sorting_desc {
	padding: 12px 15px 10px;
	border-top: 1px solid #bccdda;
	border-bottom: 1px solid #bccdda;
	border-left: 1px solid #bccdda;
	background:  #e4f0f9 url(../images/table-filter.png) no-repeat top 0 right 10px;
	-webkit-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.7);
	-moz-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.7);
	box-shadow: inset 1px 1px 0 rgba(255,255,255,0.7);
}

.dataTables_wrapper .sorting_asc {
	background-color: #d2e4f1;
	background-position: top -40px right 10px;
}

.dataTables_wrapper .sorting_desc {
	background-color: #d2e4f1;
	background-position: top -80px right 10px;
}

.dataTables_wrapper .sorting.disable {
	background:  #e4f0f9 !important;
	cursor: default;
}

/* Pagination */

.dataTables_info {
	text-align: center;
	font-size: 11px;
	background: #E3E3E3;
	padding: 23px 15px 20px;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	-webkit-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.5);
	-moz-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.5);
	box-shadow: inset 1px 1px 0 rgba(255,255,255,0.5);
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.dataTables_paginate {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 63px;
	width: 100%;
}

.dataTables_paginate a:hover {
	text-decoration: none;
	cursor: pointer;
}

.paginate_disabled_previous {
	display: none;
}

.paginate_enabled_previous:before {
	content: '\f053';
	font-family: 'FontAwesome';
	margin-right: 5px;
	font-size: 10px;
}

.paginate_enabled_next,
.paginate_enabled_previous {
	display: inline-block;
	margin: 20px;
	padding: 7px 7px 5px;
	border: 1px solid #CCC;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #f2f2f2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e5e5e5));
	background-image: -webkit-linear-gradient(top, #f2f2f2, #e5e5e5);
	background-image: -moz-linear-gradient(top, #f2f2f2, #e5e5e5);
	background-image: -o-linear-gradient(top, #f2f2f2, #e5e5e5);
	background-image: -ms-linear-gradient(top, #f2f2f2, #e5e5e5);
	background-image: linear-gradient(top, #f2f2f2, #e5e5e5);
	-webkit-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.25), 0px 1px 3px rgba(000,000,000,0.1);
	-moz-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.25), 0px 1px 3px rgba(000,000,000,0.1);
	box-shadow: inset 1px 1px 0 rgba(255,255,255,0.25), 0px 1px 3px rgba(000,000,000,0.1);
	color: #333;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	text-shadow: 0px 1px 0px #FFF;
	white-space: nowrap;
	font-weight: 500;
	font-size: 11px;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.0em;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#528bb6', EndColorStr='#4473a7');
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f2f2f2', EndColorStr='#e5e5e5');
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	float: right;
}

.paginate_enabled_previous {
	float: left;
}

.paginate_enabled_next:after {
	content: '\f054';
	font-family: 'FontAwesome';
	margin-left: 5px;
	font-size: 10px;
}

.paginate_disabled_next {
	display: none;
}

.paginate_enabled_next:hover,
.paginate_enabled_previous:hover {
	color: #333;
}

.twitter-typeahead {
	display: block;
	width: 100%;
}

.tt-dropdown-menu {
	display: block;
	background: #FFF;
	width: 100%;
}




/* Lists
------------------------------------------------------------ */



ul,
ol {

}

ul li,
ol li {

}

dl {

}

dt {

}

dd {

}



/* Feedback
------------------------------------------------------------ */


.feedback-container {
	float: left;
	width: 100%;
}

.feedback {
	position: relative;
	z-index: 1000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px 15px 0 15px;
	background: #c9e5c9;
	-webkit-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.5), 0px 1px 3px rgba(000,000,000,0.5);
	-moz-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.5), 0px 1px 3px rgba(000,000,000,0.5);
	box-shadow: inset 1px 1px 0 rgba(255,255,255,0.5), 0px 1px 3px rgba(000,000,000,0.5);
	color: #10460a;
	text-shadow: 0px 1px 0 rgba(255,255,255,0.5);
	font-size: 0.875em;
	font-family:'Proxima N W15 Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	float: left;
	width: 100%;
}

.feedback .close {
	position: absolute;
	top: 12px;
	right: 20px;
	display: block;
	width: 20px;
	height: 20px;
	color: #333;
	text-align: center;
	cursor: pointer;
}

.feedback .close:before {
	content: '\f00d';
	font-family: 'FontAwesome';
	line-height: 20px;
}

.feedback li {
	padding-bottom: 15px;
	font-family:'Proxima N W15 Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	list-style: none;
}

.feedback li:before {
	margin-right: 10px;
	content: "\f058";
	font-family: 'FontAwesome';
}

.feedback span {
	padding-bottom: 10px;
	display: block;
	float: left;
}

.feedback span:hover {
	cursor: pointer;
}

.feedback .less {
	display: none;
}

.feedback .show-more:before {
	margin-right: 10px;
	content: "\f078";
	font-family: 'FontAwesome';
}

.feedback .less:before {
	margin-right: 10px;
	content: "\f077";
	font-family: 'FontAwesome';
}


/* Error */



.feedback.error {
	background: #e8a6a6;
	color: #700d0d;
}

.feedback.error li {
	color: #700d0d;
}

.feedback.error li:before {
	margin-right: 10px;
	content: "\f057";
	font-family: 'FontAwesome';
}



/* Notice */



.feedback.notice {
	background: #d9e6f2;
	color: #184c7f;
	margin: 0;
}

.feedback.notice li {
	color: #184c7f;
}

.feedback.notice p:before {
	margin-right: 10px;
	content: "\f06a";
	font-family: 'FontAwesome';
}



/* Warning */



.feedback.warning {
	background: #fed779;
	color: #5d460d;
}

.feedback.warning li {
	color: #5d460d;
}

.feedback.warning li:before {
	margin-right: 10px;
	content: "\f071";
	font-family: 'FontAwesome';
}



/* General styles
------------------------------------------------------------ */

.footer {
	width: 100%;
	height: 40px;
	background: #111;
	color: #b1b3b4;
	clear: both;
}

.footer .copy {
	float: left;
	margin-top: 13px;
	margin-left: 15px;
	height: 18px;
	font-size: 0.813em !important;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.footer a {
	color: #b1b3b4;
	font-size: 13px;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.footer a.website {
	float: right;
	margin-top: 13px;
	margin-right: 15px;
	text-decoration: none;
}

.footer a.website span {
	text-decoration: underline;
}

.footer a.website i:before {
	content: '\f08e';
	font-family: 'FontAwesome';
	font-style: normal;
	margin-right: 5px;
}

.clearfix {
	clear: both;
}



/* Modals
------------------------------------------------------------ */



.modal-wrap {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(000,000,000,0.2);
	z-index: 1000000;
	text-align: center;
	display: block;
	width: 100%;
	height: 100%;
}

.modal {
	margin: 0 auto;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
	max-width: 600px;
	background: #FFF;
	-webkit-box-shadow: 0 0 20px rgba(000,000,000,0.4);
	-moz-box-shadow: 0 0 20px rgba(000,000,000,0.4);
	box-shadow: 0 0 20px rgba(000,000,000,0.4);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #FFF;
	border: 1px solid #E9E9E9;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left;
	overflow-y: scroll;
	max-height: 95%;
}

.modal header {
	float: left;
	width: 100%;
	border-bottom: 1px solid #CCC;
	background: #FFF;
}

.modal h1 {
	padding: 20px 22px 15px;
	font-size: 16px;
}

.modal .close {
	position: absolute;
	top: 0px;
	right: 10px;
	color: #333;
	text-indent: -999em;
	width: 40px;
	height: 40px;
	padding: 5px;
	cursor: pointer;
	opacity: .2;
	display: block;
	z-index: 10000;
}

.modal .close:hover {
	opacity: 1;
}

.modal .close:after {
	font-family: 'FontAwesome';
	content: '\f00d';
	right: 10px;
	top: 20px;
	position: absolute;
	width: 17px;
	color: #333;
	text-indent: 0;
}

.modal .content {
	padding: 22px;
	width: 100%;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.modal #save-content {
	position: static;
}


.modal::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.1);
} /* this will style the thumb, ignoring the track */

.modal .help  {
	float: none;
	clear: both;
	margin: 0px;
	position: relative;
	top: -10px;
	width: 100%;
	cursor: text;
}

.modal .help a {
	display: none;
}

.modal .help .description {
	display: block;
	position: static;
	background: none;
	border: none;
	padding: 0px;
	margin: 0px 0px 15px 0px;
}

.modal .help .description:before {
	display: none;
}

.modal .help .description p {
	color: #333;
}


/* Dangerous styles */


.dangerous .modal {
	border-color: #555;
	overflow: hidden;
}

.dangerous .modal header {
	border: none;
	background-color: #d84939;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d84939), to(#bc1b1a));
	background-image: -webkit-linear-gradient(top, #d84939, #bc1b1a);
	background-image: -moz-linear-gradient(top, #d84939, #bc1b1a);
	background-image: -o-linear-gradient(top, #d84939, #bc1b1a);
	background-image: -ms-linear-gradient(top, #d84939, #bc1b1a);
	background-image: linear-gradient(top, #d84939, #bc1b1a);
	color: #FFF;
	text-shadow: 0px 1px 0px #b62619;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#d84939', EndColorStr='#bc1b1a');
	-webkit-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.3);
	-moz-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.3);
	box-shadow: inset 1px 1px 0 rgba(255,255,255,0.3);
}

.dangerous .modal h1 {
	color: #FFF;
}

.dangerous .modal h1:before {
	content: '\f071';
	font-family: 'FontAwesome';
	margin-right: 8px;
}

.dangerous .modal button,
.dangerous .modal .button {
	float: left;
	clear: none;
	margin-right: 20px;
}

/*
Version: 3.4.5 Timestamp: Mon Nov  4 08:22:42 PST 2013
*/
.select2-container {
    margin: 0;
    position: relative;
    display: inline-block;
    /* inline-block for ie7 */
    zoom: 1;
    *display: inline;
    vertical-align: middle;
    margin-bottom: 20px;
}

.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
  /*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.

    More Info : http://www.quirksmode.org/css/box.html
  */
  -webkit-box-sizing: border-box; /* webkit */
     -moz-box-sizing: border-box; /* firefox */
          box-sizing: border-box; /* css3 */
    width: 80% !important;
}

.select2-container .select2-choice {
    display: block;
    height: 26px;
    padding: 0 0 0 8px;
    overflow: hidden;
    position: relative;

    border: 1px solid #aaa;
    white-space: nowrap;
    line-height: 26px;
    color: #444;
    text-decoration: none;

    border-radius: 4px;

    background-clip: padding-box;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;

    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
    background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
    background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
    background-image: linear-gradient(top, #fff 0%, #eee 50%);
}

.select2-container.select2-drop-above .select2-choice {
    border-bottom-color: #aaa;

    border-radius: 0 0 4px 4px;

    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.9, #fff));
    background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 90%);
    background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
    background-image: linear-gradient(top, #eee 0%, #fff 90%);
}

.select2-container.select2-allowclear .select2-choice .select2-chosen {
    margin-right: 42px;
}

.select2-container .select2-choice > .select2-chosen {
    margin-right: 26px;
    display: block;
    overflow: hidden;

    white-space: nowrap;

    text-overflow: ellipsis;
}

.select2-container .select2-choice abbr {
    display: none;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 24px;
    top: 8px;

    font-size: 1px;
    text-decoration: none;

    border: 0;
    background: url('select2.png') right top no-repeat;
    cursor: pointer;
    outline: 0;
}

.select2-container.select2-allowclear .select2-choice abbr {
    display: inline-block;
}

.select2-container .select2-choice abbr:hover {
    background-position: right -11px;
    cursor: pointer;
}

.select2-drop-mask {
    border: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 9998;
    /* styles required for IE to work */
    background-color: #fff;
    filter: alpha(opacity=0);
}

.select2-drop {
    width: 100%;
    margin-top: -1px;
    position: absolute;
    z-index: 9999;
    top: 100%;

    background: #fff;
    color: #000;
    border: 1px solid #aaa;
    border-top: 0;

    border-radius: 0 0 4px 4px;

    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
            box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
}

.select2-drop-auto-width {
    border-top: 1px solid #aaa;
    width: auto;
}

.select2-drop-auto-width .select2-search {
    padding-top: 4px;
}

.select2-drop.select2-drop-above {
    margin-top: 1px;
    border-top: 1px solid #aaa;
    border-bottom: 0;

    border-radius: 4px 4px 0 0;

    -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
            box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}

.select2-drop-active {
    border: 1px solid #5897fb;
    border-top: none;
    width: 22.25% !important;
}

.select2-drop.select2-drop-above.select2-drop-active {
    border-top: 1px solid #5897fb;
}

.select2-container .select2-choice .select2-arrow {
    display: inline-block;
    width: 18px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;

    border-left: 1px solid #aaa;
    border-radius: 0 4px 4px 0;

    background-clip: padding-box;

    background: #ccc;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
    background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
    background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0);
    background-image: linear-gradient(top, #ccc 0%, #eee 60%);
}

.select2-container .select2-choice .select2-arrow b {
    display: block;
    width: 100%;
    height: 100%;
    background: url('select2.png') no-repeat 0 1px;
}

.select2-search {
    display: inline-block;
    width: 100%;
    min-height: 26px;
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;

    position: relative;
    z-index: 10000;

    white-space: nowrap;
}

.select2-search input {
    width: 100%;
    height: auto !important;
    min-height: 26px;
    padding: 4px 20px 4px 5px;
    margin: 0;

    outline: 0;
    font: normal 0.938em/0.938em 'Proxima N W15 Reg', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1em;

    border: 1px solid #aaa;
    border-radius: 0;

    -webkit-box-shadow: none;
            box-shadow: none;

    background: #fff url('select2.png') no-repeat 100% -22px;
    background: url('select2.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));
    background: url('select2.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('select2.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('select2.png') no-repeat 100% -22px, linear-gradient(top, #fff 85%, #eee 99%);
}

.select2-drop.select2-drop-above .select2-search input {
    margin-top: 4px;
}

.select2-search input.select2-active {
    background: #fff url('select2-spinner.gif') no-repeat 100%;
    background: url('select2-spinner.gif') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));
    background: url('select2-spinner.gif') no-repeat 100%, -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('select2-spinner.gif') no-repeat 100%, -moz-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('select2-spinner.gif') no-repeat 100%, linear-gradient(top, #fff 85%, #eee 99%);
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    border: 1px solid #5897fb;
    outline: none;

    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
            box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.select2-dropdown-open .select2-choice {
    border-bottom-color: transparent;
    -webkit-box-shadow: 0 1px 0 #fff inset;
            box-shadow: 0 1px 0 #fff inset;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    background-color: #eee;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fff), color-stop(0.5, #eee));
    background-image: -webkit-linear-gradient(center bottom, #fff 0%, #eee 50%);
    background-image: -moz-linear-gradient(center bottom, #fff 0%, #eee 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
    background-image: linear-gradient(top, #fff 0%, #eee 50%);
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
    border: 1px solid #5897fb;
    border-top-color: transparent;

    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(0.5, #eee));
    background-image: -webkit-linear-gradient(center top, #fff 0%, #eee 50%);
    background-image: -moz-linear-gradient(center top, #fff 0%, #eee 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
    background-image: linear-gradient(bottom, #fff 0%, #eee 50%);
}

.select2-dropdown-open .select2-choice .select2-arrow {
    background: transparent;
    border-left: none;
    filter: none;
}
.select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -18px 1px;
}

/* results */
.select2-results {
    max-height: 200px;
    padding: 0 0 0 4px;
    margin: 4px 4px 4px 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.select2-results ul.select2-result-sub {
    margin: 0;
    padding-left: 0;
}

.select2-results ul.select2-result-sub > li .select2-result-label { padding-left: 20px }
.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 40px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 60px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 80px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 100px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 110px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 120px }

.select2-results li {
    list-style: none;
    display: list-item;
    background-image: none;
}

.select2-results li.select2-result-with-children > .select2-result-label {
    font-weight: bold;
}

.select2-results .select2-result-label {
    padding: 3px 7px 4px;
    margin: 0;
    cursor: pointer;

    min-height: 1em;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.select2-results .select2-highlighted {
    background: #3875d7;
    color: #fff;
}

.select2-results li em {
    background: #feffde;
    font-style: normal;
}

.select2-results .select2-highlighted em {
    background: transparent;
}

.select2-results .select2-highlighted ul {
    background: #fff;
    color: #000;
}


.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
    background: #f4f4f4;
    display: list-item;
}

/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
    color: #666;
    background: #f4f4f4;
    display: list-item;
    cursor: default;
}
.select2-results .select2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

.select2-results .select2-selected {
    display: none;
}

.select2-more-results.select2-active {
    background: #f4f4f4 url('select2-spinner.gif') no-repeat 100%;
}

.select2-more-results {
    background: #f4f4f4;
    display: list-item;
}

/* disabled styles */

.select2-container.select2-container-disabled .select2-choice {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.select2-container.select2-container-disabled .select2-choice .select2-arrow {
    background-color: #f4f4f4;
    background-image: none;
    border-left: 0;
}

.select2-container.select2-container-disabled .select2-choice abbr {
    display: none;
}


/* multiselect */

.select2-container-multi .select2-choices {
	position: relative;
	z-index: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 10px 0px 0px;
	padding: 2px;
	max-width: 100%;
	width: 100%;
	border: 1px solid #CCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #333;
	font: normal 0.938em/0.938em 'Proxima N W15 Reg', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-transition: border .15s linear, color .15s linear, box-shadow .15s linear;
	-moz-transition: border .15s linear, color .15s linear, box-shadow .15s linear;
	-ms-transition: border .15s linear, color .15s linear, box-shadow .15s linear;
	transition: border .15s linear, color .15s linear, box-shadow .15s linear;
	float: left;
}

.select2-locked {
  padding: 3px 5px 3px 5px !important;
}

.select2-container-multi .select2-choices {
    min-height: 26px;
}

.select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #5897fb;
    outline: none;

    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
            box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.select2-container-multi.select2-container-active.select2-dropdown-open .select2-choices {
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

.select2-container-multi .select2-choices li {
    float: left;
    list-style: none;
}
.select2-container-multi .select2-choices .select2-search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.select2-container-multi .select2-choices .select2-search-field input {
    padding: 5px;
    margin: 1px 0;

    font: normal 0.938em/0.938em 'Proxima N W15 Reg', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 100%;
    color: #666;
    outline: 0;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: transparent !important;
}

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
    background: #fff url('select2-spinner.gif') no-repeat 100% !important;
}

.select2-default {
    color: #999 !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
    padding: 3px 5px 4px 18px;
    margin: 6px 5px 6px 0px;
    position: relative;

    line-height: 13px;
    color: #333;
    cursor: default;
    border: 1px solid #aaaaaa;

    border-radius: 3px;

    -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);

    background-clip: padding-box;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;

    background-color: #e4e4e4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eee));
    background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
}
.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
    cursor: default;
}
.select2-container-multi .select2-choices .select2-search-choice-focus {
    background: #d4d4d4;
}

.select2-search-choice-close {
    display: block;
    width: 12px;
    height: 13px;
    position: absolute;
    right: 3px;
    top: 3px;
    font-size: 1px;
    outline: none;
    text-decoration: none;
}

.select2-search-choice-close:hover {
	text-decoration: none;
	color: #333;
}

.select2-search-choice-close:before {
    font-family: 'FontAwesome';
    content: '\f00d';
    display: block;
    font-size: 10px;
    t
}

.select2-container-multi .select2-search-choice-close {
    left: 5px;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: right -11px;
}
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
    background-position: right -11px;
}

/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
    padding: 3px 5px 3px 5px;
    border: 1px solid #ddd;
    background-image: none;
    background-color: #f4f4f4;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {    display: none;
    background: none;
}
/* end multiselect */


.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
    text-decoration: underline;
}

.select2-offscreen, .select2-offscreen:focus {
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    outline: 0 !important;
    left: 0px !important;
    top: 0px !important;
}

.select2-display-none {
    display: none;
}

.select2-measure-scrollbar {
    position: absolute;
    top: -10000px;
    left: -10000px;
    width: 100px;
    height: 100px;
    overflow: scroll;
}
/* Retina-ize icons */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)  {
  .select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr, .select2-container .select2-choice .select2-arrow b {
      background-image: url('select2x2.png') !important;
      background-repeat: no-repeat !important;
      background-size: 60px 40px !important;
  }
  .select2-search input {
      background-position: 100% -21px !important;
  }
}

.dangerous .modal button.left {
	float: left;
	clear: none;
	margin-bottom: 0;
}

 .dangerous .modal button.left {
	 float: left;
	 clear: none;
	 margin-bottom: 0;
 }

 .dangerous .modal button.right {
	 float: right;
	 clear: none;
	 margin-bottom: 0;
 }
