/* ======================================================= */
/*                                                         */
/*                                                         */
/*    Mothership         					               */
/*                                                         */
/*                                                         */
/* ======================================================= */
/*
/*
/*    Development by Message
/*    http://www.message.co.uk
/*
/*    Control Panel Style Sheet v1.0
/*    Created by Richard McCartney
/*
/*
/* ======================================================= */




/* Navigation
------------------------------------------------------------ */



.navigation {
	position: fixed;
	z-index: 999; /* No other z-index should be higher than this decloration */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 61px;
	border: 1px solid #26537c;
	background-color: #528cb6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#528cb6), to(#4473a6));
	background-image: -webkit-linear-gradient(top, #528cb6, #4473a6);
	background-image: -moz-linear-gradient(top, #528cb6, #4473a6);
	background-image: -o-linear-gradient(top, #528cb6, #4473a6);
	background-image: -ms-linear-gradient(top, #528cb6, #4473a6);
	background-image: linear-gradient(top, #528cb6, #4473a6);
	-webkit-box-shadow: 0px 0px 1px 3px rgba(17,48,81,0.1), inset 0px -1px 0px 0px rgba(255,255,255,0.1);
	-moz-box-shadow: 0px 0px 1px 3px rgba(17,48,81,0.1), inset 0px -1px 0px 0px rgba(255,255,255,0.1);
	box-shadow: 0px 0px 1px 3px rgba(17,48,81,0.1), inset 0px -1px 0px 0px rgba(255,255,255,0.1);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#528cb6', EndColorStr='#4473a6');
	min-width: 1260px;
}

.navigation a {
	color: #FFF;
	text-decoration: none;
	text-shadow: 0px 1px 1px rgba(000,000,000,0.25);
	font-size: 0.875em;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navigation h1 a {
	font-size: 0.6em;
}

.navigation .vendor {
	position: relative;
	float: left;
	width: 248px;
	height: 59px;
	border-right: 1px solid #26537c;
	background-color: #3f759f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3f759f), to(#34608c));
	background-image: -webkit-linear-gradient(top, #3f759f, #34608c);
	background-image: -moz-linear-gradient(top, #3f759f, #34608c);
	background-image: -o-linear-gradient(top, #3f759f, #34608c);
	background-image: -ms-linear-gradient(top, #3f759f, #34608c);
	background-image: linear-gradient(top, #3f759f, #34608c);
	-webkit-box-shadow: inset 0px -1px 0px rgba(255,255,255,0.1);
	-moz-box-shadow: inset 0px -1px 0px rgba(255,255,255,0.1);
	box-shadow: inset 0px -1px 0px rgba(255,255,255,0.1);
	text-indent: 58px;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3f759f', EndColorStr='#34608c');
}

.navigation .vendor a {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 14px 0 0 0;
	background: url(../images/mothership-logo.png) 20px center no-repeat;
	font-family:'Proxima N W15 Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navigation .vendor span {
	float: left;
	color: #A4B6C6;
	font-size: 13px;
}

.navigation nav {
	padding-right: 129px;
	display: block;
	width: auto;
	position: relative;
}

.navigation ol {
	height: 59px;
	list-style: none;
}

.navigation li {
	position: relative;
	float: left;
	height: 59px;
	border-right: 1px solid #26537c;
	line-height: 64px;
}

.navigation li a {
	display: block;
	padding: 0 1em;
	font-family:'Proxima N W15 Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navigation li:hover {
	background: #19517d;
}

.navigation li.current {
	background: #F1F1F1;
	-webkit-box-shadow: 0px 8px 0px #F1F1F1;
	-moz-box-shadow: 0px 8px 0px #F1F1F1;
	box-shadow: 0px 8px 0px #F1F1F1;
}

.navigation li.current a {
	color: #333;
	text-shadow: 0px 1px 0px #FFF;
}


.logout {
	position: absolute;
	top: 14px;
	right: 14px;
	display: block;
	width: 101px;
	height: 31px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #19517d;
	-webkit-box-shadow: 1px 1px 0px #5584b4;
	-moz-box-shadow: 1px 1px 0px #5584b4;
	box-shadow: 1px 1px 0px #5584b4;
	text-align: center;
	text-shadow: none;
	font-size: 0.875em;
	font-family: 'Proxima N W15 Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	line-height: 28px;
}

.logout:before {
	position: relative;
	top: 1px;
	margin-right: 6px;
	content: "\f011";
	font-size: 1.15em;
	font-family: 'FontAwesome';
}

.logout:hover {
	-webkit-box-shadow: inset 0px -2px 5px 0px rgba(000, 000, 000, 0.25), 1px 1px 0px #5584b4;
	-moz-box-shadow: inset 0px -2px 5px 0px rgba(000, 000, 000, 0.25), 1px 1px 0px #5584b4;
	box-shadow: inset 0px 1px 5px 0px rgba(000, 000, 000, 0.25), 1px 1px 0px #5584b4;
}


/* Dashboard / Welcome
------------------------------------------------------------ */


.dashboard {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	position: relative;
}

.dashboard.home .main {
    position: fixed;
	display: inline-block;
    overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 40px 0px;
	width: 100%;
	height: inherit;
}

.dashboard.home .container-content:after {
	content: '';
}



/* Loading spinner
------------------------------------------------------------ */



.loading-spinner {
	position: absolute;
	top: 50%;
	right: 50%;
	z-index: 9999;
	display: none;
	margin: -32.5px -150px 0 0;
	width: 300px;
	height: 65px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: rgba(000,000,000,0.6);
}

.loading-spinner p {
	position: absolute;
	top: 20px;
	left: 20px;
	color: #FFF;
	font-size: 1.5em;
	font-family: 'Proxima N W15 Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.spinner {
	position: absolute;
	top: 12px;
	right: 16px;
	z-index: 1000;
	width: 30px;
	height: 30px;
	border: 5px solid rgba(255,255,255,0.15);
	border-radius: 100%;
	-webkit-animation: rotation .6s infinite linear;
	-moz-animation: rotation .6s infinite linear;
	-o-animation: rotation .6s infinite linear;
	animation: rotation .6s infinite linear;
}

.spinner:before {
	position: absolute;
	top: -5px;
	left: -5px;
	display: block;
	width: 100%;
	height: 100%;
	border: 5px solid rgba(255,255,255,0.8);
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid transparent;
	border-radius: 100%;
	content: "";
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}

.loading .loading-spinner {
	display: block;
}



/* Sidebar
------------------------------------------------------------ */



.sidebar {
	position: fixed;
	z-index: 0;
	float: left;
	overflow-x: hidden;
	width: 250px;
	height: inherit;
	background: #333;
	color: #FFF;
}

.sidebar .search {
	position: relative;
}

.sidebar .search .field {
	margin-bottom: 0;
}

.sidebar .search .field input /* Override the field styling */ {
	max-width: 210px;
	width: 210px;
}

.sidebar .search label, .sidebar .filter-by label {
	display: none;
}

.sidebar form {
	margin-bottom: 0;
}

.sidebar input {
	margin: 20px 20px 20px 19px;
	padding: 6px 0 0 4px;
	width: 210px;
	height: 40px;
	border: none;
	background: #111;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	color: #999;
	text-align: left;
	text-indent: 0px;
	font-size: 0.875em;
	font-family:'Proxima N W15 Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-appearance: none;
}

.sidebar input:focus {
	border: none;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255,255,255,0.1);
}

.sidebar select, .sidebar .filter-by select {
	margin: 0px 20px 20px 19px;
	padding: 10px;
	min-width: 210px;
	max-width: 210px;
	width: 210px;
	border: 1px solid #111;
	background-color: #343434;
	background-image: url(../images/select-arrow-dark.png), -webkit-gradient(linear, left top, left bottom, from(#343434), to(#272727));
	background-image: url(../images/select-arrow-dark.png), -webkit-linear-gradient(top, #343434, #272727);
	background-image: url(../images/select-arrow-dark.png), -moz-linear-gradient(top, #343434, #272727);
	background-image: url(../images/select-arrow-dark.png), -o-linear-gradient(top, #343434, #272727);
	background-image: url(../images/select-arrow-dark.png), -ms-linear-gradient(top, #343434, #272727);
	background-image: url(../images/select-arrow-dark.png), linear-gradient(top, #343434, #272727);
	background-position: right center;
	background-repeat: no-repeat;
	-webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.1), 0px 1px 3px rgba(000,000,000,0.3);
	-moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.1), 0px 1px 3px rgba(000,000,000,0.3);
	box-shadow: inset 0 -1px 0 rgba(255,255,255,0.1), 0px 1px 3px rgba(000,000,000,0.3);
	color: #b2b2b2;
	text-shadow: 0px -1px 0 #111;
	font-family:'Proxima N W15 Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#343434', EndColorStr='#272727');
}

.sidebar .filter-by .field {
	float: left;
	padding: 0px;
	width: 210px;
}



.sidebar .search input:focus button {
	display: none;
}

.sidebar .search ::-webkit-input-placeholder,
.sidebar .search :-moz-placeholder,
.sidebar .search ::-moz-placeholder,
.sidebar .search :-ms-input-placeholder {
	float: left;
	color: red;
	text-align: left;
	text-indent: 0;
}

.sidebar .button {
	margin: 0 20px 20px;
	padding: 12px 0;
	width: 210px;
}

.sidebar .button:active {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 0 1px rgba(0, 0, 0, 0.08), 0 1px 0 rgba(255, 255, 255, 0);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 0 1px rgba(0, 0, 0, 0.08), 0 1px 0 rgba(255, 255, 255, 0);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 0 1px rgba(0, 0, 0, 0.08), 0 1px 0 rgba(255, 255, 255, 0);
}

.sidebar .search {
	position: relative;
}

.sidebar .search button {
    position: absolute;
    top: 34px;
    right: 35px;
    padding: 0;
	width: 12px;
	border: none;
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: transparent;
    color: transparent;
    text-shadow: none;
    font-size: 0;
	line-height: 0;
}

.sidebar .search button:before {
	color: #999;
	content: "\f002";
	font-size: 12px;
	font-family: 'FontAwesome';
	line-height: 12px;
}



/* Sidebar Menu */



.sidebar .menu {
	float: left;
	margin: 0;
	padding: 0;
	width: 250px;
	border-top: 1px solid #222;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255,255,255,0.1);
}

.sidebar .menu a {
	overflow: hidden;
	max-height: 40px;
	color: #FFF;
	text-decoration: none;
	text-overflow: ellipsis;
	text-shadow: 0px 1px 1px rgba(000,000,000,0.25);
	white-space: nowrap;
	font-size: 0.875em;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-transform: lowercase;
}

.sidebar .menu a:first-letter {
	text-transform: uppercase;
}

.sidebar .menu ol {
	float: left;
	margin: 0;
	margin-top: 41px;
	padding: 0;
	width: 250px;
	list-style: none;
}

.sidebar .menu li /* Top level */ {
	position: relative;
	float: left;
	min-height: 40px;
	width: 250px;
	border-bottom: 1px solid #151515;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	color: #FFF;
	list-style: none;
}

.sidebar .menu .open {
	border-bottom: none;
	background: #444;
}

.sidebar .menu .open > a:first-child {
	border-bottom: 1px solid #1d1d1d;
}

.sidebar .menu li:hover {
	background: #444;
}

.sidebar .menu li a,
.sidebar .menu .active li a {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	padding: 0 20px;
	width: 210px;
	line-height: 40px;
}

.sidebar .menu li ol,
.sidebar .menu li ol li ol {
	display: none;
	background: #252525;
}

.sidebar .menu .badge {
	position: absolute;
	top: 7px;
	right: 17px;
	display: block;
	padding: 5px;
	width: 16px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #111;
	text-align: center;
	text-indent: 0 !important;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 16px;
}



/* Sidebar level  idicators */



.sidebar .menu li li /* First child  */ {
	min-height: 40px;
	background: #252525;
	-webkit-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525;
	-moz-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525;
	box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525;
	text-indent: 20px;
}

.sidebar .menu li li li /* Second child */ {
	-webkit-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae;
	-moz-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae;
	box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae;
	text-indent: 40px;
}

.sidebar .menu li li li li /* Third child */ {
	-webkit-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 16px 0 0 #1f527f, inset 17px 0 0 #252525;
	-moz-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 16px 0 0 #1f527f, inset 17px 0 0 #252525;
	box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 16px 0 0 #1f527f, inset 17px 0 0 #252525;
	text-indent: 60px;
}

.sidebar .menu li li li li li /* Fourth child */ {
	-webkit-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 16px 0 0 #1f527f, inset 17px 0 0 #252525, inset 22px 0 0 #153a5a, inset 23px 0 0 #252525;
	-moz-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 16px 0 0 #1f527f, inset 17px 0 0 #252525, inset 22px 0 0 #153a5a, inset 23px 0 0 #252525;
	box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 16px 0 0 #1f527f, inset 17px 0 0 #252525, inset 22px 0 0 #153a5a, inset 23px 0 0 #252525;
	text-indent: 60px;
}

.sidebar .menu li li li li li li /* Fifth child */ {
	-webkit-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 16px 0 0 #1f527f, inset 17px 0 0 #252525, inset 22px 0 0 #153a5a, inset 23px 0 0 #252525;
	-moz-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 16px 0 0 #1f527f, inset 17px 0 0 #252525, inset 22px 0 0 #153a5a, inset 23px 0 0 #252525;
	box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 16px 0 0 #1f527f, inset 17px 0 0 #252525, inset 22px 0 0 #153a5a, inset 23px 0 0 #252525;
	text-indent: 60px;
}



/* Sidebar active states */



.sidebar .menu .active > a:first-child {
	background: #555;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
}

.sidebar .menu li li.active > a:first-child {
	background: #467eb0;
	-webkit-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525;
	-moz-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525;
	box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525;
}

.sidebar .menu li li li.active > a:first-child {
	background: #286fae;
	-webkit-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 11px 0 0 #286fae, inset 12px 0 0 #252525;
	-moz-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 11px 0 0 #286fae, inset 12px 0 0 #252525;
	box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 11px 0 0 #286fae, inset 12px 0 0 #252525;
}

.sidebar .menu li li li li.active > a:first-child {
	background: #1f527f;
	-webkit-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 16px 0 0 #1f527f, inset 17px 0 0 #252525;
	-moz-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 16px 0 0 #1f527f, inset 17px 0 0 #252525;
	box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 16px 0 0 #1f527f, inset 17px 0 0 #252525;
}

.sidebar .menu li li li li li.active > a:first-child {
	background: #153a5a;
	-webkit-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 16px 0 0 #1f527f, inset 17px 0 0 #252525, inset 22px 0 0 #153a5a, inset 23px 0 0 #252525;
	-moz-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 16px 0 0 #1f527f, inset 17px 0 0 #252525, inset 22px 0 0 #153a5a, inset 23px 0 0 #252525;
	box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 16px 0 0 #1f527f, inset 17px 0 0 #252525, inset 22px 0 0 #153a5a, inset 23px 0 0 #252525;
}



/* Main
------------------------------------------------------------ */



.clear /* clear space for the navigation */ {
	margin: 61px 0 40px 0;
	width: 100%;
	height: -moz-calc(100% - 101px);
    height: -webkit-calc(100% - 101px);
    height: calc(100% - 101px);
}

.main {
    position: fixed;
	display: inline-block;
    overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 40px 250px;
	width: -moz-calc(100% - 250px);
    width: -webkit-calc(100% - 250px);
    width: calc(100% - 250px);
	height: inherit;
}


/* Page title
------------------------------------------------------------ */


.title {
	position: relative;
	z-index: 10;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px 22px 15px;
	width: 100%;
	border-bottom: 1px solid #c4c4c4;
	background-color: #f1f1f1;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e7e7e7));
	background-image: -webkit-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: -moz-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: -o-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: -ms-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: linear-gradient(top, #f1f1f1, #e7e7e7);
	-webkit-box-shadow: 0px 1px 3px rgba(150,150,150,0.25), inset 0px -1px 0px rgba(255,255,255,0.5);
	-moz-box-shadow: 0px 1px 3px rgba(150,150,150,0.25), inset 0px -1px 0px rgba(255,255,255,0.5);
	box-shadow: 0px 1px 3px rgba(150,150,150,0.25), inset 0px -1px 0px rgba(255,255,255,0.5);
	text-shadow: 0px 1px 0px #FFF;
	font-size: 0.9em;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f1f1f1', EndColorStr='#e7e7e7');
}

.title h1 {
	display: inline-block;
	width: auto;
	white-space: nowrap;
	position: relative;
}

.title h1 span {
	display: block;
	color: #807f7f;
	font-size: 0.7em;
	font-family: 'Proxima N W15 Reg', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.title h2  {
	display: inline-block;
	margin-left: 15px;
	width: auto;
	white-space: nowrap;
	font-size: 0.9em;
	text-transform: lowercase;
}

.title h1:hover,
.title h2:hover {
	cursor: default;
}

.title h1[data-title]:after {
	margin-left: 8px;
	content: "\f040";
	font-size: 0.875em;
	font-family: 'FontAwesome';
	position: absolute;
	top: 0;
	right: -25px;
}

.title h1[data-title]:hover {
	cursor: pointer;
}

.edit-title {
	position: absolute;
	top: 0px;
	z-index: 11;
	display: none;
	padding-top: 5px;
	padding-left: 22px;
	width: 100%;
	height: 74px;
	background: #F1F1F1;
	background-color: #f1f1f1;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e7e7e7));
	background-image: -webkit-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: -moz-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: -o-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: -ms-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: linear-gradient(top, #f1f1f1, #e7e7e7);
	-webkit-box-shadow: 0px 1px 3px rgba(150,150,150,0.25), inset 0px -1px 0px rgba(255,255,255,0.5);
	-moz-box-shadow: 0px 1px 3px rgba(150,150,150,0.25), inset 0px -1px 0px rgba(255,255,255,0.5);
	box-shadow: 0px 1px 3px rgba(150,150,150,0.25), inset 0px -1px 0px rgba(255,255,255,0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f1f1f1', EndColorStr='#e7e7e7');
}

.edit-title label {
	display: none;
}

.edit-title input {
	z-index: 11;
	float: left;
	margin: 17px 10px 0 0;
	min-width: 200px;
	max-width: 840px;
	width: 70%;
}

.edit-title button {
	z-index: 11;
	float: left;
	margin-top: 18px;
	height: 34px;
}

.flag {
	display: inline-block !important;
	margin: 1px 10px 0;
	padding: 3px 15px 0;
	width: auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #ccc;
	color: #fff;
	vertical-align: top;
	text-align: center;
	text-shadow: none;
	font: 0.6em normal 'Proxima N W15 Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.flag.active {
	background: #258643;
	color: #FFF;
}

.flag.inactive {
	background: #cc3121;
	color: #FFF;
}

.flag.role {
	background: #4473a6;
	color: #FFF;
}



/* Top Bar
------------------------------------------------------------ */



.topbar {
	z-index: 10;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: -1px 0 0;
	padding: 0 23px 0 0;
	min-width: 1005px;
	width: 100%;
	height: 56px;
	border-top: 1px solid #C8C8C8;
	border-bottom: 1px solid #C8C8C8;
	background-color: #f9f9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -moz-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -o-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -ms-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: linear-gradient(top, #f9f9f9, #f1f1f1);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f9f9f9', EndColorStr='#f1f1f1');
}

.topbar .tabs {
	float: left;
	list-style: none;
}

.topbar .tabs li {
	position: relative;
	float: left;
	height: 55px;
	border-right: 1px solid #C8C8C8;
	text-decoration: 0px 1px 0px rgba(255,255,255,1.0);
	font-size: 0.938em;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.topbar .tabs li:hover {
	background: #EEE;
	height: 54px;
	border-bottom: 1px solid #CBCBCB;
}

.topbar .tabs li.active:after {
	position: absolute;
	left: 50%;
	display: block;
	margin: -6px 0 0 -10px;
	width: 0;
	height: 0;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #F1F1F1;
	border-left: 10px solid transparent;
	content: '';
}

.topbar .tabs li.active:before {
	position: absolute;
	bottom: -1px;
	left: 50%;
	display: block;
	margin: 0 0 0 -8px;
	width: 0;
	height: 0;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #C8C8C8;
	border-left: 8px solid transparent;
	content: '';
}

.topbar .tabs a {
	display: block;
	padding: 0 1em;
	height: 55px;
	text-decoration: none;
	text-shadow: 0px 1px 0px rgba(255,255,255,1.0);
	line-height: 61px;
}

.topbar .tabs a:hover {
	color: inherit;
}

.controls {
	margin: 0 150px 0 0;
	width: auto;
	height: 56px;
	text-align: right;
}

.title .controls {
	position: absolute;
	top: 5px;
	right: 23px;
	margin: 0;
	width: auto;
	height: 56px;
	text-align: right;
}

.title .controls .button {
	font-size: 16px;
}

.controls form {
	width: auto;
}




/* Delete page */



#delete-page {
	position: relative;
	display: inline-block;
	margin-top: 12px;
	margin-right: 8px;
}

.delete-page {
	display: inline-block;
	margin-top: 7px;
	margin-right: 35px;
	padding: 0;
	border: none !important;
	border-bottom: 1px solid #555;
	background: none !important;
	box-shadow: none;
	color: #333 !important;
	text-shadow: 0px 1px 0px #FFF !important;
	font-size: 1.0em;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.delete-page:before {
	margin-right: 8px;
	content: "\f014";
	font-family: 'FontAwesome';
}

.delete-page:hover {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}



/* Publish */



.publish {
	display: inline-block;
	margin-right: 8px;
}

.publish a {
	text-decoration: none;
}

.publish .button.button-group {
	position: inherit;
}

.publish .button-group span:before {
	content: "\f133";
	font-style: normal;
	font-family: 'FontAwesome';
}

.publish .button-group span.date-set:before {
	content: "\f073";
}

.publish .dropdown-menu {
	position: absolute;
	top: 117px !important;
	left: 0;
	z-index: 100;
	display: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 23px 23px 3px 23px;
	width: 100% !important;
	border-bottom: 1px solid #C1C1C1;
	background: #FFF !important;
	-webkit-box-shadow: inset 0px 1px 3px rgba(000,000,000,0.1), 0px 1px 3px rgba(000,000,000,0.1);
	-moz-box-shadow: inset 0px 1px 3px rgba(000,000,000,0.1), 0px 1px 3px rgba(000,000,000,0.1);
	box-shadow: inset 0px 1px 3px rgba(000,000,000,0.1), 0px 1px 3px rgba(000,000,000,0.1);
}

.publish .dropdown-menu .wrap {
	position: relative;
	float: left;
	margin-right: 163px;
	max-width: 800px;
}

.publish form {
	float: left;
	width: 100%;
}

.publish label {
	text-align: left;
}

.publish .dropdown-wrap {
	float: left;
	width: 460px;
	height: auto;
}

.publish .date-time {
	position: relative;
	float: left;
	padding: 10px 20px;
	width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.publish .date-time .field {
	display: inline-block;
	float: left;
	width: auto;
}

.publish .field label {
	display: inline-block;
/*	float: none !important;
	width: auto !important;*/
}

.publish .field select {
	display: inline-block;
	min-width: 0;
}

.publish .wrap .button {
	right: -150px;
	top: 0;
	position: absolute;
	margin-top: 106px;
}

.publish .help {
	display: none;
	float: none;
	clear: both;
	margin: 0px;
}

/*.publish .help a:hover {
	cursor: pointer;
}

.publish .help .description {
	position: absolute;
	top: 90px;
	z-index: 20;
	display: none;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 40px;
	padding: 15px;
	min-height: 39px;
	width: 300px;
	border: 1px solid #d5cb95;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fcf8e3;
}

.publish .help .description:before {
	position: absolute;
	top: 10px;
	left: -7px;
	display: block;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-right: 7px solid #d5cb95;
	border-bottom: 7px solid transparent;
	content: '';
}

.publish .help .description:after {
	position: absolute;
	top: 11px;
	left: -6px;
	display: block;
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-right: 6px solid #fcf8e3;
	border-bottom: 6px solid transparent;
	content: '';
}*/





/* Preview */




/* Content
------------------------------------------------------------ */


.container-content {
	position: relative;
	overflow: visible;
	overflow-y: scroll;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 23px;
	height: -moz-calc(100% - 62px);
    height: -webkit-calc(100% - 62px);
    height: calc(100% - 62px);
}

.container-content::-webkit-scrollbar {
	padding: 0 2px;
	border-left: 1px solid #CCC;
	background: #DDD;
}

.container-content.short {
	height: -moz-calc(100% - 135px);
    height: -webkit-calc(100% - 135px);
    height: calc(100% - 135px);
}

.container-content.medium {
	height: -moz-calc(100% - 117px);
    height: -webkit-calc(100% - 117px);
    height: calc(100% - 117px);
}

.container-content.tall {
	height: -moz-calc(100% - 80px);
    height: -webkit-calc(100% - 80px);
    height: calc(100% - 80px);
}

.container-content h1,
.container-content h2,
.container-content h3,
.container-content h4 {
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 5px;
	width: 100%;
	border-bottom: 2px solid #DDD;
	float: left;
}



/* Dual column */



.dual-column {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 20px;
	width: 100%;
	border: 1px solid #CCC;
	background: #fff;
	overflow: hidden;
}

.dual-column .title {
	position: relative;
	z-index: 0;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 20px 22px 12px;
	width: 100%;
	border-bottom: 1px solid #CCC;
	background: none;
	background-color: #f9f9f9;
	-webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.05);
	-moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.05);
	box-shadow: 0px 1px 3px rgba(000,000,000,0.05);
	font-size: 1em;
}

.dual-column .content {
	display: table;
	overflow: hidden;
	width: 100%;
}

.dual-column .column {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 50% ;
	background: #fff;
	vertical-align: top;
	overflow-wrap: break-word;
}

.dual-column .column:first-of-type {
	border-right: 1px solid #CCC;
}

.column {
	position: relative;
	display: table-cell;
	padding: 20px;
}

#save-content,
.save-content {
	position: fixed;
	top: 77px;
	right: 14px;
	z-index: 12;
}

.short #save-content {
	top: 153px;
}

.medium #save-content {
	top: 135px;
}

.tall #save-content {
	top: 87px;
}



/* Create page */



.create-page form {
	float: left;
}

.option-block {
	position: relative;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 2% 2% 0;
	min-height: 140px;
	width: 45%;
	border: 1px solid #CCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #f6f6f6;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,1.0);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,1.0);
	box-shadow: 0 1px 0 rgba(255,255,255,1.0);
	text-shadow: 0 1px 0 #FFF;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.option-block:hover {
	background: #f1f1f1;
	cursor: pointer;
}

.option-block:nth-child(odd) {
	margin-left: 1%;
}

.option-block:nth-child(even) {
	margin-right: 1%;
}

.option-block input {
	position: absolute;
	top: 40px;
	left: 25px;
}

.option-block label {
	float: left;
	margin: 25px 0 10px 75px;
}

.option-block p {
	position: relative;
	top: 30px;
	float: left;
	margin-left: 10px;
	margin-left: 55px;
	width: -moz-calc(100% - 55px);
    width: -webkit-calc(100% - 55px);
    width: calc(100% - 55px);
}

.option-block p strong {
	font-weight: normal;
	font-family:'Proxima N W15 Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.option-block .type {
	margin-left: 55px;
}

.create-page button {
	position: fixed;
	top: 77px;
	right: 14px;
	z-index: 11;
}



/* Group */



.group {
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 20px 0;
	padding-bottom: 0px;
	width: 100%;
	border: 1px solid #CCC;
	background: #FFF;
}

.group.third {
	width: 33.3%;
}

.clear-group {
	position: relative;
	display: block;
	float: left;
	margin: 0 0 20px 20px;
	width: auto;
}

.group .title {
	position: relative;
	z-index: 0;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 20px 22px 12px;
	width: 100%;
	border-bottom: 1px solid #CCC;
	background: none;
	background-color: #f9f9f9;
	-webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.05);
	-moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.05);
	box-shadow: 0px 1px 3px rgba(000,000,000,0.05);
	font-size: 1em;
}

.group .content {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px 20px 0;
	width: 100%;
	overflow-wrap: break-word;
	position: relative;
}

.group h2 {
	float: left;
	margin-bottom: 20px;
	width: 100%;
}

.group form {
	margin: 20px 0 0 20px;
}

.content form {
	margin: 0;
}

.contnet label {
	float: left;
	width: 100%;
}

.content .button {
	float: left;
	clear: both;
	margin-bottom: 20px;
}

.content .field-wrap {
	clear: both;
	overflow: hidden;
}

.content ul,
.content ol {
	width: 100%;
}

.content li {
	list-style: none;
}

.content ol li {
	list-style: decimal;
}

.content h1,
.content h2,
.content h3 {
	clear: both;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0px 0px 20px 0px;
 	padding: 0px 0px 2px;
	width: 100%;
	border-bottom: 2px solid #EEE;
	float: left;
}

.content dl {
	margin-bottom: 20px;
	font-size: 15px;
}

.content dt {
	float: left;
	width: 30%;
	margin-right: 5%;
	font-family: 'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin-bottom: 10px;
	clear: right;
}

.content dd {
	float: right;
	width: 65%;
	margin-bottom: 10px;
	clear: right;
	min-height: 20px;
}

.grand-total {
	border-top: 1px solid #ddd;
}



/* Box Grid */


.group-grid {
	margin: 0 -20px 20px;
}

.group-grid .row {
    display: table;
    table-layout: fixed; /* keep equal cell widths */
    width: 100%; /* need width otherwise cells aren't equal and they self collapse */
    border-spacing: 20px 0; /* best way to space cells but has outer padding */
}

.group-grid .row .group {
	position: relative;
	display: table-cell;
	float: none;
	overflow: hidden;
	width: 30%;
	vertical-align: top;
}



/* Checkbox group */



.group.checkbox {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px;
	max-width: 1400px;
	width: 100%;
	border: 1px solid #CCC;
}

.group.checkbox  {
	display: inline-block;
	width: 50%;
}



/* Repeatable group */



.repeatable-group {
	float: left;
	width: 100%;
}

.repeatable-group .group {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
	background: #FFF;
	box-shadow: 0 1px 0 #CCC;
}

.repeatable-group .field .field {
	padding: 0;
}

.repeatable-group .group .title {
	margin-bottom: 0;
	min-height: 52px;
	border: none;
	background-color: #f9f9f9;
	background-image: url(../images/select-arrow-light.png);
	background-image: url(../images/select-arrow-light.png);
	background-image: url(../images/select-arrow-light.png);
	background-image: url(../images/select-arrow-light.png);
	background-image: url(../images/select-arrow-light.png);
	background-image: url(../images/select-arrow-light.png);
	background-position: 99% center;
	background-repeat: no-repeat;
	-webkit-box-shadow: 0 1px 0 #CCC;
	-moz-box-shadow: 0 1px 0 #CCC;
	box-shadow: 0 1px 0 #CCC;
	font-size: 1em;
	padding: 20px 22px 12px;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f9f9f9', EndColorStr='#f1f1f1'); -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f1f1f1)); -webkit-linear-gradient(top, #f9f9f9, #f1f1f1); -moz-linear-gradient(top, #f9f9f9, #f1f1f1); -o-linear-gradient(top, #f9f9f9, #f1f1f1); -ms-linear-gradient(top, #f9f9f9, #f1f1f1); linear-gradient(top, #f9f9f9, #f1f1f1);
}

.repeatable-group .title:hover {
	cursor: pointer;
}

.repeatable-group .button {
	margin-top: 20px;
}

.repeatable-group .remove {
	float: left;
	margin: 0 0 20px;
}

.repeatable-group .add-group {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.repeatable-group .add-group .group {
	margin-bottom: 20px;
	padding-top: 20px;
}

.repeatable-group .submit {
	float: left;
	margin-top: 10px;
}

.repeatable-group .help {
	float: left;
	margin: 11px 0 0 15px;
}


.repeatable-group .help .description {
	position: absolute;
	top: 25px;
	z-index: 20;
	display: none;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 2%;
	padding: 15px;
	min-height: 39px;
	width: 28%;
	border: 1px solid #d5cb95;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fcf8e3;
}

.group-desc {
	margin-bottom: 10px;
}



/* Fields */



.field {
	position: relative;
	float: left;
	margin: 0;
	max-width: 1400px;
	width: 100%;
}

.field.inline {
	margin-bottom: 20px;
}

.field h2 {
	float: left;
	margin-bottom: 20px;
	width: 100%;
}

.field input,
.field textarea,
.field select {
	max-width: 70%;
	width: 70%;
	min-width: inherit;
}

.field label {
	float: left;
	width: 100%;
}

.column .field input,
.column .field textarea {
	max-width: 100%;
	width: 100%;
}

.column h5 {
	margin: 20px 0px;
	font-family: 'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 15px;
}


/* Inline field styling */



.field.inline input[type="checkbox"],
.field.inline input[type="radio"]{
	position: absolute;
	left: 2px;
	display: inline-block;
}

.field.inline label {
	display: inline-block;
	width: auto;
	margin-left: 25px;
}




/* Field slug */



.add-on {
	display: table;
	border-collapse: collapse;
	vertical-align: top;
	margin-bottom: 20px;
	width: 70%;
}

.add-on p {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 0 10px;
	-webkit-box-shadow: inset 0 0 0 1px #CCC;
	-moz-box-shadow: inset 0 0 0 1px #CCC;
	box-shadow: inset 0 0 0 1px #CCC;
	-webkit-border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px;
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(top, #ffffff, #e6e6e6);
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#e6e6e6');
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-width: 20px;
}

.add-on div {
	display: table-cell;
	margin-bottom: 0;
	width: 100%;
}

.add-on input {
	display: inline-block;
	max-width: none;
	width: 40%;
	-webkit-border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
	border-left: none;
	margin: 0;
	height: 37px;
	width: 100%;
}

.inline .add-on {
	display: inline-block;
	float: left;
	max-width: 70%;
	width: 70%;
}

table .add-on p {
	font-size: 15px;
}





/* Details */



.details {
	position: relative;
	display: inline-block;
	float: left;
	clear: both;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 2% 0;
	padding: 20px 20px 10px 20px;
	min-height: 100px;
	max-width: 980px;
	width: 100%;
	border: 1px solid #CCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #f1f1f1;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,1.0);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,1.0);
	box-shadow: 0 1px 0 rgba(255,255,255,1.0);
	text-shadow: 0 1px 0 #FFF;
}


.details dt {
	float: left;
	clear: left;
	margin: 0 0 10px 0;
	width: 30%;
	white-space: nowrap;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.details dd {
	float: left;
	margin: 0 0 10px 0;
	width: 70%;
	white-space: nowrap;
}


/* Authorship */



/*.authorship {
	position: relative;
	display: inline-block;
	float: left;
	clear: both;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 2% 0;
	padding: 20px 20px 10px 20px;
	min-height: 100px;
	max-width: 980px;
	width: 100%;
	border: 1px solid #CCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #f1f1f1;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,1.0);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,1.0);
	box-shadow: 0 1px 0 rgba(255,255,255,1.0);
	text-shadow: 0 1px 0 #FFF;
}

.authorship h2 {
	margin: 0 0 10px 0;
	font-size: 1.0em;
}*/

.authorship dt {
	float: left;
	clear: left;
	margin: 0 3px 10px 0;
	white-space: nowrap;
	font-weight: bold;
}

.authorship dd {
	float: left;
	margin: 0 0 10px 0;
	white-space: nowrap;
}



/* Display date */



#content-edit-content_date {
	float: left;
	width: 70%;
}

#benefit-edit_discountAmounts input[type=text] {
	float: none;
}


/* Contextual help */


.help {
	float: left;
	margin: 11px 0 0 15px;
	position: relative;
	width: 25%;
}

.help a {
	visibility: hidden;
	text-decoration: none;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.help a:before {
	visibility: visible;
	color: #467eb0;
	content: "\f059";
	font-style: normal;
	font-family: 'FontAwesome';
}

.help a:hover {
	cursor: pointer;
}

.help .description {
	position: absolute;
	top: -10px;
	left: 20px;
	z-index: 20;
	display: none;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 2%;
	padding: 15px;
	min-height: 39px;
	width: inherit;
	width: 100%;
	min-width: 120px;
	border: 1px solid #d5cb95;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fcf8e3;
	font-size: 14px;
}

.help .description:before {
	position: absolute;
	top: 10px;
	left: -7px;
	display: block;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-right: 7px solid #d5cb95;
	border-bottom: 7px solid transparent;
	content: '';
}

.help .description:after {
	position: absolute;
	top: 11px;
	left: -6px;
	display: block;
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-right: 6px solid #fcf8e3;
	border-bottom: 6px solid transparent;
	content: '';
}

.help .description:hover {
	cursor: pointer;
}

.help .description p {
	color: #836229;
	line-height: 1.5em;
	margin-bottom: 0px;
}


/*.field.inline .help {
	margin-top: 0;
}

.field.inline .help .description {
	top: -10px;
	left: 10px;

}

.field.inline .help .long {
	top: -10px;
}

.inline .field .help .description {
	left: 260px;
	z-index: 999;
	width: 100%;

}

table .inline .field .help .description {
	top: 22px;
	margin-left: 4%;
}*/


/* File Manager
------------------------------------------------------------ */



.listing a,
.listing .product-image {
	position: relative;
	display: inline-block;
	margin: 0 23px 23px 0;
	width: 200px;
	height: 200px;
	border: 5px solid #FFF;
	-webkit-box-shadow: 0 0 0 1px #ccc, 0 1px 3px rgba(000,000,000,0.2);
	-moz-box-shadow: 0 0 0 1px #ccc, 0 1px 3px rgba(000,000,000,0.2);
	box-shadow: 0 0 0 1px #ccc, 0 1px 3px rgba(000,000,000,0.2);
	text-decoration: none;
}

.listing img {
	width: 200px;
	height: 200px;
	background: #FFF;
}

.file-overlay {
	position: absolute;
	bottom: 0px;
	z-index: 99px;
	overflow: hidden;
	padding: 10px 0 10px 10px;
	width: 190px;
	background: rgba(0,0,0,0.5);
	color: #eee;
}



/* Sidebar */



.search.files .field {
	margin-bottom: 0;
}

.file-upload {
	float: left;
}

.file-upload input[type=file] {
	margin-top: 0;
	padding-top: 12px;
	padding-left: 10px;
}

.sidebar .back {
	display: block;
	margin: 20px 0 0 25px;
	color: #FFF;
	text-align: left;
	text-decoration: none;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.sidebar .back:before {
	margin-right: 8px;
	content: "\f060";
	font-family: 'FontAwesome';
}

ul.search-results {
	margin: 20px;
}

.search-results li {
	margin: 20px 0px;
}

.search-results li a {
	text-decoration: none;
}

.search-results li a:hover {
	text-decoration: underline;
}

/* File Details */



.file {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	margin: auto;
	padding: 0;
	max-width: 500px;
	width: auto;
	height: auto;
	border: 1px solid #CCC;
	-webkit-box-shadow: 0 1px 6px rgba(000,000,000,0.1);
	-moz-box-shadow: 0 1px 6px rgba(000,000,000,0.1);
	box-shadow: 0 1px 6px rgba(000,000,000,0.1);
}

.file-manager .button.delete {
	position: fixed;
	top: 87px;
	right: 151px;
	z-index: 12;
	display: inline-block;
	margin-right: 25px;
}




/* Products
------------------------------------------------------------ */



.container-content.products {
	position: relative;
	float: left;
	overflow: visible;
	overflow-y: scroll;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 23px 0 23px 23px;
	width: inherit;
	width: 100%;
	height: -moz-calc(100% - 120px);
    height: -webkit-calc(100% - 120px);
    height: calc(100% - 120px);
}



/* Create product */



.create-product button {
	position: fixed;
	top: 80px;
	right: 14px;
	z-index: 11;
}

.positive {
	color: #3fa262;
}

.negative {
	color: #d84939;
}

.stock-total {
	font-weight: bold;
}

.unit-count {
	margin-right: 10px;
}


/* Sidebar */



.create.product {
	margin-top: 20px;
}



/* Product images */



.product-image dl {
	display: block;
	clear: both;
	font-size: 14px;
}

.product-image dt {
	font-weight: bold;

}

.product-image dd {
	margin-bottom: 10px;
}

.options .group {
	padding: 20px 0 0 20px;
}



/* Stock */



.stock-reason {
	float: left;
	margin-bottom: 10px;
	list-style: none;
}

.stock-reason li {
	margin-bottom: 10px;
}


/* Orders
------------------------------------------------------------ */



/* Sidebar */



.order-overview {
	float: left;
	font-size: 16px;
}

.order-overview h2 {
	color: #FFF;
}

.order-overview ul {
	float: left;
	padding-top: 20px;
	list-style: none;
}

.order-overview li {
	float: left;
	margin-bottom: 20px;
	margin-left: 25px;
	width: 200px;
}

.order-overview span {
	display: block;
	margin-bottom: 5px;
	width: 100%;
	color: #AAA;
	white-space: nowrap;
	font-family:'Proxima N W15 Reg It', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



/* Fulfillment */



.fulfillment ul {
	float: left;
	width: 100%;
	margin: 0px 0px 10px 0px;
}

.fulfillment li {
	list-style-type: none;
	float: left;
	margin-bottom: 10px;
	width: 100%;
	font-size: 15px;
}

.fulfillment form {
	width: 100%;
}

.fulfillment .repeatable-group {
	margin-top: 10px;
	width: 30%;
}

.fulfillment .address p {
 	padding: 0px 20px;
}

.fulfillment .address a.amend {
	display: block;
	float: left;
	margin: 20px;
}

.fulfillment .button {
	margin-bottom: 30px;
}

.pick-list {
	margin: 0 0 20px 0;
}

.pick-list input {
	margin: 0px;

}

.pick-list .image img {
	float: left;
	position: absolute;
}

.pick-list .image h3 {
	width: auto;
	margin: 0 0 5px 120px;
	border-bottom: none;
	min-height: 100px;
	vertical-align: middle;
}

.pick-list h3 {
	border-bottom: none;
	margin-bottom: 0;
}

.pick-item {
	text-align: center;
}


.fulfillment .field {
	margin-bottom: 10px;
}

.adr-line {
	margin-bottom: 0;
}

.adr-line span {
	display: block;
	clear: both;
	margin-bottom: 10px;
}

td.complete {
	background: #c9e5c9 !important;
}

td.partial {
	background: #fed779 !important;
}



/* Orders */



.summary {
	display: inline-block;
	width: 100%;
}

.order-listing-overview {
	text-align: center;
}

.order-listing-overview td {
	z-index: 0;
	padding-right: 20px;
	text-align: right;
}

.order-listing-overview .left {
	text-align: left;
}

.order-details {
	float: left;
	margin: 0 0 20px 0;
	list-style: none;
	width: 100%;
}

.order-details li {
	margin-bottom: 10px;
	padding-left: 150px;
	min-height: 20px;
	font-size: 15px;
}

.order-details li em {
	font-size: smaller;
}

.order-details span {
	display: block;
	float: left;
	margin-left: -150px;
	width: 150px;
	font-weight: normal;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

ol.order-details li {
	list-style-type: decimal;
}

.order-summary h2 {
	position: relative;
	z-index: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 20px 0;
	padding: 20px 20px 12px 20px;
	width: 100%;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	background: none;
	background-color: #f9f9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -moz-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -o-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -ms-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: linear-gradient(top, #f9f9f9, #f1f1f1);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	font-size: 1em;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f9f9f9', EndColorStr='#f1f1f1');
}

.progress tr:first-child {
	font-weight: bold;
}

.total-summary th {
	text-align: right;
	padding: 12px 15px 10px;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	-webkit-box-shadow: inset 1px 1px 0 #FFF;
	-moz-box-shadow: inset 1px 1px 0 #FFF;
	box-shadow: inset 1px 1px 0 #FFF;
	vertical-align: middle;
	text-align: right;
	font-family: 'Proxima N W15 Reg', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	background: #FFF;
}

.total-summary td {
	background: #FFF !important;
}



/* Vouchers
------------------------------------------------------------ */



.vouchers.title .controls {
	top: 14px;
}

.vouchers h2 {
	float: left;
	width: 100%;
}

.create-voucher {
	display: block;
}

.notice {
	clear: both;
	margin: 10px 0px;
}

.voucher-details {
	float: left;
	margin: 0 0 10px 0;
	list-style: none;
}

.voucher-details li {
	float: left;
	margin-bottom: 10px;
	width: 100%;
}

.voucher-details span {
	display: block;
	float: left;
	overflow: hidden;
	width: 150px;
	font-weight: normal;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.voucher-details.col {
	display: table-cell;
	padding: 10px ;
	width: 45%;

}



/* Reports
------------------------------------------------------------ */

.filter-by .field {
	float: left;
	padding: 20px 10px;
	width: 340px;
}

.filter-by input, .filter-by select {
	margin-bottom: 0px;
	min-width: 340px;
	width: 340px;
	height: 40px;
}


button.filter {
	display: block;
	clear: both;
	margin: 10px;
	position: absolute;
	bottom: 0px;
	right: 0px;
}



tr.total {
	border: 1px solid #26537c;
	background-color: #5995c0;
	color: #fff;
	font-weight: bold;

}


table tr.total:nth-child(even) td,
table tr.total:nth-child(odd) td  {
	border: 1px solid #26537c;
	background: none;
	-webkit-box-shadow: inset 1px 1px 0 #64a5d4;
	-moz-box-shadow: inset 1px 1px 0 #64a5d4;
	box-shadow: inset 1px 1px 0 #64a5d4;
	text-shadow: 0px 1px 1px rgba(000,000,000,0.25);
	font-weight: normal;
}

tr.grandtotal {
	border: 1px solid #3e6886;
	background-color: #4e82a7;
	color: #fff;
	font-weight: bold;

}

table tr.grandtotal:nth-child(even) td, table tr.grandtotal:nth-child(odd) td  {
	border: 1px solid #3e6886;
	background: none;
	-webkit-box-shadow: inset 1px 1px 0 #5992ba;
	-moz-box-shadow: inset 1px 1px 0 #5992ba;
	box-shadow: inset 1px 1px 0 #5992ba;
}



/* Scrollbars
-------------------------------------------- */



::-webkit-scrollbar {
	  width: 10px;
} /* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar-track {
	  background-color: rgba(0,0,0,0);
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb:horizontal {
	background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
	  border-radius: 20px;
	  background-color: rgba(0, 0, 0, 0.5);
} /* this will style the thumb, ignoring the track */



/* Discounts
---------------------------------------- */



#criteria-edit_products .field {
	float: left;
	width: 50%;
}

.choose {
	padding-bottom: 0;
	position: relative;
}

.choose .option {
	float: left;
	width: 46%;
}

.choose .or {
	float: left;
	width: 8%;
	text-align: center;
	margin-top: 31px;
}

.choose .option .add-on {
	max-width: 100%;
	width: 100%;
}

.choose .field-wrap .field label {
	position: absolute;
	top: -23px;
	left: 170px;
}


/* Errors
-------------------------------------- */



.container-error {
	top: 35%;
	left: 25%;
	width: 50%;
	height: auto;
	text-align: center;
}

.container-error p,
.container-error dd {
	margin: 20px 0px;
}

.container-error dl {
	padding-left: 150px;
	text-align: left;
}

.container-error dt {
	float: left;
	margin-left: -150px;
	font-weight: bold;
}

.e-505 p {
	text-align: left;
}



/* Repairs
--------------------------------------- */

.apply-discount,
.apply-misc {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.apply-discount .add-on,
.apply-misc .add-on {
	float: left;
	width: 65%;
}

.apply-discount label,
.apply-misc label {
	font-size: 1.08em;
	float: left;
	width: 30%;
	margin-right: 5%;
}

.apply-discount .add-on p,
.apply-misc .add-on p {
	margin-bottom: 0;
}

.apply-discount .add-on input,
.apply-misc .add-on input {
	width: 100px;
	margin-bottom: 0;
}

.option-price {
	position: relative;
	top: -20px;
	left: 25px;
	clear: both;
	margin-bottom: 0;
}

.menu-collapse, .sidebar-collapse {
	display: none;
}

.repair-total {
	float: left;
	width: 100%;
}

.service-list dt {
	margin-bottom: 20px;
	margin-right: 5%;
	width: 30%;
	float: left;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.service-list dd {
	width: 65%;
	float: left;
}



/* Users
--------------------------------------- */



.skip-payment {
	float: right;
	overflow: hidden;
	margin: 20px 20px 0 20px;
	height: 19px;
}

.skip-payment .field {
	margin: 0px;
	max-width: none;
	width: auto;
}


.impersonate {
	position: relative;
	display: inline-block;
	float: right;
	margin-top: 12px;
	margin-right: 8px;
}


/* Dashboard widgets
--------------------------------------- */


.dashboard.home .container-content.tall {
	height: -moz-calc(100% - 140px);
	height: -webkit-calc(100% - 140px);
	height: calc(100% - 140px);
}

.welcome {
	float: left;
	width: 100%;
	position: relative;
	height: 140px;
	padding-bottom: 20px;
	margin-bottom: 23px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #CCC;
	background: #FFF;
}

.welcome img {
	position: absolute;
	top: 20px;
	left: 20px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

.welcome h1 {
	margin-top: 45px;
	border: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

.welcome h1,
.welcome p {
	float: left;
	margin-left: 140px;
	clear: both;
	width: auto;
}

.stats {
	float: right;
	position: absolute;
	top: 40px;
	right: 40px;
	font-size: 14px;
	height: 60px;
	border-left: 1px solid #DDD;
}

.stats li {
	list-style: none;
	margin-bottom: 5px;
}

.stats b {
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	display: inline-block;
	min-width: 200px;
	margin-right: 50px;
	text-align: right;
}

h1.amount {
	border: none;
	padding-bottom: 0;
	margin-bottom: 15px;
}

.site-stats {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.site-stats ul {
	float: left;
	width: 100%;
	text-align: center;
}

.site-stats li {
	display: inline-block;
	width: 19%;
	margin-top: 30px;
}

.site-stats h2 {
	width: 100%;
	border: none;
}

.site-stats span {
	float: left;
	width: 100%;
	font-size: 40px;
}

.site-stats .customers:before {
	position: relative;
	margin-right: 6px;
	content: "\f0c0";
	font-size: 1.15em;
	font-family: 'FontAwesome';
}

.site-stats .visitors:before {
	position: relative;
	margin-right: 6px;
	content: "\f145";
	font-size: 1.15em;
	font-family: 'FontAwesome';
}

.site-stats .sales:before {
	position: relative;
	margin-right: 6px;
	content: "\f07a";
	font-size: 1.15em;
	font-family: 'FontAwesome';
}

.site-stats .income:before {
	position: relative;
	margin-right: 6px;
	content: "\f080";
	font-size: 1.15em;
	font-family: 'FontAwesome';
}

.site-stats .orders:before {
	position: relative;
	margin-right: 6px;
	content: "\f0d1";
	font-size: 1.15em;
	font-family: 'FontAwesome';
}
