/* ======================================================= */
/*                                                         */
/*                                                         */
/*    Mothership         					               */
/*                                                         */
/*                                                         */
/* ======================================================= */
/*
/*
/*    Development by Message
/*    http://www.message.co.uk
/*
/*    Control Panel Style Sheet v1.0
/*    Created by Richard McCartney
/*
/*
/* ======================================================= */






/* Navigation
------------------------------------------------------------ */



.navigation {
	position: fixed;
	z-index: 999; /* No other z-index should be higher than this decloration */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 61px;
	border: 1px solid #26537c;
	background-color: #528cb6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#528cb6), to(#4473a6));
	background-image: -webkit-linear-gradient(top, #528cb6, #4473a6);
	background-image: -moz-linear-gradient(top, #528cb6, #4473a6);
	background-image: -o-linear-gradient(top, #528cb6, #4473a6);
	background-image: -ms-linear-gradient(top, #528cb6, #4473a6);
	background-image: linear-gradient(top, #528cb6, #4473a6);
	-webkit-box-shadow: 0px 0px 1px 3px rgba(17,48,81,0.1), inset 0px -1px 0px 0px rgba(255,255,255,0.1);
	-moz-box-shadow: 0px 0px 1px 3px rgba(17,48,81,0.1), inset 0px -1px 0px 0px rgba(255,255,255,0.1);
	box-shadow: 0px 0px 1px 3px rgba(17,48,81,0.1), inset 0px -1px 0px 0px rgba(255,255,255,0.1);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#528cb6', EndColorStr='#4473a6');
}

.navigation a {
	color: #FFF;
	text-decoration: none;
	text-shadow: 0px 1px 1px rgba(000,000,000,0.25);
	font-size: 0.875em;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



.navigation h1 a {
	font-size: 0.6em;

}

.navigation .vendor {
	position: relative;
	float: left;
	width: 248px;
	height: 59px;
	border-right: 1px solid #26537c;
	background-color: #3f759f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3f759f), to(#34608c));
	background-image: -webkit-linear-gradient(top, #3f759f, #34608c);
	background-image: -moz-linear-gradient(top, #3f759f, #34608c);
	background-image: -o-linear-gradient(top, #3f759f, #34608c);
	background-image: -ms-linear-gradient(top, #3f759f, #34608c);
	background-image: linear-gradient(top, #3f759f, #34608c);
	-webkit-box-shadow: inset 0px -1px 0px rgba(255,255,255,0.1);
	-moz-box-shadow: inset 0px -1px 0px rgba(255,255,255,0.1);
	box-shadow: inset 0px -1px 0px rgba(255,255,255,0.1);
	text-indent: 58px;
	line-height: 65px;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3f759f', EndColorStr='#34608c');
}

.navigation .vendor a {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(../images/mothership-logo.png) 20px center no-repeat;
	font-family:'Proxima N W15 Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navigation ol {
	float: left;
	height: 59px;
	list-style: none;
}

.navigation li {
	position: relative;
	float: left;
	height: 59px;
	border-right: 1px solid #26537c;
	line-height: 64px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.navigation li a {
	display: block;
	padding: 0 25px;
	font-family:'Proxima N W15 Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navigation li:hover {
	background: #19517d;
}

.navigation li.current {
	background: #F1F1F1;
	-webkit-box-shadow: 0px 8px 0px #F1F1F1;
	-moz-box-shadow: 0px 8px 0px #F1F1F1;
	box-shadow: 0px 8px 0px #F1F1F1;
}

.navigation li.current a {
	color: #333;
	text-shadow: 0px 1px 0px #FFF;
}

.logout {
	position: absolute;
	top: 14px;
	right: 14px;
	display: block;
	width: 101px;
	height: 31px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #19517d;
	-webkit-box-shadow: 1px 1px 0px #5584b4;
	-moz-box-shadow: 1px 1px 0px #5584b4;
	box-shadow: 1px 1px 0px #5584b4;
	text-align: center;
	text-shadow: none;
	font-size: 0.875em;
	font-family: 'Proxima N W15 Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	line-height: 28px;
}

.logout:before {
	position: relative;
	top: 1px;
	margin-right: 6px;
	content: "\f011";
	font-size: 1.15em;
	font-family: 'FontAwesome';
}

.logout:hover {
	-webkit-box-shadow: inset 0px -2px 5px 0px rgba(000, 000, 000, 0.25), 1px 1px 0px #5584b4;
	-moz-box-shadow: inset 0px -2px 5px 0px rgba(000, 000, 000, 0.25), 1px 1px 0px #5584b4;
	box-shadow: inset 0px 1px 5px 0px rgba(000, 000, 000, 0.25), 1px 1px 0px #5584b4;
}



/* Dashboard / Welcome
------------------------------------------------------------ */



.welcome {
	position: absolute;
	top: 50%;
	width: 100%;
	-webkit-box-shadow: 0px 4px 0px #F1F1F1;
	-moz-box-shadow: 0px 4px 0px #F1F1F1;
	box-shadow: 0px 4px 0px #F1F1F1;
	text-align: center;
	font-size: 26px;
	font-family:'Proxima N W15 Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.welcome:before {
	margin-right: 10px;
	content: "\f118";
	font-family: 'FontAwesome';
}



/* Loading spinner
------------------------------------------------------------ */



.loading-spinner {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 9999;
	display: none;
	width: 300px;
	height: 65px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: rgba(000,000,000,0.4);;
}

.loading-spinner p {
	position: absolute;
	top: 20px;
	left: 20px;
	color: #FFF;
	font-size: 1.5em;
	font-family: 'Proxima N W15 Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.spinner {
	position: absolute;
	top: 12px;
	right: 16px;
	z-index: 1000;
	width: 30px;
	height: 30px;
	border: 5px solid rgba(255,255,255,0.15);
	border-radius: 100%;
	-webkit-animation: rotation .6s infinite linear;
	-moz-animation: rotation .6s infinite linear;
	-o-animation: rotation .6s infinite linear;
	animation: rotation .6s infinite linear;
}

.spinner:before {
	position: absolute;
	top: -5px;
	left: -5px;
	display: block;
	width: 100%;
	height: 100%;
	border: 5px solid rgba(255,255,255,0.8);
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid transparent;
	border-radius: 100%;
	content: "";
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}

.loading .loading-spinner {
	display: block;
}



/* Sidebar
------------------------------------------------------------ */



.sidebar {
	position: fixed;
	z-index: 0;
	float: left;
	overflow-x: hidden;
	width: 250px;
	height: inherit;
	background: #333;
	color: #FFF;
}

.sidebar .search {
	position: relative;
}

.sidebar .search .field {
	margin-bottom: 0;
}

.sidebar .search .field input /* Override the field styling */ {
	max-width: 210px;
	width: 210px;
}

.sidebar .search label, .sidebar .filter-by label {
	display: none;
}

.sidebar form {
	margin-bottom: 0;
}

.sidebar input {
	margin: 20px 20px 20px 19px;
	padding: 6px 0 0 4px;
	width: 210px;
	height: 40px;
	border: none;
	background: #111;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	color: #999;
	text-align: left;
	text-indent: 0px;
	font-size: 0.875em;
	font-family:'Proxima N W15 Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-appearance: none;
}

.sidebar input:focus {
	border: none;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255,255,255,0.1);
}

.sidebar select, .sidebar .filter-by select {
	margin: 0px 20px 20px 19px;
	min-width: 210px;
	max-width: 210px;
	width: 210px;
	border: 1px solid #111;
	padding: 10px;
	background-repeat: no-repeat;
	background-position: right center;
	background-color: #343434;
	background-image: url(../images/select-arrow-dark.png), -webkit-gradient(linear, left top, left bottom, from(#343434), to(#272727));
	background-image: url(../images/select-arrow-dark.png), -webkit-linear-gradient(top, #343434, #272727);
	background-image: url(../images/select-arrow-dark.png), -moz-linear-gradient(top, #343434, #272727);
	background-image: url(../images/select-arrow-dark.png), -o-linear-gradient(top, #343434, #272727);
	background-image: url(../images/select-arrow-dark.png), -ms-linear-gradient(top, #343434, #272727);
	background-image: url(../images/select-arrow-dark.png), linear-gradient(top, #343434, #272727);
	-webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.1), 0px 1px 3px rgba(000,000,000,0.3);
	-moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.1), 0px 1px 3px rgba(000,000,000,0.3);
	box-shadow: inset 0 -1px 0 rgba(255,255,255,0.1), 0px 1px 3px rgba(000,000,000,0.3);
	color: #b2b2b2;
	text-shadow: 0px -1px 0 #111;
	font-family:'Proxima N W15 Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#343434', EndColorStr='#272727');
}

.sidebar .filter-by .field {
	float: left;
	width: 210px;
	padding: 0px;
}



.sidebar .search input:focus button {
	display: none;
}

.sidebar .search ::-webkit-input-placeholder,
.sidebar .search :-moz-placeholder,
.sidebar .search ::-moz-placeholder,
.sidebar .search :-ms-input-placeholder {
	float: left;
	color: red;
	text-align: left;
	text-indent: 0;
}

.sidebar .button {
	margin: 0 20px 20px;
	padding: 12px 0;
	width: 210px;
}

.sidebar .button:active {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 0 1px rgba(0, 0, 0, 0.08), 0 1px 0 rgba(255, 255, 255, 0);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 0 1px rgba(0, 0, 0, 0.08), 0 1px 0 rgba(255, 255, 255, 0);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 0 1px rgba(0, 0, 0, 0.08), 0 1px 0 rgba(255, 255, 255, 0);
}

.sidebar .search {
	position: relative;
}

.sidebar .search button {
    position: absolute;
    top: 34px;
    right: 35px;
    padding: 0;
	width: 12px;
	border: none;
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: transparent;
    color: transparent;
    text-shadow: none;
    font-size: 0;
	line-height: 0;
}

.sidebar .search button:before {
	color: #999;
	content: "\f002";
	font-size: 12px;
	font-family: 'FontAwesome';
	line-height: 12px;
}



/* Sidebar Menu */



.sidebar .menu {
	float: left;
	margin: 0;
	padding: 0;
	width: 250px;
	border-top: 1px solid #222;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255,255,255,0.1);
}

.sidebar .menu a {
	overflow: hidden;
	max-height: 40px;
	color: #FFF;
	text-decoration: none;
	text-overflow: ellipsis;
	text-shadow: 0px 1px 1px rgba(000,000,000,0.25);
	white-space: nowrap;
	font-size: 0.875em;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.sidebar .menu ol {
	float: left;
	margin: 0;
	margin-top: 41px;
	padding: 0;
	width: 250px;
	list-style: none;
}

.sidebar .menu li /* Top level */ {
	position: relative;
	float: left;
	min-height: 40px;
	width: 250px;
	border-bottom: 1px solid #151515;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	color: #FFF;
	list-style: none;
}

.sidebar .menu .open {
	border-bottom: none;
	background: #444;
}

.sidebar .menu .open > a:first-child {
	border-bottom: 1px solid #1d1d1d;
}

.sidebar .menu li:hover {
	background: #444;
}

.sidebar .menu li a,
.sidebar .menu .active li a {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	padding: 0 20px;
	width: 210px;
	line-height: 40px;
}

.sidebar .menu li ol,
.sidebar .menu li ol li ol {
	display: none;
	background: #252525;
}

.sidebar .menu .badge {
	position: absolute;
	top: 7px;
	right: 17px;
	display: block;
	padding: 5px;
	width: 16px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #111;
	text-align: center;
	text-indent: 0 !important;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 16px;
}



/* Sidebar level  idicators */



.sidebar .menu li li /* First child  */ {
	min-height: 40px;
	background: #252525;
	-webkit-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525;
	-moz-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525;
	box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525;
	text-indent: 20px;
}

.sidebar .menu li li li /* Second child */ {
	-webkit-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae;
	-moz-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae;
	box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae;
	text-indent: 40px;
}

.sidebar .menu li li li li /* Third child */ {
	-webkit-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 16px 0 0 #1f527f, inset 17px 0 0 #252525;
	-moz-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 16px 0 0 #1f527f, inset 17px 0 0 #252525;
	box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 16px 0 0 #1f527f, inset 17px 0 0 #252525;
	text-indent: 60px;
}

.sidebar .menu li li li li li /* Fourth child */ {
	-webkit-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 16px 0 0 #1f527f, inset 17px 0 0 #252525, inset 22px 0 0 #153a5a, inset 23px 0 0 #252525;
	-moz-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 16px 0 0 #1f527f, inset 17px 0 0 #252525, inset 22px 0 0 #153a5a, inset 23px 0 0 #252525;
	box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 16px 0 0 #1f527f, inset 17px 0 0 #252525, inset 22px 0 0 #153a5a, inset 23px 0 0 #252525;
	text-indent: 60px;
}

.sidebar .menu li li li li li li /* Fifth child */ {
	-webkit-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 16px 0 0 #1f527f, inset 17px 0 0 #252525, inset 22px 0 0 #153a5a, inset 23px 0 0 #252525;
	-moz-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 16px 0 0 #1f527f, inset 17px 0 0 #252525, inset 22px 0 0 #153a5a, inset 23px 0 0 #252525;
	box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 16px 0 0 #1f527f, inset 17px 0 0 #252525, inset 22px 0 0 #153a5a, inset 23px 0 0 #252525;
	text-indent: 60px;
}



/* Sidebar active states */



.sidebar .menu .active > a:first-child {
	background: #555;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
}

.sidebar .menu li li.active > a:first-child {
	background: #467eb0;
	-webkit-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525;
	-moz-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525;
	box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525;
}

.sidebar .menu li li li.active > a:first-child {
	background: #286fae;
	-webkit-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 11px 0 0 #286fae, inset 12px 0 0 #252525;
	-moz-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 11px 0 0 #286fae, inset 12px 0 0 #252525;
	box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 11px 0 0 #286fae, inset 12px 0 0 #252525;
}

.sidebar .menu li li li li.active > a:first-child {
	background: #1f527f;
	-webkit-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 16px 0 0 #1f527f, inset 17px 0 0 #252525;
	-moz-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 16px 0 0 #1f527f, inset 17px 0 0 #252525;
	box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 16px 0 0 #1f527f, inset 17px 0 0 #252525;
}

.sidebar .menu li li li li li.active > a:first-child {
	background: #153a5a;
	-webkit-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 16px 0 0 #1f527f, inset 17px 0 0 #252525, inset 22px 0 0 #153a5a, inset 23px 0 0 #252525;
	-moz-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 16px 0 0 #1f527f, inset 17px 0 0 #252525, inset 22px 0 0 #153a5a, inset 23px 0 0 #252525;
	box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 16px 0 0 #1f527f, inset 17px 0 0 #252525, inset 22px 0 0 #153a5a, inset 23px 0 0 #252525;
}



/* Main
------------------------------------------------------------ */



.clear /* clear space for the navigation */ {
	margin: 61px 0 40px 0;
	width: 100%;
	height: -moz-calc(100% - 101px);
    height: -webkit-calc(100% - 101px);
    height: calc(100% - 101px);
}

.main {
    position: fixed;
	display: inline-block;
    overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 40px 250px;
	width: -moz-calc(100% - 250px);
    width: -webkit-calc(100% - 250px);
    width: calc(100% - 250px);
	height: inherit;
}

.dashboard {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 23px;
	width: 100%;
}

.dashboard h1 {

}


/* Page title
------------------------------------------------------------ */


.title {
	position: relative;
	z-index: 10;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px 22px 15px;
	width: 100%;
	border-bottom: 1px solid #c4c4c4;
	background-color: #f1f1f1;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e7e7e7));
	background-image: -webkit-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: -moz-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: -o-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: -ms-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: linear-gradient(top, #f1f1f1, #e7e7e7);
	-webkit-box-shadow: 0px 1px 3px rgba(150,150,150,0.25), inset 0px -1px 0px rgba(255,255,255,0.5);
	-moz-box-shadow: 0px 1px 3px rgba(150,150,150,0.25), inset 0px -1px 0px rgba(255,255,255,0.5);
	box-shadow: 0px 1px 3px rgba(150,150,150,0.25), inset 0px -1px 0px rgba(255,255,255,0.5);
	text-shadow: 0px 1px 0px #FFF;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f1f1f1', EndColorStr='#e7e7e7');
}

.title h1 {
	display: inline-block;
	width: auto;
	white-space: nowrap;
}

.title h2  {
	display: inline-block;
	margin-left: 15px;
	width: auto;
	white-space: nowrap;
	font-size: 0.9em;
}

.title h1:hover,
.title h2:hover {
	cursor: default;
}

.title h1[data-title]:after {
	margin-left: 8px;
	content: "\f040";
	font-size: 0.875em;
	font-family: 'FontAwesome';
}

.title h1[data-title]:hover {
	cursor: pointer;
}

.edit-title {
	position: absolute;
	top: 0;
	z-index: 11;
	display: none;
	padding-left: 22px;
	width: 100%;
	height: 64px;
	background: #F1F1F1;
	background-color: #f1f1f1;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e7e7e7));
	background-image: -webkit-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: -moz-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: -o-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: -ms-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: linear-gradient(top, #f1f1f1, #e7e7e7);
	-webkit-box-shadow: 0px 1px 3px rgba(150,150,150,0.25), inset 0px -1px 0px rgba(255,255,255,0.5);
	-moz-box-shadow: 0px 1px 3px rgba(150,150,150,0.25), inset 0px -1px 0px rgba(255,255,255,0.5);
	box-shadow: 0px 1px 3px rgba(150,150,150,0.25), inset 0px -1px 0px rgba(255,255,255,0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f1f1f1', EndColorStr='#e7e7e7');
}

.edit-title label {
	display: none;
}

.edit-title input {
	z-index: 11;
	float: left;
	margin: 10px 10px 0 0;
	max-width: 300px;
}

.edit-title button {
	z-index: 11;
	float: left;
	margin-top: 11px;
}



/* Top Bar
------------------------------------------------------------ */



.topbar {
	z-index: 10;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: -1px 0 0;
	padding: 0 23px 0 0;
	width: 100%;
	min-width: 1005px;
	height: 56px;
	border-top: 1px solid #C8C8C8;
	border-bottom: 1px solid #C8C8C8;
	background-color: #f9f9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -moz-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -o-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -ms-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: linear-gradient(top, #f9f9f9, #f1f1f1);
	-webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.05);
	-moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.05);
	box-shadow: 0px 1px 3px rgba(000,000,000,0.05);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f9f9f9', EndColorStr='#f1f1f1');
}

.topbar .tabs {
	float: left;
	list-style: none;
}

.topbar .tabs li {
	position: relative;
	float: left;
	height: 55px;
	border-right: 1px solid #C8C8C8;
	text-decoration: 0px 1px 0px rgba(255,255,255,1.0);
	font-size: 0.938em;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.topbar .tabs li.active:after {
	position: absolute;
	left: 50%;
	display: block;
	margin: -6px 0 0 -10px;
	width: 0;
	height: 0;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #F1F1F1;
	border-left: 10px solid transparent;
	content: '';
}

.topbar .tabs li.active:before {
	position: absolute;
	bottom: -1px;
	left: 50%;
	display: block;
	margin: 0 0 0 -8px;
	width: 0;
	height: 0;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #C8C8C8;
	border-left: 8px solid transparent;
	content: '';
}

.topbar .tabs a {
	display: block;
	padding: 0 23px;
	height: 56px;
	text-decoration: none;
	text-shadow: 0px 1px 0px rgba(255,255,255,1.0);
	line-height: 61px;
}

.controls {
	margin: 0 162px 0 0;
	width: auto;
	height: 56px;
	text-align: right;
}

.title .controls {
	position: absolute;
	top: 18px;
	right: 23px;
	margin: 0;
	width: auto;
	height: 56px;
	text-align: right;
}

.controls form {
	width: auto;
}



/* Delete page */



#delete-page {
	position: relative;
	display: inline-block;
	margin-right: 8px;
	margin-top: 12px;
}

.delete-page {
	display: inline-block;
	margin-top: 7px;
	margin-right: 35px;
	padding: 0;
	border: none !important;
	border-bottom: 1px solid #555;
	background: none !important;
	box-shadow: none;
	color: #333 !important;
	text-shadow: 0px 1px 0px #FFF !important;
	font-size: 1.0em;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.delete-page:before {
	margin-right: 8px;
	content: "\f014";
	font-family: 'FontAwesome';
}

.delete-page:hover {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}



/* Publish */



.publish {
	display: inline-block;
	margin-right: 8px;
}

.publish a {
	text-decoration: none;
}

.publish .button.button-group {
	position: inherit;
}

.publish .button-group span:before {
	content: "\f017";
	font-style: normal;
	font-family: 'FontAwesome';
}

.publish .dropdown-menu {
	position: absolute;
	top: 120px !important;
	left: 0;
	z-index: 100;
	display: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 23px 23px 3px 23px;
	width: 100% !important;
	border-bottom: 1px solid #C1C1C1;
	background: #FFF !important;
	-webkit-box-shadow: inset 0px 1px 3px rgba(000,000,000,0.1), 0px 1px 3px rgba(000,000,000,0.1);
	-moz-box-shadow: inset 0px 1px 3px rgba(000,000,000,0.1), 0px 1px 3px rgba(000,000,000,0.1);
	box-shadow: inset 0px 1px 3px rgba(000,000,000,0.1), 0px 1px 3px rgba(000,000,000,0.1);
}

.publish form {
	float: left;
	width: 100%;
}

.publish .dropdown-wrap {
	float: left;
	width: 460px;
	height: auto;
}

.publish .date-time {
	float: left;
	width: 300px;
}

.publish .date-time .field {
	display: inline-block;
	float: left;
	width: auto;
}

.publish .field label {
	display: inline-block;
	float: none !important;
	width: auto !important;
}

.publish .field select {
	display: inline-block;
	min-width: 0;
}



/* Preview */




/* Content
------------------------------------------------------------ */


.container-content {
	position: relative;
	overflow: visible;
	overflow-y: scroll;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 23px;
	height: -moz-calc(100% - 120px);
    height: -webkit-calc(100% - 120px);
    height: calc(100% - 120px);
}

.container-content.extended {
	padding: 23px;
	width: inherit;
	width: 100%;
	height: -moz-calc(100% - 65px);
    height: -webkit-calc(100% - 65px);
    height: calc(100% - 65px);
}

.container-details {
	position: relative;
	overflow: visible;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: -moz-calc(100% - 300px);
    width: -webkit-calc(100% - 300px);
    width: calc(100% - 300px);
	height: inherit;
    display: inline-block;
}

.container-details.full {
	width: 100%;
}

.container-details.dual-column {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.dual-column {
	overflow: hidden;
	display: table;
	margin-bottom: 20px;
}

.dual-column .column {
	width: 50% ;
	border: 1px solid #CCC;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 20px;
	vertical-align: top;
}

.dual-column .column:nth-child(2) {
	background: #F5F5F5;
}

.column {
	display: table-cell;
	position: relative;
}

.column .section {
	width: 95%;
	margin: 2.5%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.column .title {
	border: 1px solid #CCC;
	border-bottom: none;
	background-image: none;
}

.column p {
	margin: 10px;
}

.column h2, .box div h2 {
	background: #f9f9f9;
	clear: both;
 	padding: 10px 0px 7px 10px;
	margin: 0px 0px 20px 0px;
	font-size: 1.125em;
	width: 98% !important;
}

#save-content {
	position: fixed;
	top: 138px;
	right: 14px;
	z-index: 12;
}

.dual-column #save-content {
	top: 79px;
}


/* Create page */



.create-page form {
	float: left;
}

.option-block {
	position: relative;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 2% 0;
	min-height: 100px;
	width: 49%;
	border: 1px solid #CCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #f6f6f6;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,1.0);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,1.0);
	box-shadow: 0 1px 0 rgba(255,255,255,1.0);
	text-shadow: 0 1px 0 #FFF;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.option-block:hover {
	background: #f1f1f1;
	cursor: pointer;
}

.option-block:nth-child(odd) {
	margin-left: 1%;
}

.option-block:nth-child(even) {
	margin-right: 1%;
}

.option-block input {
	position: absolute;
	top: 40px;
	left: 25px;
}

.option-block label {
	float: left;
	margin: 25px 0 10px 75px;
}

.option-block p {
	position: relative;
	top: 30px;
	float: left;
	margin-left: 10px;
	margin-left: 55px;
	width: -moz-calc(100% - 55px);
    width: -webkit-calc(100% - 55px);
    width: calc(100% - 55px);
}

.option-block p strong {
	font-weight: normal;
	font-family:'Proxima N W15 Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.option-block .type {
	margin-left: 55px;
}

.create-page button {
	position: fixed;
	top: 77px;
	right: 14px;
	z-index: 11;
}



/* Group */



.group {
	float: left;
	margin: 0 0 30px 0;
	width: 100%;
	background: #FFF;
}

.group h2 {
	float: left;
	margin-bottom: 20px;
	width: 100%;
}

.group label {
	float: left;
	width: 100%;
}




/* Checkbox group */



.group.checkbox {
	max-width: 1400px;
	width: 100%;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #CCC;
}

.group.checkbox  {
	display: inline-block;
	width: 50%;
}
/* Repeatable group */



.repeatable-group {
	position: relative;
	float: left;
	margin: 0 0 30px 0;
	max-width: 2000px;
	width: 100%;
}

.repeatable-group .container {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 20px;
	max-width: 70%;
	width: 70%;
}

.repeatable-group h2 {
	float: left;
	margin-bottom: 20px;
	width: 100%;
}

.repeatable-group .group {
	position: relative;
	margin-bottom: 0;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
	overflow: hidden;
}

.repeatable-group .group:last-child {
	border-bottom: 1px solid #CCC;
}

.repeatable-group .field {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 20px;
}

.repeatable-group .field .field {
	padding: 0;
}

.repeatable-group .title {
	position: relative;
	z-index: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding-bottom: 12px;
	width: 100%;
	border-top: none;
	border-top: 1px solid #CCC;
	border-bottom: none;
	background: none;
	background-color: #f9f9f9;
	background-repeat: no-repeat;
	background-position: 99% center;
	background-image: url(../images/select-arrow-light.png); -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f1f1f1));
	background-image: url(../images/select-arrow-light.png); -webkit-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: url(../images/select-arrow-light.png); -moz-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: url(../images/select-arrow-light.png); -o-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: url(../images/select-arrow-light.png); -ms-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: url(../images/select-arrow-light.png); linear-gradient(top, #f9f9f9, #f1f1f1);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	font-size: 1em;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f9f9f9', EndColorStr='#f1f1f1');
}

.repeatable-group .title:hover {
	cursor: pointer;
}

.repeatable-group .content {
	float: left;
	width: 100%;
	height: auto;
	padding-top: 20px;
	border-top: 1px solid #CCC;
}

.repeatable-group label {
	float: left;
	width: 100%;
}

.repeatable-group .remove {
	float: right;
	margin: 0 20px 20px 0;
}

.repeatable-group .add-group {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 70%;
}

.repeatable-group .add-group .group {
	margin-bottom: 20px;
	padding-top: 20px;
	border: 1px solid #CCC;
}

.repeatable-group .submit {
	float: left;
	margin-top: 10px;
}

.repeatable-group .help {
	position: absolute;
	top: 44px;
	right: -20px;
	width: 30%;
}

/* Display Group */


.display-group {
	position: relative;
	float: left;
	margin: 0 0 30px 0;
	max-width: 2000px;
	width: 100%;
}

.display-group .container {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 20px;
	max-width: 70%;
	width: 70%;
}

.display-group h2 {
	float: left;
	margin-bottom: 20px;
	width: 100%;
}

.display-group .title {
	position: relative;
	z-index: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding-bottom: 12px;
	width: 100%;
	border: 1px solid #CCC;
	border-bottom: none;
	background: none;
	background-color: #f9f9f9;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	font-size: 1em;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f9f9f9', EndColorStr='#f1f1f1');
}



.display-group .group {
	position: relative;
	margin-bottom: 20px;
	border: 1px solid #CCC;
	overflow: hidden;
	max-width: 2000px;
	width: 99.85%;
}



/*
.box h1, .dual-column h1.title, .dual-column h2.title {
	position: relative;
	z-index: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;x
	margin: 0;
	padding: 20px 22px 15px;
	padding-bottom: 12px;
	width: 100%;
	border: 1px solid #CCC;
	border-bottom: none;
	background-image: none;
	background-color: #f9f9f9;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	font-size: 1em;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f9f9f9', EndColorStr='#f1f1f1');
}
*/
.small-box h2.title/*, .box h2.title*/ {
	position: relative;
	z-index: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;x
	margin: 0;
	padding: 20px 22px 15px;
	padding-bottom: 12px;
	width: 100%;
	border: 1px solid #CCC;
	border-right: none;
	border-left: none;
	background: none;
	background-color: #f9f9f9;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	font-size: 1em;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f9f9f9', EndColorStr='#f1f1f1');
}

/*.box .title h1:hover,
.box .title h2:hover {
	cursor: auto;
}*/

.small-box-row {
	border-collapse: separate;
	border-spacing: 15px;
	display: table;
	margin: 0px -15px;

}

.group.small-box {
	width: 30%;
	border: 1px solid #ccc;
	border-top: none;
	overflow: hidden;
	position: relative;
	float: none;
	display: table-cell;
	vertical-align: top;
}

.group.small-box ul {
	width: 90%;
}



/* Fields */



.field {
	position: relative;
	float: left;
	margin: 0 0 10px 0;
	max-width: 1400px;
	width: 100%;
}

.field h2 {
	float: left;
	margin-bottom: 20px;
	width: 100%;
}

.field input,
.field textarea,
.field select {
	max-width: 70%;
	width: 70%;
}

.field label {
	float: left;
	width: 100%;
}

.column .field input,
.column .field textarea {
	max-width: 100%;
	width: 100%;
}




/* Inline field styling */



.field.inline input[type="checkbox"],
.field.inline input[type="radio"]{
	position: absolute;
	left: 0;
	display: inline-block;
}

.field.inline label {
	display: inline-block;
	width: auto;
	text-indent: 25px;
}

.field.inline .help {
	margin-top: 0;
}

.field.inline .help .long {
	top: -10px;
}



/* Field slug */



.add-on {
	display: inline-block;
	float: left;
	max-width: 70%;
	width: 70%;
}

.add-on p {
	display: block;
	float: left;
	padding: 11px 13px 4px;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	-webkit-border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px;
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(top, #ffffff, #e6e6e6);
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#e6e6e6');
}

.add-on input {
	display: inline-block;
	max-width: none;
	width: 40%;
	-webkit-border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
}



/* Details */



.details {
	position: relative;
	display: inline-block;
	float: left;
	clear: both;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 2% 0;
	padding: 20px 20px 10px 20px;
	min-height: 100px;
	max-width: 980px;
	width: 100%;
	border: 1px solid #CCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #f1f1f1;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,1.0);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,1.0);
	box-shadow: 0 1px 0 rgba(255,255,255,1.0);
	text-shadow: 0 1px 0 #FFF;
}


.details dt {
	float: left;
	clear: left;
	margin: 0 0 10px 0;
	width: 30%;
	white-space: nowrap;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.details dd {
	float: left;
	margin: 0 0 10px 0;
	width: 70%;
	white-space: nowrap;
}


/* Authorship */



.authorship {
	position: relative;
	display: inline-block;
	float: left;
	clear: both;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 2% 0;
	padding: 20px 20px 10px 20px;
	min-height: 100px;
	max-width: 980px;
	width: 100%;
	border: 1px solid #CCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #f1f1f1;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,1.0);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,1.0);
	box-shadow: 0 1px 0 rgba(255,255,255,1.0);
	text-shadow: 0 1px 0 #FFF;
}

.authorship h2 {
	margin: 0 0 10px 0;
	font-size: 1.0em;
}

.authorship dt {
	float: left;
	clear: left;
	margin: 0 3px 10px 0;
	white-space: nowrap;
}

.authorship dd {
	float: left;
	margin: 0 0 10px 0;
	white-space: nowrap;
}



/* Display date */



#content-edit-content_date {
	float: left;
	width: 70%;
}

#benefit-edit_discountAmounts input[type=text] {
	float: none;
}


/* Contextual help */


.help {
	float: left;
	margin: 11px 0 0 15px;
}

.help a {
	visibility: hidden;
	text-decoration: none;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.help a:before {
	visibility: visible;
	content: "\f06a";
	font-style: normal;
	font-family: 'FontAwesome';
}

.help a:hover {
	cursor: pointer;
}

.help .description {
	position: absolute;
	top: 29px;
	z-index: 20;
	display: none;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 2%;
	padding: 15px;
	min-height: 39px;
	width: inherit;
	width: 28%;
	border: 1px solid #d5cb95;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fcf8e3;
}

.help .description:before {
	position: absolute;
	top: 10px;
	left: -7px;
	display: block;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-right: 7px solid #d5cb95;
	border-bottom: 7px solid transparent;
	content: '';
}

.help .description:after {
	position: absolute;
	top: 11px;
	left: -6px;
	display: block;
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-right: 6px solid #fcf8e3;
	border-bottom: 6px solid transparent;
	content: '';
}

.help .description:hover {
	cursor: pointer;
}

.help .description p {
	color: #836229;
	line-height: 1.5em;
}



/* File Manager
------------------------------------------------------------ */



.listing a {
	display: inline-block;
	margin: 0 23px 23px 0;
	width: 200px;
	height: 200px;
	border: 5px solid #FFF;
	-webkit-box-shadow: 0 0 0 1px #ccc, 0 1px 3px rgba(000,000,000,0.2);
	-moz-box-shadow: 0 0 0 1px #ccc, 0 1px 3px rgba(000,000,000,0.2);
	box-shadow: 0 0 0 1px #ccc, 0 1px 3px rgba(000,000,000,0.2);
}

.listing img {
	width: 200px;
	height: 200px;
	background: #FFF;
}



/* Sidebar */



.search.files .field {
	margin-bottom: 0;
}

.file-upload {
	float: left;
}

.file-upload input[type=file] {
	margin-top: 0;
	padding-top: 12px;
	padding-left: 10px;
}

.sidebar .back {
	display: block;
	margin: 20px 0 0 25px;
	color: #FFF;
	text-align: left;
	text-decoration: none;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.sidebar .back:before {
	margin-right: 8px;
	content: "\f060";
	font-family: 'FontAwesome';
}



/* File Details */



.file {
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 80%;
	max-width: 500px;
	height: auto;
	padding: 0;
	border: 1px solid #CCC;
	-webkit-box-shadow: 0 1px 6px rgba(000,000,000,0.1);
	-moz-box-shadow: 0 1px 6px rgba(000,000,000,0.1);
	box-shadow: 0 1px 6px rgba(000,000,000,0.1);
}

/*.file img {
	float: left;
	margin: 0 0 23px 0;
	width: 500px;
	height: auto;
	border: 5px solid #FFF;
	-webkit-box-shadow: 0 0 0 1px #ccc, 0 1px 3px rgba(000,000,000,0.2);
	-moz-box-shadow: 0 0 0 1px #ccc, 0 1px 3px rgba(000,000,000,0.2);
	box-shadow: 0 0 0 1px #ccc, 0 1px 3px rgba(000,000,000,0.2);
}*/

.file-manager .button.delete {
	position: fixed;
	top: 79px;
	right: 151px;
	z-index: 12;
	display: inline-block;
	margin-right: 25px;
}




/* Products
------------------------------------------------------------ */



.container-content.products {
	position: relative;
	float: left;
	overflow: visible;
	overflow-y: scroll;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 23px 0 23px 23px;
	width: inherit;
	width: 100%;
	height: -moz-calc(100% - 120px);
    height: -webkit-calc(100% - 120px);
    height: calc(100% - 120px);
}

.products #save-content {
	top: 137px;
}



/* Create product */



.create-product {
	margin-top: 89px;
}

.create-product button {
	position: fixed;
	top: 77px;
	right: 14px;
	z-index: 11;
}

.positive {
	color: #3fa262;
}

.negative {
	color: #d84939;
}

.stock-total {
	font-weight: bold;
}

.unit-count {
	margin-right: 10px;
}

/* Sidebar */



.create.product {
	margin-top: 20px;
}



/* Orders
------------------------------------------------------------ */



/* Sidebar */



.order-overview {
	float: left;
	font-size: 16px;
}

.order-overview h2 {
	color: #FFF;
}

.order-overview ul {
	float: left;
	padding-top: 20px;
	list-style: none;
}

.order-overview li {
	float: left;
	margin-bottom: 20px;
	margin-left: 25px;
	width: 200px;
}

.order-overview span {
	display: block;
	margin-bottom: 5px;
	width: 100%;
	color: #AAA;
	white-space: nowrap;
	font-family:'Proxima N W15 Reg It', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



/* Fulfillment */



.fulfillment li {
	list-style-type: none;
}

.fulfillment form {
	width: 100%;
}

.fulfillment .repeatable-group {
	margin-top: 10px;
	width: 30%;
}

.fulfillment .address p {
 	padding: 0px 20px;
}

.fulfillment .address a.amend {
	margin: 20px;
	display: block;
	float: left;
}

.fulfillment .button {
	margin-bottom: 30px;
}

.fulfillment h3 {

	margin: 20px 0px 0px 0px;
}

.pick-list {
	margin: 20px 0px;
	width: 95%;
}


.pick-list input {
	margin: 0px;

}

.pick-list img {
	float: left;
	margin: 0px 10px 0px 0px;
}

.pick-list h3 {
	margin: 0px;
}

.pick-item {
	text-align: center;
}


.fulfillment .field {
	margin-bottom: 0px;
}



/* Orders */



.summary {
	display: inline-block;
	width: 100%;
}

.order-listing-overview {
	text-align: center;
}

.order-listing-overview td {
	text-align: right;
	padding-right: 20px;
}

.order-listing-overview td.left {
	text-align: left;
}

.order-details {
	float: left;
	padding: 10px 0 10px 20px;
	width: 95%;
	list-style: none;
}


.order-details li {
	margin-bottom: 10px;
}

.order-details span {
	display: inline-block;
	width: 150px;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
}



.order-summary h2 {
	position: relative;
	z-index: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 20px 0;
	padding: 20px 20px 12px 20px;
	width: 100%;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	background: none;
	background-color: #f9f9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -moz-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -o-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -ms-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: linear-gradient(top, #f9f9f9, #f1f1f1);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	font-size: 1em;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f9f9f9', EndColorStr='#f1f1f1');
}

.updated-date {
	margin-left: 20px;
	color: #807f7f;
	font-size: smaller;
}


.progress tr:first-child {
	font-weight: bold;
}


.summary-totals li {
	text-align: right;
	list-style: none;
	margin: 10px 0px;
	color: #444;
}

.summary-totals span {
	width: 140px;
	display: inline-block;
	font-size: 1.250em;
	padding: 0px 20px;
	color: #555;
}

.summary-totals li:last-child {
	font-weight: bold;
	color: #333;
}



.grand-total {
	border-top: 1px solid #eee;
	padding: 20px 0px 0px 0px;
	margin-top: 20px;
	font-size: 1.250em;

}

.column .grand-total {
	border-top: 1px solid #ddd;
	padding: 20px 0px 0px 0px;
	margin-top: 20px;
	font-size: 1.250em;
}



/* Vouchers
------------------------------------------------------------ */



.vouchers h2 {
	float: left;
	width: 100%;
}

.create-voucher {
	display: block;
}

.notice {
	clear: both;
	margin: 10px 0px;
}

.voucher-details {
	float: left;
	padding: 10px 0 10px 20px;
	width: 95%;
	list-style: none;
}

.voucher-details li {
	margin-bottom: 10px;
}

.voucher-details span {
	display: inline-block;
	width: 150px;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	overflow: hidden;
}

.voucher-details.col {
	width: 45%;
	display: table-cell;
	padding: 10px ;

}




/* Reports
------------------------------------------------------------ */



.filter-by  {
}

.filter-by .field {
	float: left;
	width: 340px;
	padding: 20px 10px;
}

.filter-by input, .filter-by select {
	width: 340px;
	height: 40px;
	min-width: 340px;
	margin-bottom: 0px;
}


.filter-by .button {
	margin: 10px;
	clear: both;
	display: block;
}



/* Scrollbars
-------------------------------------------- */



::-webkit-scrollbar {
	  width: 10px;
} /* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar-track {
	  background-color: rgba(0,0,0,0);
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb:horizontal {
	background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
	  background-color: rgba(0, 0, 0, 0.5);
	  border-radius: 20px;
} /* this will style the thumb, ignoring the track */



/* Widgets
---------------------------------------- */



.widget-sidebar {
	display: inline-block;
	right: 15px;
	width: 300px;
}

.widget {
	width: 300px;
	border-radius: 3px;
	background-color: #eee;
	color: #333;
	list-style: none;
	text-shadow: 0 1px 0 #FFF;
	font-size: 1.0em;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: #FAFAFA;
}

.widget h1,
.widget h2,
.widget h3 {
	padding: 12px 10px 10px;
	border: 1px solid #CCC;
	border-bottom: none;
	background-color: #f1f1f1;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e7e7e7));
	background-image: -webkit-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: -moz-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: -o-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: -ms-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: linear-gradient(top, #f1f1f1, #e7e7e7);
	color: #333;
	font-size: 1.0em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.widget {

}



/* Table styles */



.widget table {
	margin-bottom: 0px;
	border-bottom: none;
}

.widget tr {
	border: none;
}

.widget td {
	background: #FFF !important;
	border: 1px solid #CCC;
}



/* Definition list styles */



.widget dl {
	border: 1px solid #CCC;
	padding: 20px 10px 0;
	display: inline-block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.widget dd {
	margin-bottom: 20px;
	font-family:'Proxima N W15 Reg', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



/* Dark styling */



.widget.dark {
	background-color: #2e2e2e;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2e2e2e), to(#161616));
	background-image: -webkit-linear-gradient(top, #2e2e2e, #161616);
	background-image: -moz-linear-gradient(top, #2e2e2e, #161616);
	background-image: -o-linear-gradient(top, #2e2e2e, #161616);
	background-image: -ms-linear-gradient(top, #2e2e2e, #161616);
	background-image: linear-gradient(top, #2e2e2e, #161616);
	color: #d7d7d7;
}

.widget.dark td:nth-child(odd) {
	color: #fff;
}



/* Discounts
---------------------------------------- */



.create-discount #save-content {
	top: 79px;
}

#criteria-edit_products {
	border: 1px solid #F1F1F1;
	overflow: hidden;
}

#criteria-edit_products .field {
	width: 50%;
	float: left;
}
