<section class="modal {% block classes '' %}">
	{% if block('title') is not empty %}
	<header>
		<h1>{% block title '' %}</h1>
		{% if block('subtitle') is not empty %}
		<h2>{% block subtitle '' %}</h2>
		{% endif %}
	</header>
	{% endif %}
	<span data-modal-close>Close</span>
	<div class="content">
		{% block content '' %}
	</div>
</section>