{% extends '::_templates/cp' %}

{% block title %}Mothership Dashboard{% endblock %}

{% block content %}
	<section class="dashboard home">
		<section class="main">
			<div class="modules">
				<div class="module landscape">
					<h2 class="title">
						Welcome Joe
					</h2>
				</div>
				<div class="module sq">
					<h2 class="title">
						Orders
					</h2>
				</div>
				<div class="module sq">
					<h2 class="title">
						Products
					</h2>
				</div>

				<div class="module portrait">
					<h2 class="title">
						CMS
					</h2>
				</div>
				<div class="module landscape">
					<h2 class="title">
						Discounts
					</h2>
				</div>
				<div class="module sq large">
					<h2 class="title">
						Sales
					</h2>
				</div>
			</div>
		</section>
	</section>
{% endblock %}