{% extends '::_templates/cp' %}

{% block title %}Mothership Dashboard{% endblock %}

{% block content %}
	<section class="dashboard home">
		<hgroup class="title">
			<h1>Dashboard</h1>
		</hgroup>
		<section class="main">
			<div class="container-content tall">
				<div class="welcome">
					<img src="http://www.message.co.uk/cache/uploads/laurence--252-252.jpg" width="100" height="100" alt="">
					<h1>Hi, {{ app.user.getName() }}!</h1>
					<p>You last logged in 2 days ago.</p>
					<div class="stats">
						<ul>
							<li><b>Last page created/edited -</b><span><a href="#">Home</a></span></li>
							<li><b>Last order updated -</b><span><a href="#">Order ID 20092</a></span></li>
							<li><b>Last product updated -</b><span><a href="#">152 Series</a></span></li>
						</ul>
					</div>
				</div>
				<div class="site-stats">
					<h1>Monthly Stats</h1>
					<ul>
						<li class="customers">
							<h2>New Customers<span>984</span></h2>
						</li>
						<li class="visitors">
							<h2>Vistors<span>2,984</span></h2>
						</li>
						<li class="sales">
							<h2>Sales<span>102</span></h2>
						</li>
						<li class="income">
							<h2>Net Income<span>&pound;10,386.00</span></h2>
						</li>
						<li class="orders">
							<h2>Order Fulfilled <span>95</span></h2>
						</li>
					</ul>
				</div>
				<div class="group-grid">
					<div class="row">
						<div class="group">
							<h2 class="title">
								Lifetime Sales
							</h2>
							<div class="content">
								<h1 class="amount">&pound;1,235,649.00</h1>
								<p>&pound;125,202.00 of sales made this year.</p>
							</div>
						</div>
						<div class="group">
							<h2 class="title">
								Average Orders
							</h2>
							<div class="content">
								<h1 class="amount">&pound;480.00</h1>
								<p>Average order this month &pound;200.00</p>
							</div>
						</div>
					</div>
				</div>
				<div class="group-grid">
					<div class="row">
						<div class="group">
							<h2 class="title">
								Last 5 Orders
							</h2>
							<div class="content">
								<table>
									<thead>
										<tr>
											<th>Order ID</th>
											<th>Customer</th>
											<th>Items</th>
											<th>Total</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><a href="#">20092</a></td>
											<td>Joe Smith</td>
											<td>2</td>
											<td>&pound;1,201.00</td>
										</tr>
										<tr>
											<td><a href="#">20092</a></td>
											<td>Joe Smith</td>
											<td>2</td>
											<td>&pound;1,201.00</td>
										</tr>
										<tr>
											<td><a href="#">20092</a></td>
											<td>Joe Smith</td>
											<td>2</td>
											<td>&pound;1,201.00</td>
										</tr>
										<tr>
											<td><a href="#">20092</a></td>
											<td>Joe Smith</td>
											<td>2</td>
											<td>&pound;1,201.00</td>
										</tr>
										<tr>
											<td><a href="#">20092</a></td>
											<td>Joe Smith</td>
											<td>2</td>
											<td>&pound;1,201.00</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="group">
							<h2 class="title">
								Last 5 Search Terms
							</h2>
							<div class="content">
								<table>
									<thead>
										<tr>
											<th>Search Term</th>
											<th>Results</th>
											<th>Number of Uses</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Silver watch</td>
											<td>14</td>
											<td>29</td>
										</tr>
										<tr>
											<td>Silver watch</td>
											<td>14</td>
											<td>29</td>
										</tr>
										<tr>
											<td>Silver watch</td>
											<td>14</td>
											<td>29</td>
										</tr>
										<tr>
											<td>Silver watch</td>
											<td>14</td>
											<td>29</td>
										</tr>
										<tr>
											<td>Silver watch</td>
											<td>14</td>
											<td>29</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="group-grid">
					<div class="row">
						<div class="group">
							<h2 class="title">
								Top 5 Products
							</h2>
							<div class="content">
								<table>
									<thead>
										<tr>
											<th>Product Name</th>
											<th>Units Sold</th>
											<th>Total</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>351 Series Brushed Steel / Grey Leather</td>
											<td>384</td>
											<td>&pound;203,520.00</td>
										</tr>
										<tr>
											<td>351 Series Brushed Steel / Grey Leather</td>
											<td>384</td>
											<td>&pound;203,520.00</td>
										</tr>
										<tr>
											<td>351 Series Brushed Steel / Grey Leather</td>
											<td>384</td>
											<td>&pound;203,520.00</td>
										</tr>
										<tr>
											<td>351 Series Brushed Steel / Grey Leather</td>
											<td>384</td>
											<td>&pound;203,520.00</td>
										</tr>
										<tr>
											<td>351 Series Brushed Steel / Grey Leather</td>
											<td>384</td>
											<td>&pound;203,520.00</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
{% endblock %}