{% extends '::_templates/cp' %}

{% block title %}Mothership Dashboard{% endblock %}

{% block content %}
	<section class="dashboard home">
		<section class="main">
			<div class="container-content">
				<p class="welcome">Hi, {{ app.user.getName() }}!</p>
			</div>
		</section>
	</section>
{% endblock %}