{% extends '::_templates/cp' %}

{% block title %}Mothership Dashboard{% endblock %}

{% block content %}
	<section class="dashboard home">
		<section class="main">
			<div class="modules">
				<div class="module sq large">
					<h2 class="title">
						Sales
					</h2>

				</div>
				<div class="module sq">
					<h2 class="title">
						Sales
					</h2>

				</div>
				<div class="module sq small">
					<h2 class="title">
						Sales
					</h2>

				</div>
			</div>
		</section>
	</section>
{% endblock %}