{% extends '::_templates/cp' %}

{% block title %}Mothership Dashboard{% endblock %}

{% block content %}
	<section class="dashboard home">
		<section class="main">
			<div class="modules">
				{% for reference in dashboardReferences %}
					{{ render(controller(reference.reference, reference.params)) }}
				{% endfor %}
			</div>
		</section>
	</section>
{% endblock %}