{% extends '::_templates/external' %}

{% block title %}Log in to Mothership{% endblock %}

{% block body %}
	<div class="login">

		<div class="center">

			<header>

				<span class="spaceship"></span>

				<h1>Welcome to Mothership</h1>

				<span class="shadow"></span>

			</header>


			<section class="login-form">

				<h1>Log in to Mothership</h1>

				{{ render(controller('Message:User::Controller:Authentication#login', {
					redirectURL: url(redirectRoute),
					forgottenPasswordRoute: 'ms.cp.password.request',
					inputAttributes: {
						'email': {
							'placeholder': 'Email address'
						},
						'password': {
							'placeholder': 'Password'
						}
					}
				})) }}

			</section>

		</div>

		<footer class="footer" role="contentinfo">
			<small class="copy">&copy; <a href="http://message.co.uk">Message</a> {{ "now"|date('Y') }}</small>
			<a href="//{{ app.cfg.app.baseUrl|trim('//') }}" target="_blank" class="website"><i class="icon-external-link"></i>{{ app.cfg.app.baseUrl }}</a>
		</footer>
	</div>
{% endblock %}