{% extends '::_templates/external' %}

{% block title %}Mothership Forgotten Password{% endblock %}

{% block body %}
	<div class="login">

		<div class="center">

			<header>

				<span class="spaceship"></span>

				<h1>Welcome to Mothership</h1>

				<span class="shadow"></span>

			</header>


			<section class="login-form forgotten">

				<h1>Forgotten your password?</h1>

				{{ render(controller('Message:User::Controller:ForgottenPassword#request', {
					resetRoute: 'ms.cp.password.reset',
					email: email,
					inputAttributes: {
						'email': {
							'placeholder': 'Email address'
						},
					}

				})) }}

			</section>

		</div>

		<footer class="footer" role="contentinfo">

			<small class="copy">&copy; <a href="http://message.co.uk">Message</a> {{ "now"|date('Y') }}</small>
			<a href="//{{ app.cfg.app.baseUrl|trim('//') }}" target="_blank" class="website"><i class="icon-external-link"></i>{{ app.cfg.app.baseUrl }}</a>

		</footer>
	</div>
{% endblock %}