{% extends '::_templates/main' %}

{% block body %}
<h1>Welcome back, {{user.forename}}.</h1>

{{ render(controller('Message:User::Controller:ForgottenPassword#reset', {
	email: email,
	hash: hash,
	redirectURL: url('ms.cp.dashboard'),
})) }}
{% endblock %}