{% extends '::_templates/cp' %}

{% block content %}
<div class="container-error">
<h1>Not authorized</h1>

<p>You are not authorized for this request. If this is unexpected, please ensure you are logged in to an account with the appropriate permissions.</p>
</div>
{% endblock %}