{% extends '::_templates/cp' %}

{% block content %}
<div class="container-error e-505">
<h1>Server error</h1>

<p>An unexpected error occured. This has been logged for investigation. Please try your request again, and contact the developer if the problem persists. For debugging purposes, the error details are below:</p>

<dl>
	<dt>Message</dt>
		<dd>{{ exception.message }}</dd>
	{% if exception.code %}
	<dt>Code</dt>
		<dd>{{ exception.code }}</dd>
	{% endif %}
	<dt>Date & time</dt>
		<dd>{{ "now"|date('d/m/Y h:ia') }}</dd>
</dl>
</div>
{% endblock %}
