/* ======================================================= */
/*                                                         */
/*                                                         */
/*    Mothership         					               */
/*                                                         */
/*                                                         */
/* ======================================================= */
/*
/*
/*    Development by Message
/*    http://www.message.co.uk
/*
/*    Control Panel Style Sheet v1.0
/*    Created by Richard McCartney
/*
/*
/* ======================================================= */



/* Login
------------------------------------------------------------ */



.center {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -325px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: -412px;
	width: 824px;
	height: 650px;
}

.container-login {
	background: #050505 url(../images/login-background.jpg) no-repeat top center;
}

.container-login h1 {
	margin: 49px 0 39px;
	color: #E1E1E1;
	text-align: center;
	text-shadow: 0px 1px 2px rgba(000,000,000,0.75);
	font-size: 3.250em;
	font-family:'Proxima N W15 Bold';
}

.spaceship {
	display: block;
	margin: 0 auto;
	width: 212px;
	height: 192px;
	background: url(../images/spaceship.png) no-repeat;
}

.shadow {
	display: block;
	margin: 0 auto;
	width: 220px;
	height: 23px;
	background: url(../../images/shadow.png) no-repeat;
}

.container-login .form {
	float: left;
	max-width: 824px;
	width: 100%;
}

.container-login .form div {
	position: relative;
}

.container-login .form h1 {
	margin-top: 18px;
	margin-bottom: 17px;
	text-align: left;
	font-size: 1.125em;
}

.container-login .form p {
	padding-bottom: 30px;
	color: #E1E1E1;
	line-height: 1.8;
}

.container-login .form input[type="email"],
.container-login .form input[type="password"] {
	float: left;
	margin-right: 2.4271844660194173%;
	max-width: 325px;
	width: 39.44174757281553%;
	height: 48px;
}

.container-login .form button {
	position: absolute;
	float: left;
	clear: right;
	margin-bottom: 30px;
	padding: 16px 21px 12px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.container-login .form button:active {
	padding: 17px 21px 11px;
	text-shadow: 0px -1px 0 rgba(000,000,000,0.8);
}

.container-login .form .checkbox {
	float: left;
	margin-right: 2.4271844660194173%;
	max-width: 325px;
	width: 39.44174757281553%;
}

.container-login .form label {
	float: left;
	color: #E1E1E1;
	font-size: 0.875em;
}

.container-login .form label[for="login_email"],
.container-login .form label[for="login_password"] {
	position: absolute;
	top: 15px;
	z-index: 999;
	margin-left: 15px;
	color: #999;
	font-size: 16px;
	font-family: 'Lucida Grande';
}

.container-login .form label[for="login_email"]:before {
	margin-right: 10px;
	content: "\f007";
	font-family: 'FontAwesome';
}

.container-login .form label[for="login_password"]:before {
	margin-right: 10px;
	content: "\f023";
	font-family: 'FontAwesome';
}

.container-login .form label[for="login_remember"] {
	position: absolute;
	top: 79px;
	left: 25px;
}

.container-login .form input[type="checkbox"] {
	position: absolute;
	top: 79px;
	left: 0;
}

.container-login .form a {
	float: left;
	margin-left: 344px;
	color: #E1E1E1;
	font-size: 0.875em;
}

.container-login footer {
	color: #b1b3b4;
}

.container-login footer a {
	color: #b1b3b4;
}



/* Navigation
------------------------------------------------------------ */



.navigation {
	position: relative;
	z-index: 100;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 61px;
	border: 1px solid #26537c;
	background-color: #528cb6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#528cb6), to(#4473a6));
	background-image: -webkit-linear-gradient(top, #528cb6, #4473a6);
	background-image: -moz-linear-gradient(top, #528cb6, #4473a6);
	background-image: -o-linear-gradient(top, #528cb6, #4473a6);
	background-image: -ms-linear-gradient(top, #528cb6, #4473a6);
	background-image: linear-gradient(top, #528cb6, #4473a6);
	-webkit-box-shadow: 0px 0px 1px 3px rgba(17,48,81,0.1), inset 0px -1px 0px 0px rgba(255,255,255,0.1);
	-moz-box-shadow: 0px 0px 1px 3px rgba(17,48,81,0.1), inset 0px -1px 0px 0px rgba(255,255,255,0.1);
	box-shadow: 0px 0px 1px 3px rgba(17,48,81,0.1), inset 0px -1px 0px 0px rgba(255,255,255,0.1);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#528cb6', EndColorStr='#4473a6');
}

.navigation a {
	color: #FFF;
	text-decoration: none;
	text-shadow: 0px 1px 1px rgba(000,000,000,0.25);
	font-size: 0.875em;
	font-family:'Proxima N W15 Smbd';
}

.navigation h1 a {
	font-size: 0.6em;
}

.navigation .vendor {
	position: relative;
	float: left;
	width: 248px;
	height: 59px;
	border-right: 1px solid #26537c;
	background-color: #3f759f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3f759f), to(#34608c));
	background-image: -webkit-linear-gradient(top, #3f759f, #34608c);
	background-image: -moz-linear-gradient(top, #3f759f, #34608c);
	background-image: -o-linear-gradient(top, #3f759f, #34608c);
	background-image: -ms-linear-gradient(top, #3f759f, #34608c);
	background-image: linear-gradient(top, #3f759f, #34608c);
	-webkit-box-shadow: inset 0px -1px 0px rgba(255,255,255,0.1);
	-moz-box-shadow: inset 0px -1px 0px rgba(255,255,255,0.1);
	box-shadow: inset 0px -1px 0px rgba(255,255,255,0.1);
	text-indent: 58px;
	line-height: 65px;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3f759f', EndColorStr='#34608c');
}

.navigation .vendor a {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	font-family:'Proxima N W15 Bold';
}

.navigation ol {
	float: left;
	height: 59px;
	list-style: none;
}

.navigation li {
	position: relative;
	float: left;
	height: 59px;
	border-right: 1px solid #26537c;
	line-height: 64px;
}

.navigation li a {
	display: block;
	padding: 0 25px;
	font-family:'Proxima N W15 Bold';
}

.navigation li:hover {
	background-color: #3f759f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3f759f), to(#22518c));
	background-image: -webkit-linear-gradient(top, #3f759f, #22518c);
	background-image: -moz-linear-gradient(top, #3f759f, #22518c);
	background-image: -o-linear-gradient(top, #3f759f, #22518c);
	background-image: -ms-linear-gradient(top, #3f759f, #22518c);
	background-image: linear-gradient(top, #3f759f, #22518c);
	-webkit-box-shadow: inset 0px -2px 5px 0px rgba(000, 000, 000, 0.25);
	-moz-box-shadow: inset 0px -2px 5px 0px rgba(000, 000, 000, 0.25);
	box-shadow: inset 0px 1px 5px 0px rgba(000, 000, 000, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3f759f', EndColorStr='#22518c');
}

.navigation li.current {
	background: #F1F1F1;
	-webkit-box-shadow: 0px 6px 0px #F1F1F1;
	-moz-box-shadow: 0px 6px 0px #F1F1F1;
	box-shadow: 0px 6px 0px #F1F1F1;
}

.navigation li.current a {
	color: #333;
	text-shadow: 0px 1px 0px #FFF;
}

.logout {
	position: absolute;
	top: 14px;
	right: 14px;
	display: block;
	width: 101px;
	height: 31px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #19517d;
	-webkit-box-shadow: 1px 1px 0px #5584b4;
	-moz-box-shadow: 1px 1px 0px #5584b4;
	box-shadow: 1px 1px 0px #5584b4;
	text-align: center;
	text-shadow: none;
	font-size: 0.875em;
	font-family: 'Proxima N W15 Bold' !important;
	line-height: 28px;
}

.logout:before {
	position: relative;
	top: 1px;
	margin-right: 6px;
	content: "\f011";
	font-size: 1.15em;
	font-family: 'FontAwesome';
}

.logout:hover {
	-webkit-box-shadow: inset 0px -2px 5px 0px rgba(000, 000, 000, 0.25), 1px 1px 0px #5584b4;
	-moz-box-shadow: inset 0px -2px 5px 0px rgba(000, 000, 000, 0.25), 1px 1px 0px #5584b4;
	box-shadow: inset 0px 1px 5px 0px rgba(000, 000, 000, 0.25), 1px 1px 0px #5584b4;
}



/* Dashboard / Welcome
------------------------------------------------------------ */



.welcome {
	position: absolute;
	top: 50%;
	width: 100%;
	-webkit-box-shadow: 0px 4px 0px #F1F1F1;
	-moz-box-shadow: 0px 4px 0px #F1F1F1;
	box-shadow: 0px 4px 0px #F1F1F1;
	text-align: center;
	font-size: 26px;
	font-family:'Proxima N W15 Bold';
}

.welcome:before {
	margin-right: 10px;
	content: "\f118";
	font-family: 'FontAwesome';
}



/* Sidebar
------------------------------------------------------------ */



.sidebar {
	z-index: 0;
	float: left;
	overflow-x: hidden;
	margin-top: -59px;
	padding-top: 59px;
	width: 250px;
	height: 100%;
	background: #222;
	position: fixed;
}

.sidebar .search {
	position: relative;
}

.sidebar .search input {
	margin: 20px 20px 20px 19px;
	padding: 6px 0 0 4px;
	width: 210px;
	height: 40px;
	border: none;
	background: #111;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	color: #999;
	text-align: left;
	text-indent: 0px;
	font-size: 0.875em;
	font-family:'Proxima N W15 Bold';
	-webkit-appearance: none;
}

.sidebar .search input:focus button {
	display: none;
}

.sidebar .search ::-webkit-input-placeholder,
.sidebar .search :-moz-placeholder,
.sidebar .search ::-moz-placeholder,
.sidebar .search :-ms-input-placeholder {
	float: left;
	color: red;
	text-align: left;
	text-indent: 0;
}

.sidebar .search button {
    position: absolute;
    top: 34px;
    right: -1px;
    padding: 0;
	border: none;
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: transparent;
    color: transparent;
    text-shadow: none;
    font-size: 0;
	line-height: 0;
}

.sidebar .search button:before {
	color: #999;
	content: "\f002";
	font-size: 12px;
	font-family: 'FontAwesome';
	line-height: 12px;
}

.sidebar .create {
	display: block;
	margin: 0 20px 0 19px;
	margin-bottom: 30px;
	padding: 13px 20px 10px;
	width: 170px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	font-size: 1.0em;
	font-family:'Proxima N W15 Smbd';
	line-height: 15px;
}

.sidebar .create:before {
	margin-right: 8px;
	content: "\f067";
	font-family: 'FontAwesome';
}



/* Sidebar Menu */



.sidebar .main-menu {
	float: left;
	margin: 0;
	padding: 0;
	width: 250px;
}

.sidebar .main-menu a {
	overflow: hidden;
	color: #FFF;
	text-decoration: none;
	text-overflow: ellipsis;
	text-shadow: 0px 1px 1px rgba(000,000,000,0.25);
	white-space: nowrap;
	font-size: 0.875em;
	font-family:'Proxima N W15 Smbd';
	
}

.sidebar .main-menu li {
	float: left;
	width: 250px;
	color: #FFF;
}

.sidebar .main-menu ol {
	float: left;
	margin: 0;
	padding: 0;
	width: 250px;
}

.sidebar .main-menu a,
.sidebar .main-menu .active li a {
	display: block;
	padding: 12px 20px;
	width: 210px;
	border-top: 1px solid #111;
	background-color: #252525;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#252525), to(#1a1a1a));
	background-image: -webkit-linear-gradient(top, #252525, #1a1a1a);
	background-image: -moz-linear-gradient(top, #252525, #1a1a1a);
	background-image: -o-linear-gradient(top, #252525, #1a1a1a);
	background-image: -ms-linear-gradient(top, #252525, #1a1a1a);
	background-image: linear-gradient(top, #252525, #1a1a1a);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#252525', EndColorStr='#1a1a1a');
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.sidebar .main-menu .active li a {
	border-right: none;
	border-bottom: none;
	border-left: none;
}

.sidebar .main-menu a:hover,
.sidebar .main-menu .active li a:hover {
	position: relative;
	z-index: 1000;
	background: #292929;
	-webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.05), 0px 1px 3px rgba(000,000,000,0.5);
	-moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.05), 0px 1px 3px rgba(000,000,000,0.5);
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.05), 0px 1px 3px rgba(000,000,000,0.5);
}

.sidebar .main-menu .active {
	position: relative;
	z-index: 1000;
	-webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5);
	-moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5);
	box-shadow: 0px 1px 3px rgba(000,000,000,0.5);
}

.sidebar .main-menu .active a {
	width: 208px;
	border: 1px solid #1D3F5F;
	background-color: #396c9c;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#396c9c), to(#20405e));
	background-image: -webkit-linear-gradient(top, #396c9c, #20405e);
	background-image: -moz-linear-gradient(top, #396c9c, #20405e);
	background-image: -o-linear-gradient(top, #396c9c, #20405e);
	background-image: -ms-linear-gradient(top, #396c9c, #20405e);
	background-image: linear-gradient(top, #396c9c, #20405e);
	-webkit-box-shadow: inset 0px -1px 0px rgba(255,255,255,0.05);
	-moz-box-shadow: inset 0px -1px 0px rgba(255,255,255,0.05);
	box-shadow: inset 0px -1px 0px rgba(255,255,255,0.05);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#396c9c', EndColorStr='#20405e');
}

.sidebar .main-menu .active a:hover {
	background-color: #396c9c;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#396c9c), to(#294d6f));
	background-image: -webkit-linear-gradient(top, #396c9c, #294d6f);
	background-image: -moz-linear-gradient(top, #396c9c, #294d6f);
	background-image: -o-linear-gradient(top, #396c9c, #294d6f);
	background-image: -ms-linear-gradient(top, #396c9c, #294d6f);
	background-image: linear-gradient(top, #396c9c, #294d6f);
	-webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.05);
	-moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.05);
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.05);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#396c9c', EndColorStr='#294d6f');
}

.sidebar .main-menu li ol,
.sidebar .main-menu li ol li ol {
	display: none;
}

.sidebar .main-menu li:hover ol,
.sidebar .main-menu li ol li:hover ol {
	display: block;
}



/* Main
------------------------------------------------------------ */



.main {
	display: inline-block;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 250px;
	width: -moz-calc(100% - 250px);
    width: -webkit-calc(100% - 250px);
    width: calc(100% - 250px);
}



/* Page title
------------------------------------------------------------ */


.title {
	position: relative;
	z-index: 1000;
	padding: 14px 22px 12px;
	background-color: #f1f1f1;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e7e7e7));
	background-image: -webkit-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: -moz-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: -o-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: -ms-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: linear-gradient(top, #f1f1f1, #e7e7e7);
	-webkit-box-shadow: 0px 1px 3px rgba(150,150,150,0.25), inset 0px -1px 0px rgba(255,255,255,0.5);
	-moz-box-shadow: 0px 1px 3px rgba(150,150,150,0.25), inset 0px -1px 0px rgba(255,255,255,0.5);
	box-shadow: 0px 1px 3px rgba(150,150,150,0.25), inset 0px -1px 0px rgba(255,255,255,0.5);
	text-shadow: 0px 1px 0px #FFF;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f1f1f1', EndColorStr='#e7e7e7');
}

.title h1 {
	margin-bottom: 9px;
}

.title h2 {
	margin-bottom: 0px;
	font-size: 0.9em;
}

.edit-title {
	position: absolute;
	top: 61px;
	z-index: 1001;
	display: none;
	padding-left: 22px;
	width: 100%;
	height: 81px;
	background: #F1F1F1;
	background-color: #f1f1f1;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e7e7e7));
	background-image: -webkit-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: -moz-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: -o-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: -ms-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: linear-gradient(top, #f1f1f1, #e7e7e7);
	-webkit-box-shadow: 0px 1px 3px rgba(150,150,150,0.25), inset 0px -1px 0px rgba(255,255,255,0.5);
	-moz-box-shadow: 0px 1px 3px rgba(150,150,150,0.25), inset 0px -1px 0px rgba(255,255,255,0.5);
	box-shadow: 0px 1px 3px rgba(150,150,150,0.25), inset 0px -1px 0px rgba(255,255,255,0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f1f1f1', EndColorStr='#e7e7e7');
}

.edit-title label {
	z-index: 2000;
	float: left;
	height: 82px;
	font-size: 1.250em;
	line-height: 84px;
}

.edit-title input {
	z-index: 2000;
	float: left;
	margin: 19px;
	max-width: 300px;
}

.edit-title button {
	z-index: 2000;
	float: left;
	margin-top: 19px;
	padding: 13px 15px 10px;
}

.title:hover + .edit-title {
	display: block;
}



/* Top Bar
------------------------------------------------------------ */



.topbar {
	z-index: 999;
	margin-bottom: 20px;
	padding: 0 23px 0 0;
	width: 100%;
	height: 56px;
	border-top: 1px solid #C8C8C8;
	border-bottom: 1px solid #C8C8C8;
	background-color: #f9f9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -moz-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -o-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -ms-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: linear-gradient(top, #f9f9f9, #f1f1f1);
	-webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.05);
	-moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.05);
	box-shadow: 0px 1px 3px rgba(000,000,000,0.05);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f9f9f9', EndColorStr='#f1f1f1');
}

.topbar .button {
	float: left;
}

.topbar .button.group {
	padding: 0;
	height: 32px;
}

.topbar .button.group a {
	padding: 8px 14px 5px;
}

.topbar .button.group span {
	padding: 7px 9px 5px;
}

.topbar .tabs {
	float: left;
	list-style: none;
}

.topbar .tabs li {
	float: left;
	height: 56px;
	border-right: 1px solid #EDEDED;
	text-decoration: 0px 1px 0px rgba(255,255,255,1.0);
	font-size: 0.938em;
	font-family:'Proxima N W15 Smbd';
	position: relative;
}

.topbar .tabs li.active:after {
	display: block;
	content: '';
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #F1F1F1;
	position: absolute;
	left: 50%;
	margin: -6px 0 0 -10px;
}

.topbar .tabs li.active:before {
	display: block;
	content: '';
	width: 0; 
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #C8C8C8;
	position: absolute;
	left: 50%;
	bottom: -1px;
	margin: 0 0 0 -8px;
}

.topbar .tabs a {
	display: block;
	padding: 0 23px;
	height: 56px;
	text-decoration: none;
	text-shadow: 0px 1px 0px rgba(255,255,255,1.0);
	line-height: 61px;
}

.controls {
	margin-right: 209px;
	width: auto;
	height: 56px;
	text-align: right;
}



/* Delete page */



#delete-page {
	position: relative;
	top: -12px;
	display: inline-block;
}

.delete-page {
	display: inline-block;
	margin-top: 7px;
	margin-right: 35px;
	padding: 0;
	border: none !important;
	border-bottom: 1px solid #555;
	background: none !important;
	box-shadow: none;
	color: #333 !important;
	text-shadow: 0px 1px 0px #FFF !important;
}

.delete-page:before {
	margin-right: 8px;
	content: "\f014";
	font-family: 'FontAwesome';
}

.delete-page:hover {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}



/* Publish */



.publish {
	display: inline-block;
	margin-top: 10px;
	margin-right: 8px;
}

.publish a {
	text-decoration: none;
}

.publish form {
	position: absolute;
	top: 201px;
	left: 250px;
	z-index: 100;
	display: none;
	box-sizing: border-box;
	padding: 23px 23px 3px 23px;
	width: -moz-calc(100% - 250px);
    width: -webkit-calc(100% - 250px);
    width: calc(100% - 250px);
	border-bottom: 1px solid #C1C1C1;
	background: #FFF;
	-webkit-box-shadow: inset 0px 1px 3px rgba(000,000,000,0.1), 0px 1px 3px rgba(000,000,000,0.1);
	-moz-box-shadow: inset 0px 1px 3px rgba(000,000,000,0.1), 0px 1px 3px rgba(000,000,000,0.1);
	box-shadow: inset 0px 1px 3px rgba(000,000,000,0.1), 0px 1px 3px rgba(000,000,000,0.1);
}

.publish:hover form {
	display: block;
}

.publish input.text-input {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.publish .wrap {
	float: left;
	width: 460px;
}

.publish .date-time {
	float: left;
	margin-bottom: 20px;
	width: 100%;
	width: 460px;
	height: 32px;
}

.publish .date-time label {
	float: left;
	margin: 0 20px 0 0;
	width: auto;
	height: 32px;
	line-height: 32px;
}

.publish .date-time input {
	float: left;
	margin: 0 20px 0 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	width: auto;
	height: 32px;
	-webkit-appearance: none;
}

.publish input[type="date"]::-webkit-calendar-picker-indicator,
.publish input[type="date"]::-webkit-inner-spin-button,
.publish input[type="time"]::-webkit-calendar-picker-indicator,
.publish input[type="time"]::-webkit-inner-spin-button {
    display: none;
}



/* Preview */



.preview {
	display: inline-block;
	margin-top: 11px;
}

.preview a {
	margin-top: 0;
}

.preview a:before {
	margin-right: 12px;
	content: "\f06e";
	font-family: 'FontAwesome';
}



/* Content
------------------------------------------------------------ */



#save-content {
	position: absolute;
	top: 154px;
	right: 14px;
}

.container-content {
	overflow: visible;
	position: inherit;
	padding: 0 23px 23px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

