/* ======================================================= */
/*                                                         */
/*                                                         */
/*    Mothership         					               */
/*                                                         */
/*                                                         */
/* ======================================================= */
/*
/*
/*    Development by Message
/*    http://www.message.co.uk
/*
/*    Control Panel Style Sheet v1.0
/*    Created by Richard McCartney
/*
/*
/* ======================================================= */



/* Login
------------------------------------------------------------ */


.login {
	width: 100%;
	height: 100%;
	background: #050505 url(../images/login-background.jpg) no-repeat top center;
}

.center {
	position: absolute;
	top: 20%;
	width: 100%;
}

.login h1 {
	margin: 49px 0 39px;
	color: #E1E1E1;
	text-align: center;
	text-shadow: 0px 1px 2px rgba(000,000,000,0.75);
	font-size: 3.250em;
	font-family:'Proxima N W15 Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.spaceship {
	display: block;
	margin: 0 auto;
	width: 212px;
	height: 192px;
	background: url(../images/spaceship.png) no-repeat;
}

.shadow {
	display: block;
	margin: 0 auto;
	width: 220px;
	height: 23px;
	background: url(../../images/shadow.png) no-repeat;
}

.login-form {
	position: relative;
	margin: 0 auto;
	max-width: 824px;
	width: 100%;
}

.login-form h1 {
	margin-top: 18px;
	margin-bottom: 17px;
	text-align: left;
	font-size: 1.125em;
}

.login-form p {
	padding-bottom: 30px;
	color: #E1E1E1;
	line-height: 1.8;
}

.login-form .field {
	max-width: 368px;
}

.login-form .field.inline {
	position: absolute;
}

.login-form .field.inline label {
	text-indent: 0;
}

.login-form input[type="email"],
.login-form input[type="password"] {
	float: left;
	margin-right: 2.4271844660194173%;
	max-width: 360px;
	width: 100%;
	height: 48px;
}

.login-form button {
	position: absolute;
	float: left;
	clear: right;
	margin-bottom: 30px;
	padding: 16px 21px 12px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.login-form button:active {
	padding: 17px 21px 11px;
	text-shadow: 0px -1px 0 rgba(000,000,000,0.8);
}

.login-form .checkbox {
	float: left;
	margin-right: 2.4271844660194173%;
	max-width: 325px;
	width: 39.44174757281553%;
}

.login-form label {
	float: left;
	margin-bottom: 30px;
	height: 44px;
	color: #E1E1E1;
	font-size: 0.875em;
}

.login-form label[for="login_email"],
.login-form label[for="login_password"] {
	position: absolute;
	top: 15px;
	left: 0;
	z-index: 999;
	margin-left: 15px;
	color: #999;
	font-size: 16px;
	font-family: 'Lucida Grande';
}

.login-form label[for="login_email"]:before {
	margin-right: 10px;
	content: "\f007";
	font-family: 'FontAwesome';
}

.login-form label[for="login_password"]:before {
	margin-right: 10px;
	content: "\f023";
	font-family: 'FontAwesome';
}

.login-form label[for="login_remember"] {
	position: absolute;
	top: 79px;
	left: 25px;
	display: block !important;
}

.login-form input[type="checkbox"] {
	position: absolute;
	top: 79px;
	left: 0;
}

.login-form .forgotten-password {
	position: absolute;
	top: 79px;
	right: 295px;
	width: auto;
	color: #E1E1E1;
	font-size: 0.875em;
	font-family: 'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.login footer {
	position: absolute;
	bottom: 0;
	color: #b1b3b4;
}

.login footer a {
	color: #b1b3b4;
}



/* Navigation
------------------------------------------------------------ */



.navigation {
	position: fixed;
	z-index: 999; /* No other z-index should be higher than this decloration */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 61px;
	border: 1px solid #26537c;
	background-color: #528cb6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#528cb6), to(#4473a6));
	background-image: -webkit-linear-gradient(top, #528cb6, #4473a6);
	background-image: -moz-linear-gradient(top, #528cb6, #4473a6);
	background-image: -o-linear-gradient(top, #528cb6, #4473a6);
	background-image: -ms-linear-gradient(top, #528cb6, #4473a6);
	background-image: linear-gradient(top, #528cb6, #4473a6);
	-webkit-box-shadow: 0px 0px 1px 3px rgba(17,48,81,0.1), inset 0px -1px 0px 0px rgba(255,255,255,0.1);
	-moz-box-shadow: 0px 0px 1px 3px rgba(17,48,81,0.1), inset 0px -1px 0px 0px rgba(255,255,255,0.1);
	box-shadow: 0px 0px 1px 3px rgba(17,48,81,0.1), inset 0px -1px 0px 0px rgba(255,255,255,0.1);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#528cb6', EndColorStr='#4473a6');
}

.navigation a {
	color: #FFF;
	text-decoration: none;
	text-shadow: 0px 1px 1px rgba(000,000,000,0.25);
	font-size: 0.875em;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navigation h1 a {
	font-size: 0.6em;
}

.navigation .vendor {
	position: relative;
	float: left;
	width: 248px;
	height: 59px;
	border-right: 1px solid #26537c;
	background-color: #3f759f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3f759f), to(#34608c));
	background-image: -webkit-linear-gradient(top, #3f759f, #34608c);
	background-image: -moz-linear-gradient(top, #3f759f, #34608c);
	background-image: -o-linear-gradient(top, #3f759f, #34608c);
	background-image: -ms-linear-gradient(top, #3f759f, #34608c);
	background-image: linear-gradient(top, #3f759f, #34608c);
	-webkit-box-shadow: inset 0px -1px 0px rgba(255,255,255,0.1);
	-moz-box-shadow: inset 0px -1px 0px rgba(255,255,255,0.1);
	box-shadow: inset 0px -1px 0px rgba(255,255,255,0.1);
	text-indent: 58px;
	line-height: 65px;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3f759f', EndColorStr='#34608c');
}

.navigation .vendor a {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	font-family:'Proxima N W15 Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navigation ol {
	float: left;
	height: 59px;
	list-style: none;
}

.navigation li {
	position: relative;
	float: left;
	height: 59px;
	border-right: 1px solid #26537c;
	line-height: 64px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.navigation li a {
	display: block;
	padding: 0 25px;
	font-family:'Proxima N W15 Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navigation li:hover {
	background: #19517d;
}

.navigation li.current {
	background: #F1F1F1;
	-webkit-box-shadow: 0px 8px 0px #F1F1F1;
	-moz-box-shadow: 0px 8px 0px #F1F1F1;
	box-shadow: 0px 8px 0px #F1F1F1;
}

.navigation li.current a {
	color: #333;
	text-shadow: 0px 1px 0px #FFF;
}

.logout {
	position: absolute;
	top: 14px;
	right: 14px;
	display: block;
	width: 101px;
	height: 31px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #19517d;
	-webkit-box-shadow: 1px 1px 0px #5584b4;
	-moz-box-shadow: 1px 1px 0px #5584b4;
	box-shadow: 1px 1px 0px #5584b4;
	text-align: center;
	text-shadow: none;
	font-size: 0.875em;
	font-family: 'Proxima N W15 Bold' !important;
	line-height: 28px;
}

.logout:before {
	position: relative;
	top: 1px;
	margin-right: 6px;
	content: "\f011";
	font-size: 1.15em;
	font-family: 'FontAwesome';
}

.logout:hover {
	-webkit-box-shadow: inset 0px -2px 5px 0px rgba(000, 000, 000, 0.25), 1px 1px 0px #5584b4;
	-moz-box-shadow: inset 0px -2px 5px 0px rgba(000, 000, 000, 0.25), 1px 1px 0px #5584b4;
	box-shadow: inset 0px 1px 5px 0px rgba(000, 000, 000, 0.25), 1px 1px 0px #5584b4;
}



/* Dashboard / Welcome
------------------------------------------------------------ */



.welcome {
	position: absolute;
	top: 50%;
	width: 100%;
	-webkit-box-shadow: 0px 4px 0px #F1F1F1;
	-moz-box-shadow: 0px 4px 0px #F1F1F1;
	box-shadow: 0px 4px 0px #F1F1F1;
	text-align: center;
	font-size: 26px;
	font-family:'Proxima N W15 Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.welcome:before {
	margin-right: 10px;
	content: "\f118";
	font-family: 'FontAwesome';
}



/* Loading spinner
------------------------------------------------------------ */



.loading-spinner {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 9999;
	display: none;
	width: 300px;
	height: 65px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: rgba(000,000,000,0.4);;
}

.loading-spinner p {
	position: absolute;
	top: 20px;
	left: 20px;
	color: #FFF;
	font-size: 1.5em;
	font-family: 'Proxima N W15 Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.spinner {
	position: absolute;
	top: 12px;
	right: 16px;
	z-index: 1000;
	width: 30px;
	height: 30px;
	border: 5px solid rgba(255,255,255,0.15);
	border-radius: 100%;
	-webkit-animation: rotation .6s infinite linear;
	-moz-animation: rotation .6s infinite linear;
	-o-animation: rotation .6s infinite linear;
	animation: rotation .6s infinite linear;
}

.spinner:before {
	position: absolute;
	top: -5px;
	left: -5px;
	display: block;
	width: 100%;
	height: 100%;
	border: 5px solid rgba(255,255,255,0.8);
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid transparent;
	border-radius: 100%;
	content: "";
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}

.loading .loading-spinner {
	display: block;
}



/* Sidebar
------------------------------------------------------------ */



.sidebar {
	position: fixed;
	z-index: 0;
	float: left;
	overflow-x: hidden;
	width: 250px;
	height: inherit;
	background: #333;
}

.sidebar .search {
	position: relative;
}

.sidebar .search .field input /* Override the field styling */ {
	max-width: 210px;
	width: 210px;
}

.sidebar .search label {
	display: none;
}

.sidebar input {
	margin: 20px 20px 20px 19px;
	padding: 6px 0 0 4px;
	width: 210px;
	height: 40px;
	border: none;
	background: #111;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	color: #999;
	text-align: left;
	text-indent: 0px;
	font-size: 0.875em;
	font-family:'Proxima N W15 Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-appearance: none;
}

.sidebar .search input:focus button {
	display: none;
}

.sidebar .search ::-webkit-input-placeholder,
.sidebar .search :-moz-placeholder,
.sidebar .search ::-moz-placeholder,
.sidebar .search :-ms-input-placeholder {
	float: left;
	color: red;
	text-align: left;
	text-indent: 0;
}

.sidebar .button {
	margin: 0 20px 20px;
	padding: 12px 0;
	width: 210px;
}

.sidebar .button:active {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 0 1px rgba(0, 0, 0, 0.08), 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 0 1px rgba(0, 0, 0, 0.08), 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 0 1px rgba(0, 0, 0, 0.08), 0 1px 0 rgba(255, 255, 255, 0.25);	
}

.sidebar .search button {
    position: absolute;
    top: 34px;
    right: -1px;
    padding: 0;
	border: none;
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: transparent;
    color: transparent;
    text-shadow: none;
    font-size: 0;
	line-height: 0;
}

.sidebar .search button:before {
	color: #999;
	content: "\f002";
	font-size: 12px;
	font-family: 'FontAwesome';
	line-height: 12px;
}



/* Sidebar Menu */



.sidebar .menu {
	float: left;
	margin: 0;
	padding: 0;
	width: 250px;
	border-top: 1px solid #222;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255,255,255,0.1);
}

.sidebar .menu a {
	overflow: hidden;
	max-height: 40px;
	color: #FFF;
	text-decoration: none;
	text-overflow: ellipsis;
	text-shadow: 0px 1px 1px rgba(000,000,000,0.25);
	white-space: nowrap;
	font-size: 0.875em;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.sidebar .menu ol {
	float: left;
	margin: 0;
	margin-top: 41px;
	padding: 0;
	width: 250px;
	list-style: none;
}

.sidebar .menu li /* Top level */ {
	position: relative;
	float: left;
	min-height: 40px;
	width: 250px;
	border-bottom: 1px solid #151515;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	color: #FFF;
	list-style: none;
}

.sidebar .menu .open {
	border-bottom: none;
	background: #444;
}

.sidebar .menu .open > a:first-child {
	border-bottom: 1px solid #1d1d1d;
}

.sidebar .menu li:hover {
	background: #444;
}

.sidebar .menu li a,
.sidebar .menu .active li a {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	padding: 0 20px;
	width: 210px;
	line-height: 40px;
}

.sidebar .menu li ol,
.sidebar .menu li ol li ol {
	display: none;
	background: #252525;
}

.sidebar .menu .badge {
	position: absolute;
	top: 7px;
	right: 7px;
	display: block;
	padding: 5px;
	width: 16px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #111;
	text-align: center;
	text-indent: 0 !important;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 16px;
}

.sidebar .menu li li /* First child  */ {
	min-height: 40px;
	background: #252525;
	-webkit-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525;
	-moz-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525;
	box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525;
	text-indent: 20px;
}

.sidebar .menu li li li /* Second child */ {
	-webkit-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae;
	-moz-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae;
	box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae;
	text-indent: 40px;
}

.sidebar .menu li li li li /* Third child */ {
	-webkit-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 15px 0 0 #1f527f;
	-moz-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 15px 0 0 #1f527f;
	box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 15px 0 0 #1f527f;
	text-indent: 60px;
}

.sidebar .menu li li li li li /* Fourth child */ {
	-webkit-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 15px 0 0 #1f527f, inset 16px 0 0 #252525, inset 23px 0 0 #153a5a;
	-moz-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 15px 0 0 #1f527f, inset 16px 0 0 #252525, inset 23px 0 0 #153a5a;
	box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 11px 0 0 #286fae, inset 12px 0 0 #252525, inset 17px 0 0 #1f527f, inset 18px 0 0 #252525, inset 23px 0 0 #153a5a;
	text-indent: 60px;
}

.sidebar .menu li li li li li /* Fifth child */ {
	-webkit-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 15px 0 0 #1f527f;
	-moz-box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 15px 0 0 #1f527f;
	box-shadow: inset 5px 0 0 #467eb0, inset 6px 0 0 #252525, inset 10px 0 0 #286fae, inset 11px 0 0 #252525, inset 15px 0 0 #1f527f;
	text-indent: 60px;
}


/* Main
------------------------------------------------------------ */



.pos-clear /* clear space for the navigation */ {
	margin: 61px 0 40px 0;
	width: 100%;
	height: -moz-calc(100% - 101px);
    height: -webkit-calc(100% - 101px);
    height: calc(100% - 101px);
}

.main {
    position: fixed;
	display: inline-block;
    float: left;
    overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 40px 250px;
	width: -moz-calc(100% - 250px);
    width: -webkit-calc(100% - 250px);
    width: calc(100% - 250px);
	height: inherit;
}

.dashboard {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 23px;
	width: 100%;
}

.dashboard h1 {

}


/* Page title
------------------------------------------------------------ */


.title {
	z-index: 10;
	padding: 20px 22px 15px;
	width: 100%;
	border-bottom: 1px solid #c4c4c4;
	background-color: #f1f1f1;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e7e7e7));
	background-image: -webkit-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: -moz-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: -o-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: -ms-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: linear-gradient(top, #f1f1f1, #e7e7e7);
	-webkit-box-shadow: 0px 1px 3px rgba(150,150,150,0.25), inset 0px -1px 0px rgba(255,255,255,0.5);
	-moz-box-shadow: 0px 1px 3px rgba(150,150,150,0.25), inset 0px -1px 0px rgba(255,255,255,0.5);
	box-shadow: 0px 1px 3px rgba(150,150,150,0.25), inset 0px -1px 0px rgba(255,255,255,0.5);
	text-shadow: 0px 1px 0px #FFF;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f1f1f1', EndColorStr='#e7e7e7');
}

.title h1 {
	display: inline-block;
	width: auto;
}

.title h2 {
	display: inline-block;
	margin-left: 15px;
	width: auto;
	font-size: 0.9em;
}

.title h1:hover,
.title h2:hover {
	cursor: default;
}

.title h1[data-title]:after {
	margin-left: 8px;
	content: "\f040";
	font-size: 0.875em;
	font-family: 'FontAwesome';
}

.title h1[data-title]:hover {
	cursor: pointer;
}

.edit-title {
	position: absolute;
	top: 0;
	z-index: 11;
	display: none;
	padding-left: 22px;
	width: 100%;
	height: 64px;
	background: #F1F1F1;
	background-color: #f1f1f1;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e7e7e7));
	background-image: -webkit-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: -moz-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: -o-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: -ms-linear-gradient(top, #f1f1f1, #e7e7e7);
	background-image: linear-gradient(top, #f1f1f1, #e7e7e7);
	-webkit-box-shadow: 0px 1px 3px rgba(150,150,150,0.25), inset 0px -1px 0px rgba(255,255,255,0.5);
	-moz-box-shadow: 0px 1px 3px rgba(150,150,150,0.25), inset 0px -1px 0px rgba(255,255,255,0.5);
	box-shadow: 0px 1px 3px rgba(150,150,150,0.25), inset 0px -1px 0px rgba(255,255,255,0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f1f1f1', EndColorStr='#e7e7e7');
}

.edit-title label {
	display: none;
}

.edit-title input {
	z-index: 11;
	float: left;
	margin: 10px 10px 0 0;
	max-width: 300px;
}

.edit-title button {
	z-index: 11;
	float: left;
	margin-top: 11px;
}



/* Top Bar
------------------------------------------------------------ */



.topbar {
	z-index: 10;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: -1px 0 0;
	padding: 0 23px 0 0;
	width: 100%;
	height: 56px;
	border-top: 1px solid #C8C8C8;
	border-bottom: 1px solid #C8C8C8;
	background-color: #f9f9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -moz-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -o-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -ms-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: linear-gradient(top, #f9f9f9, #f1f1f1);
	-webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.05);
	-moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.05);
	box-shadow: 0px 1px 3px rgba(000,000,000,0.05);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f9f9f9', EndColorStr='#f1f1f1');
}

.topbar .tabs {
	float: left;
	list-style: none;
}

.topbar .tabs li {
	position: relative;
	float: left;
	height: 56px;
	border-right: 1px solid #EDEDED;
	text-decoration: 0px 1px 0px rgba(255,255,255,1.0);
	font-size: 0.938em;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*.topbar .tabs li.active:after {
	display: block;
	content: '';
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #F1F1F1;
	position: absolute;
	left: 50%;
	margin: -6px 0 0 -10px;
}

.topbar .tabs li.active:before {
	display: block;
	content: '';
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #C8C8C8;
	position: absolute;
	left: 50%;
	bottom: -1px;
	margin: 0 0 0 -8px;
}*/

.topbar .tabs a {
	display: block;
	padding: 0 23px;
	height: 56px;
	text-decoration: none;
	text-shadow: 0px 1px 0px rgba(255,255,255,1.0);
	line-height: 61px;
}

.controls {
	margin: 0 162px 0 0;
	width: auto;
	height: 56px;
	text-align: right;
}



/* Delete page */



#delete-page {
	position: relative;
	display: inline-block;
	margin-right: 8px;
}

.delete-page {
	display: inline-block;
	margin-top: 7px;
	margin-right: 35px;
	padding: 0;
	border: none !important;
	border-bottom: 1px solid #555;
	background: none !important;
	box-shadow: none;
	color: #333 !important;
	text-shadow: 0px 1px 0px #FFF !important;
	font-size: 1.0em;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.delete-page:before {
	margin-right: 8px;
	content: "\f014";
	font-family: 'FontAwesome';
}

.delete-page:hover {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}



/* Publish */



.publish {
	display: inline-block;
	margin-top: 12px;
	margin-right: 8px;
}

.publish a {
	text-decoration: none;
}

.publish .button-group span:before {
	content: "\f017";
	font-style: normal;
	font-family: 'FontAwesome';
}

.publish .dropdown-menu {
	position: absolute;
	top: 55px;
	left: 0;
	z-index: 100;
	display: none;
	box-sizing: border-box;
	padding: 23px 23px 3px 23px;
	width: 100%;
	border-bottom: 1px solid #C1C1C1;
	background: #FFF;
	-webkit-box-shadow: inset 0px 1px 3px rgba(000,000,000,0.1), 0px 1px 3px rgba(000,000,000,0.1);
	-moz-box-shadow: inset 0px 1px 3px rgba(000,000,000,0.1), 0px 1px 3px rgba(000,000,000,0.1);
	box-shadow: inset 0px 1px 3px rgba(000,000,000,0.1), 0px 1px 3px rgba(000,000,000,0.1);
}

.publish .dropdown-wrap {
	float: left;
	width: 460px;
}

.publish .date-time {
	float: left;
	margin-bottom: 20px;
	width: 100%;
	width: 460px;
	height: 32px;
}

.publish .date-time label {
	float: left;
	margin: 0 20px 0 0;
	width: auto;
	height: 32px;
	line-height: 32px;
}

/* .publish input.text-input {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.publish .date-time input {
	float: left;
	margin: 0 20px 0 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	width: auto;
	height: 32px;
	-webkit-appearance: none;
}

.publish input[type="date"]::-webkit-calendar-picker-indicator,
.publish input[type="date"]::-webkit-inner-spin-button,
.publish input[type="time"]::-webkit-calendar-picker-indicator,
.publish input[type="time"]::-webkit-inner-spin-button {
    display: none;
} */



/* Preview */




/* Content
------------------------------------------------------------ */



#save-content {
	position: fixed;
	top: 138px;
	right: 14px;
	z-index: 12;
}

.container-content {
	position: relative;
	overflow: visible;
	overflow-y: scroll;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 23px;
	width: inherit; 
	width: 100%;
	height: -moz-calc(100% - 120px);
    height: -webkit-calc(100% - 120px);
    height: calc(100% - 120px);
}



/* Create page */



.container-content.create-page {
	position: relative;
	float: left;
	overflow: visible;
	overflow-y: scroll;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 23px 0 23px 23px;
	width: inherit; 
	width: 100%;
	height: -moz-calc(100% - 65px);
    height: -webkit-calc(100% - 65px);
    height: calc(100% - 65px);
}

.create-page form {
	float: left;
}

.option-block {
	position: relative;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 2% 0;
	min-height: 100px;
	width: 49%;
	border: 1px solid #CCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #f6f6f6;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,1.0);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,1.0);
	box-shadow: 0 1px 0 rgba(255,255,255,1.0);
	text-shadow: 0 1px 0 #FFF;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.option-block:hover {
	background: #f1f1f1;
	cursor: pointer;
}

.option-block:nth-child(odd) {
	margin-left: 1%;
}

.option-block:nth-child(even) {
	margin-right: 1%;
}

.option-block input {
	position: absolute;
	top: 40px;
	left: 25px;
}

.option-block label {
	float: left;
	margin: 25px 0 10px 75px;
}

.option-block p {
	position: relative;
	top: 30px;
	float: left;
	margin-left: 10px;
	margin-left: 55px;
	width: -moz-calc(100% - 55px);
    width: -webkit-calc(100% - 55px);
    width: calc(100% - 55px);
}

.option-block p strong {
	font-weight: normal;
	font-family:'Proxima N W15 Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.option-block .type {
	margin-left: 55px;
}

.create-page button {
	position: fixed;
	top: 77px;
	right: 14px;
	z-index: 11;
}



/* Group */



.group {
	float: left;
	margin: 0 0 30px 0;
	width: 100%;
}

.group h2 {
	float: left;
	margin-bottom: 20px;
	width: 100%;
}

.group label {
	float: left;
	width: 100%;
}



/* Repeatable group */



.repeatable-group {
	position: relative;
	float: left;
	margin: 0 0 30px 0;
	max-width: 1400px;
	width: 100%;
}

.repeatable-group .container {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 20px;
	max-width: 70%;
	width: 70%;
}

.repeatable-group h2 {
	float: left;
	margin-bottom: 20px;
	width: 100%;
}

.repeatable-group .group {
	position: relative;
	margin-bottom: 0;
	border-right: 1px solid #b1b1b1;
	border-left: 1px solid #b1b1b1;
	background: #FFF;
}

.repeatable-group .group:last-child {
	border-bottom: 1px solid #b1b1b1;
}

.repeatable-group .field {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 20px;
}

.repeatable-group .field .field {
	padding: 0;
}

.repeatable-group .title {
	position: relative;
	z-index: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 20px 0;
	padding-bottom: 12px;
	width: 100%;
	border-top: 1px solid #b1b1b1;
	border-bottom: 1px solid #b1b1b1;
	background: none;
	background-color: #f9f9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -moz-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -o-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -ms-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: linear-gradient(top, #f9f9f9, #f1f1f1);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	font-size: 1em;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f9f9f9', EndColorStr='#f1f1f1');
}

.repeatable-group label {
	float: left;
	width: 100%;
}

.repeatable-group .remove {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.repeatable-group .add-group {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 70%;
}

.repeatable-group .add-group .group {
	margin-bottom: 20px;
	padding-top: 20px;
	border: 1px solid #b1b1b1;
}

.repeatable-group .submit {
	float: left;
	margin-top: 10px;
}

.repeatable-group .help {
	position: absolute;
	top: 44px;
	right: -30px;
	width: 30%;
}



/* Field */



.field {
	position: relative;
	float: left;
	margin: 0 0 30px 0;
	max-width: 1400px;
	width: 100%;
}

.field h2 {
	float: left;
	margin-bottom: 20px;
	width: 100%;
}

.field input,
.field textarea {
	max-width: 70%;
	width: 70%;
}

.field label {
	float: left;
	width: 100%;
}


/* Inline field styling */



.field.inline input[type="checkbox"],
.field.inline input[type="radio"] {
	position: absolute;
	left: 0;
	display: inline-block;
}

.field.inline label {
	display: inline-block;
	width: auto;
	text-indent: 25px;
}

.field.inline .help {
	margin-top: 0;
}

.field.inline .help .long {
	top: -10px;
}


/* Field slug */



.slug {
	display: inline-block;
	max-width: 70%;
	width: 70%;
	float: left;
}

.slug p {
	display: block;
	float: left;
	padding: 12px 13px 10px;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	-webkit-border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px;
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(top, #ffffff, #e6e6e6);
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#e6e6e6');
}

.slug input {
	display: inline-block;
	width: 100%;
	-webkit-border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
}



/* Authorship */



.authorship {
	float: left;
	width: 100%;
}

.authorship h2 {
	margin: 0 0 20px 0;
}

.authorship dt {
	float: left;
	clear: left;
	margin: 0 3px 10px 0;
	white-space: nowrap;
}

.authorship dd {
	float: left;
	margin: 0 0 10px 0;
	white-space: nowrap;
}



/* Display date */

#content-edit-content_date {
	float: left;
	width: 70%;
}

#content-edit-content_date select {
	min-width: 100px;
	margin-right: 10px;
}

#content-edit-content_date_time {
	float: left;
	width: 70%;
	clear: both;
}


/* Contextual help */



.help {
	float: left;
	margin: 11px 0 0 15px;
}

.help .short p {
	display: none;
}

.help .short a {
	text-decoration: none;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	visibility: hidden;
}

.help .short a:before {
	content: "\f06a";
	font-style: normal;
	font-family: 'FontAwesome';
	visibility: visible;
}

.help .short:hover {
	cursor: pointer;
}

.help .long {
	position: absolute;
	top: 29px;
	z-index: 20;
	display: none;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px;
	width: inherit;
	border: 1px solid #d5cb95;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fcf8e3;
	width: 50%;
	margin-left: 30px;
	min-height: 39px;
}

.help .long:before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 7px solid #d5cb95;
	position: absolute;
	left: -7px;
	top: 10px;
}

.help .long:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid #fcf8e3;
	left: -6px;
	top: 11px;
	position: absolute;
}

.help .long:hover {
	cursor: pointer;
}

.help .long p {
	color: #836229;
	line-height: 1.5em;
}



/* File Manager
------------------------------------------------------------ */



.container-content.file-manager {
	position: relative;
	float: left;
	overflow: visible;
	overflow-y: scroll;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 23px 0 23px 23px;
	width: inherit; 
	width: 100%;
	height: -moz-calc(100% - 65px);
    height: -webkit-calc(100% - 65px);
    height: calc(100% - 65px);
}

.listing a {
	display: inline-block;
	margin: 0 23px 23px 0;
	width: 200px;
	height: 200px;
	border: 5px solid #FFF;
	-webkit-box-shadow: 0 0 0 1px #ccc, 0 1px 3px rgba(000,000,000,0.2);
	-moz-box-shadow: 0 0 0 1px #ccc, 0 1px 3px rgba(000,000,000,0.2);
	box-shadow: 0 0 0 1px #ccc, 0 1px 3px rgba(000,000,000,0.2);
}

.listing img {
	width: 200px;
	height: 200px;
	background: #FFF;
}



/* Sidebar */



.search.file .field {
	margin-bottom: 0;
}

.file-upload {
	float: left;
}

.file-upload input[type=file] {
	margin-top: 0;
	padding-top: 12px;
	padding-left: 10px;
}

.sidebar .back {
	display: block;
	margin: 20px 0 0 25px;
	color: #FFF;
	text-align: left;
	text-decoration: none;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.sidebar .back:before {
	margin-right: 8px;
	content: "\f060";
	font-family: 'FontAwesome';
}



/* File Details */



.file-attributes {
	display: inline-block;
	width: 100%;
}

.file-attributes img {
	float: left;
	margin: 0 23px 23px 0;
	width: 500px;
	height: auto;
	border: 5px solid #FFF;
	-webkit-box-shadow: 0 0 0 1px #ccc, 0 1px 3px rgba(000,000,000,0.2);
	-moz-box-shadow: 0 0 0 1px #ccc, 0 1px 3px rgba(000,000,000,0.2);
	box-shadow: 0 0 0 1px #ccc, 0 1px 3px rgba(000,000,000,0.2);
}

.file-attributes h1 {
	display: inline-block;
	clear: right;
    margin: 20px 0;
	width: -moz-calc(100% - 550px);
    width: -webkit-calc(100% - 550px);
    width: calc(100% - 550px);
}

.file-attributes form {
	display: inline-block;
	width: -moz-calc(100% - 550px);
    width: -webkit-calc(100% - 550px);
    width: calc(100% - 550px);
}

.file-attributes #save-content {
	top: 73px;
}

.file-details {
	list-style: none;
	text-shadow: 0 1px 0 #FFF;
	font-family:'Proxima N W15 Smbd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.file-details li {
	margin-bottom: 20px;
}

.file-details span {
	display: inline-block;
	width: 150px;
}

.container-content.file-manager .button.delete {
	position: fixed;
	top: 79px;
	right: 151px;
	z-index: 12;
	display: inline-block;
	margin-top: 7px;
	margin-right: 35px;
	padding: 0;
	border: none !important;
	border-bottom: 1px solid #555;
	background: none !important;
	box-shadow: none;
	color: #333 !important;
	text-shadow: 0px 1px 0px #FFF !important;
}

/*.delete-file:before {
	margin-right: 8px;
	content: "\f014";
	font-family: 'FontAwesome';
}

.delete-file:hover {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
*/


/* Products
------------------------------------------------------------ */



.container-content.products {
	position: relative;
	float: left;
	overflow: visible;
	overflow-y: scroll;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 23px 0 23px 23px;
	width: inherit; 
	width: 100%;
	height: -moz-calc(100% - 120px);
    height: -webkit-calc(100% - 120px);
    height: calc(100% - 120px);
}

.container-content.products #save-content {
	top: 137px;
}



/* Create product */



.create-product {
	margin-top: 89px;
}

.create-product button {
	position: fixed;
	top: 77px;
	right: 14px;
	z-index: 11;
}


/* Units */





/* Sidebar */



.create.product {
	margin-top: 20px;
}



/* Orders
------------------------------------------------------------ */



/* Fulfillment */



.fulfillment li {
	list-style-type: none;
}


