/* ======================================================= */
/*                                                         */
/*                                                         */
/*    Mothership         					               */
/*                                                         */
/*                                                         */
/* ======================================================= */
/*                                                         
/*
/*    Development by Message
/*    http://www.message.co.uk
/*
/*    Control Panel Style Sheet v1.0
/*    Created by Richard McCartney
/*
/*
/* ======================================================= */


/* Login
------------------------------------------------------------ */

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -325px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: -412px;
	width: 824px;
	height: 650px;
}

.container-login {
	background: #050505 url(../images/login-background.jpg) no-repeat top center;
}

.container-login h1 {
	margin: 49px 0 39px;
	color: #E1E1E1;
	text-align: center;
	text-shadow: 0px 1px 2px rgba(000,000,000,0.75);
	font-size: 3.250em;
	font-family:'Proxima N W15 Bold';
}

.spaceship {
	display: block;
	margin: 0 auto;
	width: 212px;
	height: 192px;
	background: url(../images/spaceship.png) no-repeat;
}

.shadow {
	display: block;
	margin: 0 auto;
	width: 220px;
	height: 23px;
	background: url(../../images/shadow.png) no-repeat;
}

.container-login .form {
	float: left;
	max-width: 824px;
	width: 100%;
}

.container-login .form div {
	position: relative;
}

.container-login .form h1 {
	margin-top: 18px;
	margin-bottom: 17px;
	text-align: left;
	font-size: 1.125em;
}

.container-login .form p {
	padding-bottom: 30px;
	color: #E1E1E1;
	line-height: 1.8;
}

.container-login .form input[type="email"],
.container-login .form input[type="password"] {
	float: left;
	margin-right: 2.4271844660194173%;
	max-width: 325px;
	width: 39.44174757281553%;
	height: 48px;
}

.container-login .form button {
	position: absolute;
	float: left;
	clear: right;
	margin-bottom: 30px;
	padding: 16px 21px 12px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.container-login .form button:active {
	padding: 17px 21px 11px;
	text-shadow: 0px -1px 0 rgba(000,000,000,0.8);
}

.container-login .form .checkbox {
	float: left;
	margin-right: 2.4271844660194173%;
	max-width: 325px;
	width: 39.44174757281553%;
}

.container-login .form label {
	float: left;
	color: #E1E1E1;
	font-size: 14px;
}

.container-login .form label[for="login_email"],
.container-login .form label[for="login_password"] {
	position: absolute;
	top: 15px;
	z-index: 999;
	margin-left: 15px;
	color: #999;
	font-size: 16px;
	font-family: 'Lucida Grande';
}

.container-login .form label[for="login_email"]:before {
	margin-right: 10px;
	content: "\f007"; 
	font-family: 'FontAwesome';
}

.container-login .form label[for="login_password"]:before {
	margin-right: 10px;
	content: "\f023"; 
	font-family: 'FontAwesome';
}

.container-login .form label[for="login_remember"] {
	position: absolute;	
	top: 79px;
	left: 25px;
}

.container-login .form input[type="checkbox"] {
	position: absolute;
	top: 79px;
	left: 0;
}

.container-login .form a {
	float: left;
	margin-left: 344px;
	color: #E1E1E1;
	font-size: 14px;
}

.container-login footer {
	color: #b1b3b4;
}

.container-login footer a {
	color: #b1b3b4;
}

/* Navigation
------------------------------------------------------------ */

.navigation {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: 59px;
	border: 1px solid #26537c;
	background-color: #528cb6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#528cb6), to(#4473a6));
	background-image: -webkit-linear-gradient(top, #528cb6, #4473a6);
	background-image: -moz-linear-gradient(top, #528cb6, #4473a6);
	background-image: -o-linear-gradient(top, #528cb6, #4473a6);
	background-image: -ms-linear-gradient(top, #528cb6, #4473a6);
	background-image: linear-gradient(top, #528cb6, #4473a6);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#528cb6', EndColorStr='#4473a6');
	overflow: hidden;
}

.navigation a {
	color: #FFF;
	text-decoration: none;
	font-size: 14px;
	text-shadow: 0px 1px 1px rgba(000,000,000,0.25);
	font-family:'Proxima N W15 Smbd';
}

.navigation .vendor {
	height: 59px;
	line-height: 59px;
	float: left;
	width: 249px;
	background-color: #3f759f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3f759f), to(#34608c));
	background-image: -webkit-linear-gradient(top, #3f759f, #34608c);
	background-image: -moz-linear-gradient(top, #3f759f, #34608c);
	background-image: -o-linear-gradient(top, #3f759f, #34608c);
	background-image: -ms-linear-gradient(top, #3f759f, #34608c);
	background-image: linear-gradient(top, #3f759f, #34608c);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3f759f', EndColorStr='#34608c');
	border-right: 1px solid #26537c;
	position: relative;
	text-indent: 15px;
}

.navigation .vendor a {
	font-family:'Proxima N W15 Bold';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.navigation ol {
	float: left;
	list-style: none;
}

.navigation li {
	float: left;
	border-right: 1px solid #26537c;
	height: 59px;
	line-height: 59px;
	position: relative;
}

.navigation li a {
	display: block;
	padding: 0 25px;
}

.navigation li:hover {
	background-color: #3f759f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3f759f), to(#22518c));
	background-image: -webkit-linear-gradient(top, #3f759f, #22518c);
	background-image: -moz-linear-gradient(top, #3f759f, #22518c);
	background-image: -o-linear-gradient(top, #3f759f, #22518c);
	background-image: -ms-linear-gradient(top, #3f759f, #22518c);
	background-image: linear-gradient(top, #3f759f, #22518c);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3f759f', EndColorStr='#22518c');
	-webkit-box-shadow: inset 0px -2px 5px 0px rgba(000, 000, 000, 0.25);
	-moz-box-shadow: inset 0px -2px 5px 0px rgba(000, 000, 000, 0.25);
	box-shadow: inset 0px 1px 5px 0px rgba(000, 000, 000, 0.25);
}

.logout {
	width: 101px;
	height: 31px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #19517d;
	display: block;
	position: absolute;
	top:13px;
	right:15px;
	text-align: center;
	line-height: 29px;
	-webkit-box-shadow: 1px 1px 0px #5584b4;
	-moz-box-shadow: 1px 1px 0px #5584b4;
	box-shadow: 1px 1px 0px #5584b4;
}

.logout:before {
	font-family: 'FontAwesome';
	content: "\f011";
	margin-right: 10px;
}

/* Dashboard / Welcome
------------------------------------------------------------ */

.welcome {
	font-family:'Proxima N W15 Bold';
	font-size: 26px;
	text-align: center;
	position: absolute;
	top: 50%; 
	width: 100%;
}

