{% extends '::_templates/main' %}

{% block content %}
<h1>Log in to Mothership</h1>

{{ render(controller('Message:User::Controller:Authentication#login', {
	redirectURL: url(redirectRoute),
	forgottenPasswordRoute: 'ms.cp.password.request'
})) }}
{% endblock %}