	<footer class="footer" role="contentinfo">
			<small class="copy">&copy; <a href="http://message.co.uk">Message</a> {{ "now"|date('Y') }}</small>
			<a href="//{{ app.cfg.app.baseUrl|trim('//') }}" target="_blank" class="website"><i class="icon-external-link"></i>{{ app.cfg.app.baseUrl }}</a>
	</footer>