<div class="module portrait recent-list">
	<h2 class="title">
		CMS
	</h2>
	<div class="wrap">
		<h3>Recently added/edited</h3>
		<ol>
			{% for item in updated %}
				<li><time>{{ item.updated_at|date }}</time><a href="#">{{ item.title }}</a></li>
			{% endfor %}
		</ol>
		<hr>
		<h3>Recently deleted</h3>
		<ol>
			<li><time>1 hour ago</time><span>Gift Voucher</span><a class="restore button small" href="#">Restore</a></li>
			<li><time>9 days ago</time><span>203 SERIES (PVD Rose Gold / Walnut Leather)</span><a class="restore button small" href="#">Restore</a></li>
			<li><time>9 days ago</time><span>351 SERIES	 Brushed Steel / Blue NBR Rubber</span><a class="restore button small" href="#">Restore</a></li>
		</ol>
	</div>
</div>