{% extends '::_templates/main' %}

{% block content %}

<nav>
	<ol>
		<li><a href="{{ url('ms.cp.dashboard') }}">Dashboard</a></li>
		<li><a href="{{ url('ms.file_manager.listing') }}">File Manager</a></li>
	</ol>
</nav>

<section>
{% block main %}{% endblock %}
</section>

{% endblock %}