{% extends '::_templates/main' %}

{% block body %}

{{ render(controller('Message:Mothership:ControlPanel::Controller:Menu#main')) }}

<a href="{{ url('ms.cp.logout') }}">Log out</a>

<section>
{% block content %}{% endblock %}
</section>

{% endblock %}