{% extends '::_templates/cp' %}

{% block content %}
<section class="sidebar">
	{% block sidebar %}{% endblock %}
</section>
<section class="main">
		{% for key,types in app.session.getFlashBag.all %}
			{% for message in types %}
				<p class="{{ key }}">{{ message|raw }}</p>
			{% endfor %}
		{% endfor %}
	{% block main %}{% endblock %}
</section>
{% endblock %}