{% extends '::_templates/cp' %}

{% block content %}
<section class="sidebar">
	{% block sidebar %}{% endblock %}
</section>
<section class="main" data-live-pane>
	{% block main %}{% endblock %}
</section>
{% endblock %}