<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Mothership Control Panel{% endblock %}</title>
	</head>
	<body>
		{% for types in flashes %}
			{% for message in types %}
				<p>{{ message|raw }}</p>
			{% endfor %}
		{% endfor %}

		{% block body %}
		{% endblock %}

		<section role="contentinfo">
			<small>&copy; <a href="http://message.co.uk">Message</a> {{ "now"|date('Y') }}</small>
			<a class="frontend" href="{{ cfg.mothership.url }}" target="_blank">{{ cfg.mothership.url }}</a>
		</section>
	</body>
</html>