<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Mothership Control Panel{% endblock %}</title>
	</head>
	<body>
		{% for types in flash %}
			{% for message in types %}
				<p>{{ message|raw }}</p>
			{% endfor %}
		{% endfor %}

		{% block content %}
		{% endblock %}
	</body>
</html>