<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Mothership Control Panel{% endblock %}</title>

		{% stylesheets
			'Message:Mothership:ControlPanel::_assets/css/basic.css'
			'Message:Mothership:ControlPanel::_assets/css/fonts.css'
			'Message:Mothership:ControlPanel::_assets/css/cp.css'
			output='/assets/css/ms_cp.css'
		%}
			<link rel="stylesheet" href="{{ asset_url }}">
		{% endstylesheets %}
		<link type="text/css" rel="stylesheet" href="http://fast.fonts.com/cssapi/adb45bb0-8b19-4114-9732-22f09ca5cade.css"/>

		{% javascripts
			'Message:Mothership:ControlPanel::_assets/js/components/jquery/jquery.min.js'
			'Message:Mothership:ControlPanel::_assets/js/components/history.js/scripts/bundled/html5/jquery.history.js'
			'Message:Mothership:ControlPanel::_assets/js/setup.js'
			'Message:Mothership:ControlPanel::_assets/js/livePane.jquery.js'
			'Message:Mothership:ControlPanel::_assets/js/forms.js'
			'Message:Mothership:ControlPanel::_assets/js/dropdown.js'
			'Message:Mothership:ControlPanel::_assets/js/title.js'
			'Message:Mothership:ControlPanel::_assets/js/help.js'
			output='/assets/js/ms_cp.js'
		%}
			<script src="{{ asset_url }}"></script>
		{% endjavascripts %}

	</head>
	<body>
		<div class="loading-spinner">
			<div class="spinner"></div>
		</div>
		{% for key,types in app.session.getFlashBag.all %}
			{% for message in types %}
				<p class="{{ key }}">{{ message|raw }}</p>
			{% endfor %}
		{% endfor %}

		{% block body %}
		{% endblock %}

	</body>
</html>