<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Mothership Control Panel{% endblock %}</title>

		{% stylesheets
			'Message:Mothership:ControlPanel::_assets/css/basic.css'
			'Message:Mothership:ControlPanel::_assets/css/fonts.css'
			'Message:Mothership:ControlPanel::_assets/css/cp.css'
			output='/assets/css/ms_cp.css' %}
			<link href="{{ asset_url }}" rel="stylesheet">
		{% endstylesheets %}
			<link rel="stylesheet" href="//fast.fonts.com/cssapi/97534885-97aa-4253-9892-b983a466ab47.css"/>
	</head>
	<body>
			{% for types in flashes %}
				{% for message in types %}
					<p>{{ message|raw }}</p>
				{% endfor %}
			{% endfor %}

			{% block body %}
			{% endblock %}

	</body>
</html>