{% extends '::_templates/cp' %}

{% block content %}

<section class="main-full">

	{% block main %}{% endblock %}
</section>
<section class="content-slide" id="main-slide" data-live-slide>

	{% block slide %}{% endblock %}

</section>
{% endblock %}