{% extends '::_templates/cp' %}

{% block content %}
<a href="#sidebar" class="sidebar-collapse">&gt;</a>
<section class="sidebar" id="sidebar">
<a href="#" class="sidebar-collapse-close">Close</a>
	{% block sidebar %}{% endblock %}
</section>
<section class="main" data-live-pane>

	{% block main %}{% endblock %}

</section>
{% endblock %}