<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Mothership Control Panel{% endblock %}</title>

		{% stylesheets
			'@Message:Mothership:ControlPanel::resources/assets/css/basic.css'
			'@Message:Mothership:ControlPanel::resources/assets/css/fonts.css'
			'@Message:Mothership:ControlPanel::resources/assets/css/cp.css'
			output='/assets/css/ms_cp.css'
			filter='csscogulerewrite'
		%}
			<link rel="stylesheet" href="{{ asset_url }}">
		{% endstylesheets %}
		<link type="text/css" rel="stylesheet" href="http://fast.fonts.com/cssapi/adb45bb0-8b19-4114-9732-22f09ca5cade.css"/>

		{% javascripts
			'@Message:Mothership:ControlPanel::resources/assets/js/components/jquery/jquery.min.js'
			'@Message:Mothership:ControlPanel::resources/assets/js/components/history.js/scripts/bundled/html5/jquery.history.js'
			'@Message:Mothership:ControlPanel::resources/assets/js/livePane.jquery.js'
			'@Message:Mothership:ControlPanel::resources/assets/js/nestedAccordian.jquery.js'
			'@Message:Mothership:ControlPanel::resources/assets/js/setup.js'
			'@Message:Mothership:ControlPanel::resources/assets/js/forms.js'
			output='/assets/js/ms_cp.js'
		%}
			<script src="{{ asset_url }}"></script>
		{% endjavascripts %}

	</head>
	<body>

		{% for key,types in app.session.getFlashBag.all %}
			<div class="feedback {{ key }}">
				{% for message in types %}
					<p>{{ message|raw }}</p>
				{% endfor %}
			</div>
		{% endfor %}

		{% block body %}
		{% endblock %}

	</body>
</html>