<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Mothership Control Panel{% endblock %}</title>
		
		{% block stylesheets %}
			{% stylesheets
				'@Message:Mothership:ControlPanel::resources/assets/css/basic.css'
				'@Message:Mothership:ControlPanel::resources/assets/css/fonts.css'
				output='/assets/css/ms_base.css'
				filter='csscogulerewrite'
			%}
				<link rel="stylesheet" href="{{ asset_url }}">
			{% endstylesheets %}
		{% endblock %}

		{% block javascripts %}
			{% javascripts
				'@Message:Mothership:ControlPanel::resources/assets/js/components/jquery/jquery.js'
				'@Message:Mothership:ControlPanel::resources/assets/js/setup.js'
				
				output='/assets/js/ms_base.js'
			%}
				<script src="{{ asset_url }}"></script>
			{% endjavascripts %}
		{% endblock %}

	</head>
	<body>

		{% for key,types in app.session.getFlashBag.all %}
			<div class="feedback {{ key }}">
				{% for message in types %}
					<p>{{ message|raw }}</p>
				{% endfor %}
			</div>
		{% endfor %}

		{% block body %}
		{% endblock %}

	</body>
</html>